<div class="popup col-s popup-coe-finance-coe" data-id="popup-coe-finance-coe">
  <header class="popup-headline">
    <h4>COE</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content">
    <div>
      Anyone who wishes to register a new vehicle in Singapore must first obtain a Certificate of Entitlement (COE).
      These can be obtained through COE Open Bidding exercises held twice monthly by LTA.<br>
      Guaranteed COE is defined as the promise to get your COE after the stated number of bids
      <p class="sub-text">(A 2 bids guaranteed COE package would mean that you will be able to obtain your COE in 1 month.)</p>
    </div>
  </div>
</div>