<div class="popup" data-id="popup-coe-finance-down-payment">
  <header class="popup-headline">
    <h4>Down Payment</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content">
    <p>이 곳에 팝업 상세내용 작성하시면 됩니다.</p>
    <!-- [Start] 팝업 버튼 -->
    <div class="pop-btnset-area">
      <a href="#" class="btn-defult" role="button">저장</a>
      <a href="#" class="btn-defult popup-close" role="button">취소</a>
    </div>
    <!-- [End] 팝업 버튼 -->
  </div>
</div>