<div class="popup col-s popup-coe-finance-change-a-car" data-id="popup-coe-finance-change-a-car">
  <header class="popup-headline">
    <h4>Change a Car</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content">
    <div>If you go to the Select a Car page, all previously entered data will be deleted. Do you want to save the data in your Cart before going to the Select a Car page?</div>
    <!-- [Start] 팝업 버튼 -->
    <div class="pop-btnset-area">
      <a href="#" class="btn-m-cancel-gray" role="button">Cancel</a>
      <a href="#" class="btn-m-saving" role="button">Go without saving</a>
      <a href="#" class="btn-m-popup-close-orange" role="button">Save and go</a>
    </div>
    <!-- [End] 팝업 버튼 -->
  </div>
</div>