<div class="popup col-xxs" data-id="popup-configure-color-total-price">
  <header class="popup-headline">
    <h4>Total Price</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content scroll-y">
    <div>Total Price 수급 예정</div>
  </div>
</div>