<div class="popup col-xxs popup-configure-color-notice" data-id="popup-configure-color-notice">
  <header class="popup-headline">
    <h4>Notice</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content scroll-y">
    <div class="popup-content-inner">Above image may differ from the actual spec and color. Visiting nearest dealer and checking actual vehicle are recommended.</div>
    <!-- [Start] 팝업 버튼 -->
    <div class="pop-btnset-area">
      <a href="#" class="btn-m-list-gray" role="button">List</a>
      <a href="#" class="btn-m-cancel" role="button">Cancel</a>
      <a href="#" class="btn-m-popup-close-orange" role="button">Save</a>
    </div>
    <!-- [End] 팝업 버튼 -->
  </div>
</div>