<div class="popup col-s popup-order-package-summary-model" data-id="popup-order-package-summary-model">
  <header class="popup-headline">
    <h4>Summary</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content scroll-y">
    <div>
      <div class="popup-tab">
        <ul class="tab-inner col-3">
          <li class="is-active"><button type="button"><span>Exterior</span></button></li>
          <li><button type="button"><span>Price</span></button></li>
          <li><button type="button"><span>Online Vouchers</span></button></li>
        </ul>
      </div>
      <div class="tab-panel-group">
        <div class="content-panel is-active">
          <div class="exterior-img">
            <img src="../../assets/images/buy-online/popup/dummy/summary-model-exterior-img.jpg" alt="">
          </div>
          <div>
            <dl>
              <dt>Vehicle</dt>
              <dd class="order-package-tit">i30 Premium 2.0 GDi Manual</dd>
              <dd>
                <p class="included">Default Feature <span class="order-package-bold-orange">Included</span></p>
                <div class="order-package-list">
                  <ul>
                    <li><strong class="order-package-list-tit">Engine type</strong><p class="order-package-list-txt">DOHC width Dual CVVT</p></li>
                    <li><strong class="order-package-list-tit">Transmission</strong><p class="order-package-list-txt">7-speed Dual Clutch</p></li>
                    <li><strong class="order-package-list-tit">Max. Power (kW / RPM)</strong><p class="order-package-list-txt">120 / 6,200</p></li>
                    <li><strong class="order-package-list-tit">Max. Torque (Nm / RPM)</strong><p class="order-package-list-txt">203 / 4,700</p></li>
                    <li><strong class="order-package-list-tit">Engine Capacity (cc)</strong><p class="order-package-list-txt">1,999</p></li>
                    <li><strong class="order-package-list-tit">Fuel Type</strong><p class="order-package-list-txt">Petrol</p></li>
                    <li><strong class="order-package-list-tit">Fuel Consumption (L / 100km)</strong><p class="order-package-list-txt">7.3</p></li>
                  </ul>
                </div>
              </dd>
            </dl>
            
            <dl>
              <dt>Color</dt>
              <dd>Exterior : Platinum Silver<p class="order-package-bold-orange">$150.24</p></dd>
              <dd>Interior / Texture : Black  Cloth<p class="order-package-bold-orange">$300.35</p></dd>
            </dl>

            <dl>
              <dt>Options</dt>
              <dd>Wheels: 17” Alloy<p class="order-package-bold-orange">$500.15</p></dd>
            </dl>
          </div>
          <div class="summary-model-payment-info">
            <p>$74,539.00 for 84 months at 2.30%</p>
            <p class="payment-monthly">Monthly Installment <span>$887.59</span></p>
          </div>
        </div>
        
        <div class="content-panel">
          <div>
            <dl>
              <dt>Vehicle Price</dt>
              <dd>MSRP (Incl.GST)<p class="order-package-bold-orange">$87,489.52</p></dd>
              <dd>Color<p class="order-package-bold-orange">$450.33</p></dd>
              <dd>Options<p class="order-package-bold-orange">$0</p></dd>
              <dd>Total Price<p class="order-package-bold-orange">$87,393.15</p></dd>
            </dl>
            
            <dl>
              <dt>Finance</dt>
              <dd>COE Type : Non – Guaranteed<p class="order-package-bold-orange">$150.24</p></dd>
              <dd>Down Payment<p class="order-package-bold-orange">$12,000.83</p></dd>
              <dd>Loan Term (month)<p class="order-package-bold-orange">84</p></dd>
              <dd>Preferred Bank<p class="order-package-bold-orange">DBS</p></dd>
              <dd>APR (%)<p class="order-package-bold-orange">2.30</p></dd>
              <dd>Deposit<p class="order-package-bold-orange">$1,400.81</p></dd>
              <dd>Balance Due<p class="order-package-bold-orange">$74,539.24</p></dd>
            </dl>

            <dl>
              <dt>National Offers</dt>
              <dd>FREE 5 Years/75,000km Servicing</dd>
            </dl>

            <dl>
              <dt>National Offers</dt>
              <dd>
                Promotion (Jun – 2018)
                <div class="order-package-list">
                  <ul>
                    <li><strong class="order-package-list-tit">Discount</strong><p class="order-package-list-txt-orange">-$1,000.42</p></li>
                    <li><strong class="order-package-list-tit">COE</strong><p class="order-package-list-txt">4 Bids non-Guaranteed COE</p></li>
                    <li><strong class="order-package-list-tit">Free Preventive Maintenance services</strong><p class="order-package-list-txt">5 years</p></li>
                    <li><strong class="order-package-list-tit">Others</strong><p class="order-package-list-txt">1 Front / Rear view camera Set<br>
                      2 Front / Rear view camera Set<br>
                      3 Front / Rear view camera Set</p></li>
                  </ul>
                </div>
              </dd>
            </dl>
            
          </div>
          <div class="summary-model-payment-info">
            <p>$74,539.00 for 84 months at 2.30%</p>
            <p class="payment-monthly">Monthly Installment <span>$887.59</span></p>
          </div>
        </div>
        
        <div class="content-panel">
          <div>
            <dl class="discount-box">
              <dt>Discount<span class="discount">- $1,200.12</span></dt>
              <dd>COE<p class="order-package-bold-orange">4 Bids non-Guaranteed COE</p></dd>
              <dd>Free Preventive Maintenance services<p class="order-package-bold-orange">5 years</p></dd>
              <dd>Others<p class="order-package-bold-orange">Front / Rear view camera Set</p></dd>
              <dd>Code<p class="order-package-bold">C160618001</p></dd>
              <dd>Applicable Model<p class="order-package-bold">i30 Premium 2.0 GDi Manual</p></dd>
              <dd>Date of use<p class="order-package-bold">20-Jun-18, 18:00:00</p></dd>
            </dl>
          </div>
          <div class="summary-model-payment-info">
            <p>$74,539.00 for 84 months at 2.30%</p>
            <p class="payment-monthly">Monthly Installment <span>$887.59</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('.popup-content .popup-tab').on('click', 'button', function(){
    var idx = $(this).parent().index();
    var $panel = $(this).closest('.popup-content').find('.content-panel');
    
    $(this).parent().addClass('is-active').siblings().removeClass('is-active');
    $panel.removeClass('is-active').eq(idx).addClass('is-active');
  });
});
</script>