<div class="popup popup-summary-sales-person-change" data-id="popup-summary-sales-person-change">
  <header class="popup-headline">
    <h4>Sales Person change</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content">
    <div>
      <p class="sales-person-change-txt">You can change the salesperson <span>only once.</span></p>
      <div class="sales-person-change-list">
        <ul class="list-title">
          <li><strong>Name</strong></li>
          <li><strong>Email</strong></li>
          <li><strong>Phone</strong></li>
          <li><strong>On/Off</strong></li>
          <li><strong>Select</strong></li>
        </ul>
        <ul class="list-content">
          <li>
              <span class="sales-person-name">Andrei</span>
              <span class="sales-person-email">Andrei@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check on">On</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Antonio</span>
              <span class="sales-person-email">Antonio@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check on">On</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Erwin</span>
              <span class="sales-person-email">Erwin@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Justine</span>
              <span class="sales-person-email">Justine@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Justine</span>
              <span class="sales-person-email">Justine@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Andrei</span>
              <span class="sales-person-email">Andrei@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Antonio</span>
              <span class="sales-person-email">Antonio@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Erwin</span>
              <span class="sales-person-email">Erwin@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check on">On</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Justine</span>
              <span class="sales-person-email">Justine@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check on">On</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Justine</span>
              <span class="sales-person-email">Justine@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Andrei</span>
              <span class="sales-person-email">Andrei@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Antonio</span>
              <span class="sales-person-email">Antonio@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Erwin</span>
              <span class="sales-person-email">Erwin@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
          <li>
              <span class="sales-person-name">Justine</span>
              <span class="sales-person-email">Justine@gmail.com</span>
              <span class="sales-person-phone">65315091</span>
              <span class="sales-person-check">Off</span>
              <span class="sales-person-select"><button type="button" class="btn-select-gray">Select</button></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>