<div class="popup popup-summary-finance" data-id="popup-summary-finance">
  <header class="popup-headline">
    <h4>Finance</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content scroll-y">
    <div class="select-info">
        <div class="bank-wrap">
          <h4>Preferred Bank</h4>
          <ul class="bank col4">
            <li>
              <div class="radio">
                <input type="radio" id="bank-dbs" name="bank-dbs" checked="">
                <label for="bank-dbs"><img src="../../assets/images/sprite/icon/dbs.png"><span>DBS</span></label>
              </div>
              <div class="radio-lable">2.30 %</div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" id="bank-hitachi" name="bank-hitachi">
                <label for="bank-hitachi"><img src="../../assets/images/sprite/icon/hitachi.png"><span>Hitachit</span></label>
              </div>
              <div class="radio-lable">Hitachit</div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" id="bank-khlbank" name="bank-hlbank">
                <label for="bank-hlbank"><img src="../../assets/images/sprite/icon/hlbank.png"><span>Hlbank</span></label>
              </div>
              <div class="radio-lable">DBS</div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" id="bank-maybank" name="bank-maybank">
                <label for="bank-maybank"><img src="../../assets/images/sprite/icon/maybank.png"><span>May Bank</span></label>
              </div>
              <div class="radio-lable">May Bank</div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" id="bank-scb" name="bank-scb">
                <label for="bank-scb"><img src="../../assets/images/sprite/icon/scb.png"><span>SCB</span></label>
              </div>
              <div class="radio-lable">SCB</div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" id="bank-tcl" name="bank-tcl">
                <label for="bank-tcl"><img src="../../assets/images/sprite/icon/tcl.png"><span>TCL</span></label>
              </div>
              <div class="radio-lable">TCL</div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" id="bank-uob" name="bank-uob">
                <label for="bank-uob"><img src="../../assets/images/sprite/icon/uob.png"><span>UOB</span></label>
              </div>
              <div class="radio-lable">UOB</div>
            </li>
          </ul>
        </div>
        <div class="calc-wrap">
          <h4>Loan Calculate</h4>
          <p>calculate your Monthly Instalment, Down Payment and Interest Rate using the Loan calculator.<br>Interest Rate from <span>2.30%</span></p>
          <div class="calc-content">
            <div class="calc">
              <ul>
                <li>
                  <div>
                    <p>Total Price</p>
                  </div>
                  <div>
                    <p>$ 52,500.00</p>
                  </div>
                </li>
                <li>
                  <div>
                    <p>Deposit Payment</p>
                  </div>
                  <div>
                    <p>$ 1,300.00</p>
                  </div>
                </li>
                <li>
                  <div>
                    <p>Down Payment</p>
                    <p>Additional Down Payment</p>
                    <p>- Max. Amount: <span>$ 39,200.00</span></p>
                  </div>
                  <div>
                    <p><span>30%</span> / $ 12,000.00</p>
                    <div>
                      <span>$</span>
                      <input type="text" placeholder="0">
                    </div>
                  </div>
                </li>
                <li>
                  <div>
                    <p>Loan Term : <span>84 Month</span></p>
                  </div>
                  <div>

                    <div class="range-area">
                      <div class="range-type">
                        <input type="range" min="1" max="7" steps="1" value="1">
                      </div>
                      <ul class="range-type-labels">
                        <li class="active selected">12</li>
                        <li>24</li>
                        <li>36</li>
                        <li>48</li>
                        <li>60</li>
                        <li>72</li>
                        <li>84</li>
                      </ul>
                    </div>

                  </div>
                </li>
              </ul>
              <div>
                <button button="" type="button" class="btn-m-name-orange">Calculate</button>
              </div>
            </div>
            <ul class="total">
              <li class="calc-history">
                <table>
                  <tbody><tr>
                    <td>Total Price</td>
                    <td>$ 52,500.00</td>
                  </tr>
                  <tr>
                    <td>Total Price</td>
                    <td>$ 12,000.00</td>
                  </tr>
                  <tr>
                    <td>Additional Down Payment</td>
                    <td>$ 12,000.00</td>
                  </tr>
                  <tr>
                    <td>Loan Term</td>
                    <td>84 Month</td>
                  </tr>
                  <tr>
                    <td>Loan Amount</td>
                    <td>$ 40,500.00</td>
                  </tr>
                  <tr>
                    <td>Bank</td>
                    <td>DBS</td>
                  </tr>
                  <tr>
                    <td>Interest Rate</td>
                    <td>2.30%</td>
                  </tr>
                </tbody></table>
              </li>
              <li class="calc-total">
                <h5>Monthly Installment</h5>
                <p>$887.59</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <!-- [Start] 팝업 버튼 -->
    <div class="pop-btnset-area">
      <a href="#" class="btn-m-cancel" role="button">Cancel</a>
      <a href="#" class="btn-m-popup-close-orange" role="button">Save</a>
    </div>
    <!-- [End] 팝업 버튼 -->
  </div>
</div>