<div class="popup popup-summary-color" data-id="popup-summary-color">
  <header class="popup-headline">
    <h4>Ooption</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content scroll-y">
    <div>
      <div class="owl-circle-wrap color-type">
        <h4>Exterior</h4>
        <div class="owl-carousel owl-circle" style="display: block;">
          <div class="item">
            <div class="circle-item hot">
              <div class="circle-area" style="background-color: #d11212;"></div>
              <div class="text-area">
                <div class="title">Fiery red</div>
                <div class="price">$1,000</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item on">
              <div class="circle-area" style="background-color: #69737e;"></div>
              <div class="text-area">
                <div class="title">Iron grey</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item">
              <div class="circle-area" style="background-color: #4477af;"></div>
              <div class="text-area">
                <div class="title">Marine Blue <br>Metallic</div>
                <div class="price">+$17.00</div>
                <div class="date">3 weeks</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item">
              <div class="circle-area" style="background-color: #000;"></div>
              <div class="text-area">
                <div class="title">Black</div>
                <div class="price">+$17.00</div>
                <div class="date">3 weeks</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item">
              <div class="circle-area" style="background-color: #d5d4c7;"></div>
              <div class="text-area">
                <div class="title">Gray</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item white"><!-- 흰색일 경우 class="white" 추가 -->
              <div class="circle-area"></div>
              <div class="text-area">
                <div class="title">White</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item">
              <div class="circle-area" style="background-color: #4477af;"></div>
              <div class="text-area">
                <div class="title">Marine Blue <br>Metallic</div>
                <div class="price">+$17.00</div>
                <div class="date">3 weeks</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item">
              <div class="circle-area" style="background-color: #000;"></div>
              <div class="text-area">
                <div class="title">Black</div>
                <div class="price">+$17.00</div>
                <div class="date">3 weeks</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item">
              <div class="circle-area" style="background-color: #d5d4c7;"></div>
              <div class="text-area">
                <div class="title">Gray</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="circle-item white"><!-- 흰색일 경우 class="white" 추가 -->
              <div class="circle-area"></div>
              <div class="text-area">
                <div class="title">White</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="owl-circle-wrap">
        <h4>Interior / Texture</h4>
        <div class="owl-carousel owl-circle" style="display: block;">
          <div class="item">
            <li class="circle-item leather"><!-- D: 질감이 있을경우 class="leather" -->
              <div class="circle-area"></div>
              <div class="text-area">
                <div class="title">Black <br>Leather</div>
                <div class="price">$0</div>
              </div>
            </li>
          </div>
          <div class="item">
            <li class="circle-item on">
              <div class="circle-area" style="background-color: #d5d4c7;"></div>
              <div class="text-area">
                <div class="title">Beige <br>Leather</div>
                <div class="price">$1,000</div>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>
    <!-- [Start] 팝업 버튼 -->
    <div class="pop-btnset-area">
      <a href="#" class="btn-m-cancel" role="button">Cancel</a>
      <a href="#" class="btn-m-popup-close-orange" role="button">Save</a>
    </div>
    <!-- [End] 팝업 버튼 -->
  </div>
</div>