<div class="popup popup-wheels-all-spec-specifications" data-id="popup-wheels-all-spec-specifications">
  <header class="popup-headline">
    <h4>All Specs</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content scroll-y">
    <div>
      <h5 class="popup-content-title">i30 Premium 2.0 GDi Manual</h5>
      <div class="popup-tab02">
        <a href="javascript:;" class="tab-menu-select">Specifications</a>
        <ul class="tab-inner">
          <li class="is-active"><button type="button"><span>Specifications</span></button></li>
          <li><button type="button"><span>Powertrain &amp; Performance</span></button></li>
          <li><button type="button"><span>Exterior</span></button></li>
          <li><button type="button"><span>Interior</span></button></li>
          <li><button type="button"><span>Safety</span></button></li>
          <li><button type="button"><span>Convenience</span></button></li>
        </ul>
      </div>

      <div class="tab-panel-group">
        <div class="content-panel spec-row is-active">
          <div class="popup-content-list">
            <ul>
              <li>
                <strong class="list-tit">Engine type</strong>
                <p class="list-txt">DOHC with dual CVVT</p>
              </li>
              <li>
                <strong class="list-tit">Displacement (cc)</strong>
                <p class="list-txt">1,353</p>
              </li>
              <li>
                <strong class="list-tit">Transmission</strong>
                <p class="list-txt">7-speed Dual Clutch</p>
              </li>
              <li>
                <strong class="list-tit">Max. Power (kW(bhp) / rpm)</strong>
                <p class="list-txt">103 (138) / 6,000</p>
              </li>
              <li>
                <strong class="list-tit">Max. Torque (Nm / rpm)</strong>
                <p class="list-txt">242 / 15,000</p>
              </li>
              <li>
                <strong class="list-tit">Brakes - Front</strong>
                <p class="list-txt">Ventilated Disc</p>
              </li>
              <li>
                <strong class="list-tit">Brakes - Rear</strong>
                <p class="list-txt">Disc</p>
              </li>
              <li>
                <strong class="list-tit">Suspension - Front</strong>
                <p class="list-txt">MacPherson strut type</p>
              </li>
              <li>
                <strong class="list-tit">Suspension - Rear</strong>
                <p class="list-txt">Multi-link</p>
              </li>
              <li>
                <strong class="list-tit">Tyre</strong>
                <p class="list-txt">205/55 R16</p>
              </li>
              <li>
                <strong class="list-tit">Fuel Consumption (L / 100km)</strong>
                <p class="list-txt">5.5</p>
              </li>
              <li>
                <strong class="list-tit">Fuel Tank Capacity (L)</strong>
                <p class="list-txt">50</p>
              </li>
              <li>
                <strong class="list-tit">VES Banding</strong>
                <p class="list-txt">A2</p>
              </li>
            </ul>
          </div>
          <div class="wheels-all-spec-dimension">
            <span class="unit">Unit:mm</span>
            <div>
              <img src="../../assets/images/buy-online/popup/dummy/dimension-img.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="content-panel spec-row">
            <div class="popup-content-list">
              <ul>
                <li>
                  <strong class="list-tit">Manual</strong>
                  <p class="list-txt">6 speed manual </p>
                </li>
                <li>
                  <strong class="list-tit">Automatic</strong>
                  <p class="list-txt">6 speed automatic with sequential manual mode</p>
                </li>
                <li>
                  <strong class="list-tit">Dual Clutch Transmission (DCT)</strong>
                  <p class="list-txt">-</p>
                </li>
                <li>
                  <strong class="list-tit">Steering Type</strong>
                  <p class="list-txt">Column mounted Motor Driven Power Steering (C-MDPS), Rack &amp; pinion</p>
                </li>
                <li>
                  <strong class="list-tit">Suspension - Front</strong>
                  <p class="list-txt">MacPherson strut</p>
                </li>
                <li>
                  <strong class="list-tit">Suspension - Rear</strong>
                  <p class="list-txt">Torsion beam axle</p>
                </li>
                <li>
                  <strong class="list-tit">Brakes System</strong>
                  <p class="list-txt">Dual-diagonal, split circuit, power assisted with Electronic Brakeforce Distribution (EBD) and Brake Assist System (BAS)</p>
                </li>
                <li>
                  <strong class="list-tit">Front brake type</strong>
                  <p class="list-txt">Ventilated disc</p>
                </li>
                <li>
                  <strong class="list-tit">Rear brake type</strong>
                  <p class="list-txt">Solid disc</p>
                </li>
              </ul>
            </div>
        </div>
        <div class="content-panel">
          <div class="popup-content-list">
            <ul>
              <li>
                <strong class="list-tit">Daytime Running Lights (DRL) - LED</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Headlight functions - automatic dusk sensing with escort and welcome</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Headlight type - LED (low/high beam)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Headlight type - projector beam</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Indicator lights - LED</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Positioning lights - LED</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Wheel type</strong>
                <p class="list-txt">Steel</p>
              </li>
              <li>
                <strong class="list-tit">Wheel dimensions</strong>
                <p class="list-txt">16 x 6.5J +48</p>
              </li>
              <li>
                <strong class="list-tit">Tyre dimensions</strong>
                <p class="list-txt">205/55R16 91H</p>
              </li>
              <li>
                <strong class="list-tit">Spare wheel type</strong>
                <p class="list-txt">Full size steel</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-panel">
          <div class="popup-content-list">
            <ul>
              <li>
                <strong class="list-tit">Instrument cluster - 3.5" TFT LCD with trip computer &amp; digital speedometer</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Supervision cluster - 4.2" TFT colour LCD with trip computer &amp; digital speedometer</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Black headlining</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Coloured stitching &amp; piping - red (seats, steering wheel, front armrest &amp; gearshift boot)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Metallic red inserts (air vents, start button, steering wheel &amp; ventilation controls)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Cloth headlining</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Wheel type</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Sports pedals - alloy</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Front room lights and map lights</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Vanity mirror lights</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Centre room light</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Rear room lights and map lights (outboard) - LED</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Cargo area light</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Interior light fade-out delay</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Safety reflectors - integrated in doors (front)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-panel">
          <div class="popup-content-list">
            <ul>
              <li>
                <strong class="list-tit">Anti-lock Braking System (ABS)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Brake Assist System (BAS)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Electronic Brakeforce Distribution (EBD)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Hill-start Assist Control (HAC)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Traction Control System (TCS)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Vehicle Stability Management (VSM)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Autonomous Emergency Braking (AEB) with pedestrian detection</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Blind Spot Detection (BSD)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Driver Attention Alert (DAA)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Forward Collision Warning (FCW)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Lane Change Assist (LCA)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Lane Keeping Assist System (LKAS)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Rear Cross Traffic Alert (RCTA)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Smart Cruise Control (SCC) with Stop &amp; Go</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Emergency Stop Signal (ESS)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Park Assist System (PAS) - front (4 sensors, with guidance display)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-panel">
          <div class="popup-content-list">
            <ul>
              <li>
                <strong class="list-tit">Leather appointed interior - seats, steering wheel &amp; gear knob</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Driver’s seat - height adjustable</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Driver’s seat - power adjustable - 10-way(including 2-way lumbar support)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Front centre console armrest - sliding function</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Front centre console armrest storage box - power outlet - 1 x 12V outlet</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Front centre console storage cubby - power outlet - 1 x 12V outlet</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Front centre console storage cubby - power outlets - 2 x 12V outlets</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Front centre console - wireless charging pad (Qi standard)</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Grip handles - 1x (passenger)</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Sports front seats with extended bolsters</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Centre fold down armrest</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Grip handles - 2x</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">Panoramic glass sunroof</strong>
                <p class="list-txt"><span class="trim-option-check none"></span></p>
              </li>
              <li>
                <strong class="list-tit">Power windows - front &amp; rear</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
              <li>
                <strong class="list-tit">One touch window down function – driver’s window</strong>
                <p class="list-txt"><span class="trim-option-check"></span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  var tabSelect;
  $('.popup-content .popup-tab02').on('click', 'button', function(){
    var idx = $(this).parent().index();
    var $panel = $(this).closest('.popup-content').find('.content-panel');
    
    $(this).parent().addClass('is-active').siblings().removeClass('is-active');
    $panel.removeClass('is-active').eq(idx).addClass('is-active');
  });
  $('.tab-menu-select').on('click',function(){
    $('.tab-inner').toggleClass('is-show');
  });
  $('.tab-inner').on('click','button',function(){
    tabSelect = $(this).children().text();
    $('.tab-menu-select').text(tabSelect);
    $(this).parents('.tab-inner').removeClass('is-show');
  });
});
</script>