<div class="popup wheels-video" data-id="popup-wheels-video">
  <header class="popup-headline">
    <h4>Video</h4>
    <button type="button" class="popup-close">창 닫기</button>
  </header>
  <div class="popup-content scroll-y">

    <!-- popup-inner : s -->
    <div class="popup-inner">

      <!-- player : s -->
      <div class="player-area">
        <div class="player">
            <iframe src="https://www.youtube.com/embed/FXtq52uRObg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <!-- player : e -->
        <div class="play-info">
          <strong class="play-title">2018 Hyundai i30 - Interior Exterior</strong>
          <p class="play-desc">Video1 Sub description</p>
        </div>
      </div>
      <div class="thumbnail-area">
        <div class="thumbnail-wrap swiper-container">
          <ul class="thumbnail-inner swiper-wrapper">
            <li class="swiper-slide is-active" data-video="Ymw2OihQ1U0">
              <button type="button" class="video-thumbnail">
                <span>
                  <span class="img-wrap"><img src="../../../assets/images/buy-online/popup/video/dummy/thumbnail-dummy-01.jpg" alt=""></span>
                  <strong>2018 Hyundai i30</strong>
                  <p>interior Exterior</p>
                </span>
              </button>
            </li>
            <li class="swiper-slide" data-video="H_G3z82Fce0">
              <button type="button" class="video-thumbnail">
                <span>
                  <span class="img-wrap"><img src="../../../assets/images/buy-online/popup/video/dummy/thumbnail-dummy-02.jpg" alt=""></span>
                  <strong>2018 Hyundai i30</strong>
                  <p>interior Exterior</p>
                </span>
              </button>
            </li>
            <li class="swiper-slide" data-video="a2nn9pJXFIA">
              <button type="button" class="video-thumbnail">
                <span>
                  <span class="img-wrap"><img src="../../../assets/images/buy-online/popup/video/dummy/thumbnail-dummy-03.jpg" alt=""></span>
                  <strong>2018 Hyundai i30</strong>
                  <p>interior Exterior</p>
                </span>
              </button>
            </li>
            <li class="swiper-slide" data-video="tcl0pJUcJUk">
              <button type="button" class="video-thumbnail">
                <span>
                  <span class="img-wrap"><img src="../../../assets/images/buy-online/popup/video/dummy/thumbnail-dummy-04.jpg" alt=""></span>
                  <strong>2018 Hyundai i30</strong>
                  <p>interior Exterior</p>
                </span>
              </button>
            </li>
            <li class="swiper-slide" data-video="tcl0pJUcJUk">
              <button type="button" class="video-thumbnail">
                <span>
                  <span class="img-wrap"><img src="../../../assets/images/buy-online/popup/video/dummy/thumbnail-dummy-04.jpg" alt=""></span>
                  <strong>2018 Hyundai i30</strong>
                  <p>interior Exterior</p>
                </span>
              </button>
            </li>
            <li class="swiper-slide" data-video="tcl0pJUcJUk">
              <button type="button" class="video-thumbnail">
                <span>
                  <span class="img-wrap"><img src="../../../assets/images/buy-online/popup/video/dummy/thumbnail-dummy-04.jpg" alt=""></span>
                  <strong>2018 Hyundai i30</strong>
                  <p>interior Exterior</p>
                </span>
              </button>
            </li>
            <li class="swiper-slide" data-video="tcl0pJUcJUk">
              <button type="button" class="video-thumbnail">
                <span>
                  <span class="img-wrap"><img src="../../../assets/images/buy-online/popup/video/dummy/thumbnail-dummy-04.jpg" alt=""></span>
                  <strong>2018 Hyundai i30</strong>
                  <p>interior Exterior</p>
                </span>
              </button>
            </li>
          </ul>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <button type="button" class="btn-thumbnail-area"><span>thumbnail list</span></button>
      </div>
    </div>
    <!-- popup-inner : e -->

  </div>
  <div class="dimmed"><p>Please <span class="color-r">select thumbnail</span> of video <br>you want to see</p></div>
  <button type="button" class="thumbnail-area-btn-our"><span>thumbnail list</span></button>
</div>
<script type="text/javascript" src="../../../assets/js/swiper.min.js"></script>
<script type="text/javascript">
var isVideoThumbnail = false;

$(document).ready(function(){
  $('.thumbnail-inner').on('click', 'button', function(){
    var idx = $(this).parent().index();
    var dataVideo = $(this).parent().attr('data-video');
    var $target = $(this).parent().closest('.wheels-video').find('.player iframe');
    var youtubeSrc = 'https://www.youtube.com/embed/';

    $target.attr('src', youtubeSrc +'/'+ dataVideo);
    $('.wheels-video').addClass('is-ready');
    $(this).parent().addClass('is-active').siblings().removeClass('is-active');
  });

  $('.wheels-video .btn-thumbnail-area').on('click', function(){
    var $target = $('.popup.wheels-video');
    if ($target.hasClass('is-ready')) {
      $target.removeClass('is-ready');
    } else {
      $target.addClass('is-ready');
    }
  });

  $('.wheels-video .thumbnail-area-btn-our').on('click', function(){
    $('.wheels-video .btn-thumbnail-area').trigger('click');
  });
});

function videoThumbnailSlide() {
  videoThumbnail = new Swiper('.thumbnail-wrap', {
    slidesPerView: 'auto',
    watchOverflow: true,
    allowTouchMove: false,
    navigation: {
      nextEl: '.thumbnail-area .swiper-button-next',
      prevEl: '.thumbnail-area .swiper-button-prev',
    },
    breakpoints: {
      860: {
        slidesPerView: 2,
        spaceBetween: 10
      }
    }
  });
}

$(window).on('resize', function(){
  var Wsize = $(window).width();

  if (Wsize >= 861) {
    if (!isVideoThumbnail) {
      videoThumbnailSlide();
      isVideoThumbnail = true;
    }
  } else if (Wsize < 861) {
    if (isVideoThumbnail) {
      isVideoThumbnail = false;
      videoThumbnail.destroy();
    }
  }
});
</script>