<div class="popup wheels-view-360-exterior" data-id="popup-wheels-view-360-exterior">
  <header class="popup-headline">
    <h4>360° View</h4>
    <button type="button" class="popup-close">close</button>
  </header>
  <div class="popup-content scroll-y">
    
    <!-- popup-inner : s -->
    <div class="popup-inner">
      <h5 class="popup-content-title">i30 Premium 2.0 GDi Manual</h5>
      <div class="popup-tab">
        <ul class="tab-inner">
          <li class="is-active"><button type="button" class="exterior"><span>Exterior</span></button></li>
          <li><button type="button" class="interior"><span>Interior</span></button></li>
        </ul>
      </div>

      <!-- content-panel : s -->
      <div class="content-panel is-active">
        <div class="vr360-wrap">
          <div class="vr-car-wrap">
            <figure>
              <div class="inner">
                <div class="sequence" data-sequence="0"></div>
                <div class="sequence" data-sequence="1"></div>
                <div class="sequence" data-sequence="2"></div>
                <div class="sequence on" data-sequence="3">
                  <img src="../../../assets/images/buy-online/popup/exterior/vr360/G4S6K4G1UGFCD/03/G4S6K4G1UGFCD_PR2_03.png" alt="">
                </div>
                <div class="sequence" data-sequence="4"></div>
                <div class="sequence" data-sequence="5"></div>
                <div class="sequence" data-sequence="6"></div>
                <div class="sequence" data-sequence="7"></div>
                <div class="sequence" data-sequence="8"></div>
                <div class="sequence" data-sequence="9"></div>
                <div class="sequence" data-sequence="10"></div>
                <div class="sequence" data-sequence="11"></div>
                <div class="sequence" data-sequence="12"></div>
                <div class="sequence" data-sequence="13"></div>
                <div class="sequence" data-sequence="14"></div>
                <div class="sequence" data-sequence="15"></div>
                <div class="sequence" data-sequence="16"></div>
                <div class="sequence" data-sequence="17"></div>
                <div class="sequence" data-sequence="18"></div>
                <div class="sequence" data-sequence="19"></div>
                <div class="sequence" data-sequence="20"></div>
                <div class="sequence" data-sequence="21"></div>
                <div class="sequence" data-sequence="22"></div>
                <div class="sequence" data-sequence="23"></div>
                <div class="sequence" data-sequence="24"></div>
                <div class="sequence" data-sequence="25"></div>
                <div class="sequence" data-sequence="26"></div>
                <div class="sequence" data-sequence="27"></div>
                <div class="sequence" data-sequence="28"></div>
                <div class="sequence" data-sequence="29"></div>
                <div class="sequence" data-sequence="30"></div>
                <div class="sequence" data-sequence="31"></div>
                <div class="sequence" data-sequence="32"></div>
                <div class="sequence" data-sequence="33"></div>
                <div class="sequence" data-sequence="34"></div>
                <div class="sequence" data-sequence="35"></div>
              </div>
              <figcaption class="a11y-hidden">i30 Premium 2.0 GDi</figcaption>
            </figure>
          </div>
          <button type="button" class="btn-vr360"><span>360 View open</span></button>

          <!-- progress : s -->
          <div class="progress">
            <div class="bar"></div>
            <div class="count"></div>
          </div>
          <!-- progress : e -->

        </div>

        <!-- colorchip-list : s -->
        <div class="colorchip-list-wrap">
          <div class="colorchip-list-inner swiper-container">
            <ul class="colorchip-list swiper-wrapper">
              <li class="swiper-slide is-active"><button type="button" class="color-select fiery-red"><span class="color-circle"></span><span class="color-txt">Fiery red</span></button></li>
              <li class="swiper-slide"><button type="button" class="color-select iron-grey"><span class="color-circle"></span><span class="color-txt">Iron grey</span></button></li>
              <li class="swiper-slide"><button type="button" class="color-select marina-blue"><span class="color-circle"></span><span class="color-txt">Marina blue</span></button></li>
              <li class="swiper-slide"><button type="button" class="color-select phantom-black"><span class="color-circle"></span><span class="color-txt">Phantom block</span></button></li>
              <li class="swiper-slide"><button type="button" class="color-select platinum-silver"><span class="color-circle"></span><span class="color-txt">Platinum silver</span></button></li>
              <li class="swiper-slide"><button type="button" class="color-select polar-white"><span class="color-circle"></span><span class="color-txt">Polar white</span></button></li>
            </ul>
          </div>
          <button type="button" class="colorchip-btn-prev"><span>prev</span></button>
          <button type="button" class="colorchip-btn-next"><span>next</span></button>
        </div>
        <!-- colorchip-list : e -->
      </div>
      <!-- content-panel : e -->

      <!-- content-panel : s -->
      <div class="content-panel">

        <!-- panorama : s -->
        <div class="panorama-wrap">
          <div id="panorama"></div>
        </div>
        <!-- panorama : e -->

        <h5 class="content-panel-tit">Interior /Texture</h5>
        <div class="interiorchip-list-wrap">
          <div class="interiorchip-list-inner">
            <ul class="interiorchip-list">
              <li><button type="button" class="color-select" data-scene="gsy"><span class="color-circle"></span><span class="color-txt">Leather-black</span></button></li>
              <li><button type="button" class="color-select" data-scene="try"><span class="color-circle"></span><span class="color-txt">Leather-gray</span></button></li>
              <li><button type="button" class="color-select" data-scene="try"><span class="color-circle"></span><span class="color-txt">Marina blue</span></button></li>
            </ul>
          </div>
        </div>

      </div>
      <!-- content-panel : e -->

    </div>
    <!-- popup-inner : e -->

  </div>
</div>
<script type="text/javascript" src="../../../assets/js/swiper.min.js"></script>
<script type="text/javascript" src="../../../assets/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="../../../assets/js/libpannellum.js"></script>
<script type="text/javascript" src="../../../assets/js/pannellum.js"></script>
<script type="text/javascript">
var isVr360Colorchip = false;
var colorchipList;
var resize;
var num = 0;

$(function(){
    vrInit();

    function vrInit() {
        var isLoaded = false;
        var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent);
        var $window = $(window);

        var $target = $('.vr-car-wrap');
        var $targetT = $target;
        var moveType = -1;
        
        var htDefaultOption = {
            moveThreshold: 7,
            slopeThreshold: 50,
        };

        var isStart = false;
        var isMove = false;
        var nVSlope = 0;
        var nHSlope = 0;
        var bSetSlope = false;
        var interval = interval ? 10 : 5;
        
        /*
        1. WAW: 폴라 화이트
        2. U3S: 플래티늄 실버
        3. Z3G: 스파클링 메탈
        4. PAE: 팬텀블랙
        5. Z3G: 아이언 그레이
        6. PR2: 파이어리 레드
        7. R3U: 스타게이징 블루
        8. PF8: 인텐스카퍼
        9. RB4: 데미타스브라운
		10. UB2: 
		11. SG5:
		12. Y3Y:
		13. XFB:
        */

        var colors = ['PR2', 'Z3G', 'R3U', 'PAE', 'U3S', 'WAW', 'PF8', 'RB4', 'UB2', 'SG5', 'Y3Y', 'XFB'];
        
        var vrInfo = {
            model: 'G4S6K4G1UGFCD',
            direction: 0,
            startX: 0,
            startY: 0,
            beforeX: 0,
            beforeY: 0,
            currentColor: colors[0]
        };

        function initMoveInfo() {
            vrInfo.direction = 3;
            vrInfo.color = colors[0];
            vrInfo.startX = 0;
            vrInfo.startY = 0;
            vrInfo.beforeX = 0;
            vrInfo.beforeY = 0;
            $target.find('.sequence').removeClass('on').eq(vrInfo.direction).addClass('on');
        }
        
        // init
        initMoveInfo();
        
        $target.on('touchstart mousedown', function(e){
            if (isMobile) {
                if (e.type == 'mousedown') {
                    return;
                }
            }

            if (!isLoaded) {
                return;
            }

            mRest();

            var htInfo = getMoveInfo(e);

            isStart = true;

            nStartX = htInfo.nX;
            nStartY = htInfo.nY;
            
            idx = vrInfo.direction +1;

            vrInfo.startX = htInfo.nX;
            vrInfo.startY = htInfo.nY;

            //console.log(vrInfo)
        });
        
        if (!isMobile) {
            $targetT = $window;
        }

        $targetT.on('touchmove mousemove', function(e){
            if(!isStart){
                return;
            }

            isMove = true;

            var htInfo = getMoveInfo(e);
            
            vrInfo.beforeX = htInfo.nX;
            vrInfo.beforeY = htInfo.nY;
            
            if (moveType < 0 || moveType == 3 || moveType == 4) {
                moveType = getMoveType(htInfo.nX, htInfo.nY);
            }

            if (moveType == 0) {
                if (vrInfo.beforeX - interval > vrInfo.startX) {
                    idx++;
                    if (idx > 36) idx = 1;
                    vrInfo.startX = vrInfo.beforeX;
                } else if (vrInfo.beforeX + interval < vrInfo.startX) {
                    idx--;
                    if (idx < 1) idx = 36;
                    vrInfo.startX = vrInfo.beforeX;
                }
                vrInfo.direction = idx -1;
                $target.find('.sequence').removeClass('on').eq(vrInfo.direction).addClass('on');
                e.preventDefault();

            } else if (moveType == 1) {
                return;
            }

            if (getMoveType.nDis < htDefaultOption.moveThreshold) {
                return; 
            }
        });
        
        $targetT.on('touchend mouseup', function(e){
            if (isMobile) {
                if (e.type == 'mouseup') {
                    return;
                }
            }
            mRest();
        });

        function mRest(){
            isStart = false;
            isMove = false;
            moveType = -1;
        }

        function setSlope(e) {
            if (!bSetSlope) {
                nHSlope = ((window.innerHeight/2) / window.innerWidth).toFixed(2) * 1;
                nVSlope = (window.innerHeight / (window.innerWidth/2)).toFixed(2) * 1;
                
                return {
                    nHSlope : nHSlope,
                    nVSlope : nVSlope
                }
            }
        }
        
        function getMoveInfo(e) {
            var x = isMobile ? e.originalEvent.touches[0].pageX : e.offsetX;
            var y = isMobile ? e.originalEvent.touches[0].pageY : e.offsetY;
            
            return {
                nX : x,
                nY : y
            }
        }

        function getMoveType(x, y) {
            var nType = moveType;

            var nX = Math.abs(nStartX - x);
            var nY = Math.abs(nStartY - y);
            var nDis = nX + nY;
            
            if (htDefaultOption.slopeThreshold <= nDis) {
                var nSlope = parseFloat((nY/nX).toFixed(2),10);

                if(nSlope <= setSlope().nHSlope){
                    nType = 0;
                }else if(nSlope >= setSlope().nVSlope){
                    nType = 1;
                }else{
                    nType = 2;
                }	
            }
            return nType;
        }
        
        $('.btn-vr360').on('click', vr360);
        $('.btn-prev, .btn-next').on('click', carMove);
        $('.colorchip-list').on('click', '.color-select', colorSelect);

        function vr360() {
            imagesProgress(vrInfo.model, vrInfo.direction, vrInfo.currentColor, 'btn-vr360');
            $(this).hide();
        }

        function carMove() {
            if (!isLoaded) {
                return;
            }

            if ($(this).hasClass('btn-prev')) {
                idx = vrInfo.direction +1;
                idx--;
                if (idx < 1) idx = 36;
                vrInfo.direction = idx -1;
            }

            if ($(this).hasClass('btn-next')) {
                idx = vrInfo.direction +1;
                idx++;
                if (idx > 36) idx = 1;
                vrInfo.direction = idx -1;
            }

            $('.vr-car-wrap').find('.sequence').removeClass('on').eq(vrInfo.direction).addClass('on');
        }

        function colorSelect() {
            var idx = $(this).parent().index();
            vrInfo.currentColor = colors[idx];
            imagesProgress(vrInfo.model, vrInfo.direction, colors[idx], 'btn-color');
            $(this).parent().addClass('is-active').siblings().removeClass('is-active');
			//console.log(vrInfo)
        }
        
        function imagesProgress(m, i, c, v) {
            var $target = $('.vr360-wrap');
            var $sequence = $target.find('.sequence');
            var $progressBar = $target.find('.progress > .bar');
            var $progressText = $target.find('.progress > .count');
            
            var idx = i;
            var total = 36;
            var imgSrc = '../../../assets/images/buy-online/popup/exterior/vr360/';
        
            initProgress();
        
            if (v == 'btn-vr360') {
                isLoaded = true;
                $target.find('.sequence').empty();
                for (var i=0; i<=total; i++) {
                    t = i;
                    if (t < 10) t = '0' + t;

                    $target.find('.sequence[data-sequence='+ i +']').append('<img src="../../../assets/images/buy-online/popup/exterior/vr360/'+ m +'/'+ t +'/'+ m +'_'+ c +'_'+ t +'.png" alt="">');
                }
            }
        
            if (v == 'btn-color') {
                t = i;
                if (t < 10) t = '0' + t;

                $target.find('.sequence[data-sequence='+ i +']').find('img').attr('src', '../../../assets/images/buy-online/popup/exterior/vr360/'+ m +'/'+ t +'/'+ m +'_'+ c +'_'+ t +'.png');

                if (isLoaded) {
                    for (var i=0; i<=total; i++) {
                        t = i;
                        if (t < 10) t = '0' + t;

                        $target.find('.sequence[data-sequence='+ i +']').find('img').attr('src', '../../../assets/images/buy-online/popup/exterior/vr360/'+ m +'/'+ t +'/'+ m +'_'+ c +'_'+ t +'.png');
                    }
                }
            }
            
            if (!isLoaded) {
                return;
            }

            var $target = $('.vr360-wrap');
            var $imgLoad = imagesLoaded('.vr360-wrap'),
                imgTotal = $imgLoad.images.length,
                imgLoaded = 0,
                current = 0;
                progressTimer = setInterval(updateProgress, 1000 / 60);
                
                $imgLoad.on('progress', function(){
                    imgLoaded++;
                });
        
            function updateProgress() {
                var target = (imgLoaded / imgTotal) * 100;
                    current += (target - current) * 0.1;

                $progressBar.css({ width: current + '%' });
                $progressText.css('opacity', '1').text( Math.floor(current) +  '%' );
        
                if (current >= 100) {
                    clearInterval(progressTimer);
                    $progressBar.add($progressText).stop().animate({ opacity:0 }, 0, function(){    
                        $('.vr360-wrap').addClass('progress-complete');
                        $('.vr360-wrap').find('.vr-car-wrap').addClass('move');
                    });
                }
            
                if (current >= 99.9) {
                    current = 100;
                }
            }
        
            function initProgress() {
                $target.removeClass('progress-complete');
                $target.find('.vr-car-wrap').removeClass('move');
                $progressBar.css({'width': '0%', 'opacity': '1'});
                $progressText.css('opacity', '0').html('0%');
            }
        }
    }

    $('.popup-content .popup-tab').on('click', 'button', function(){
    var idx = $(this).parent().index();
    var $panel = $(this).closest('.popup-content').find('.content-panel');
    
    $(this).parent().addClass('is-active').siblings().removeClass('is-active');
    $panel.removeClass('is-active').eq(idx).addClass('is-active');

    if (idx == 1) {
      var viewer = pannellum.viewer('panorama', {		
        "default" : {
          "firstScene": "gsy",
          "sceneFadeDuration": 500
        },
        "scenes" : {
          "gsy" : {
            "type": "equirectangular",
            "panorama": "../../assets/images/buy-online/popup/interior/panorama/G4S6K4G1UGFCD/G4S6K4G1UGFCD_GSY.jpg",
            "autoLoad": true
          },
          "try" : {
            "type": "equirectangular",
            "panorama": "../../assets/images/buy-online/popup/interior/panorama/G4S6K4G1UGFCD/G4S6K4G1UGFCD_TRY.jpg",
            "autoLoad": true
          }
        }
      });
      
      $('.interiorchip-list').on('click','button',function(){
        var scene = $(this).attr("data-scene");
        switch(scene) {
          case 'gsy':
            viewer.loadScene('gsy');
            break;
          case 'try':
            viewer.loadScene('try');
            break;
          default:
            viewer.loadScene('gsy'); //first
        }
      });
    }
  });
});

function colorchipSlide() {
  colorchipList = new Swiper('.colorchip-list-inner', {
    slidesPerView: 'auto',
    watchOverflow: true,
    allowTouchMove: false,
    navigation: {
      nextEl: '.colorchip-list-wrap .swiper-button-next',
      prevEl: '.colorchip-list-wrap .swiper-button-prev',
    },
    breakpoints: {
      860: {
        slidesPerView: 2,
        spaceBetween: 10
      }
    }
  });
}

function WsizeChk() {
    var $window = $(window);
    var windowW = $window.width();

    return windowW
}

$(window).on('resize', function(){
  var Wsize = $(window).width();

  if (Wsize >= 861) {
    if (!isVr360Colorchip) {
      isVr360Colorchip = true;
      colorchipSlide();
    }
  } else if (Wsize < 861) {
    if (isVr360Colorchip) {
      colorchipList.destroy();
      $('.colorchip-list li').removeAttr('style');
    }
  }
  
});
</script>