@charset "utf-8";

@import url(bootstrap.css);
@import url(util.css);
@import url(video-js.css);

/* Font */
@font-face{font-weight:300;font-family:'KoPubDotum';src:url(../font/KoPubDotumPLA.woff) format('woff')}
@font-face{font-weight:400;font-family:'KoPubDotum';src:url(../font/KoPubDotumPMA.woff) format('woff')}
@font-face{font-weight:700;font-family:'KoPubDotum';src:url(../font/KoPubDotumPBA.woff) format('woff')}
@font-face{font-weight:300;font-family:'KoPubBatang';src:url(../font/KoPubBatangPLA.woff) format('woff')}
@font-face{font-weight:400;font-family:'KoPubBatang';src:url(../font/KoPubBatangPMA.woff) format('woff')}
@font-face{font-weight:700;font-family:'KoPubBatang';src:url(../font/KoPubBatangPBA.woff) format('woff')}
@font-face{font-weight:400;font-family:'Open Sans';src:url(../font/OpenSans.woff) format('woff')}
@font-face{font-weight:600;font-family:'Open Sans';src:url(../font/OpenSans-SemiBold.woff) format('woff')}
@font-face{font-weight:700;font-family:'Open Sans';src:url(../font/OpenSansB.woff) format('woff')}
@font-face{font-weight:400;font-family:'Amiri';src:url(../font/Amiri-Regular.woff) format('woff')}
@font-face{font-weight:700;font-family:'Amiri';src:url(../font/Amiri-Bold.woff) format('woff')}
@font-face{font-weight:400;font-family:'GelPenUpright';src:url(../font/GelPenUpright.woff) format('woff')}
@font-face{font-weight:700;font-family:'GelPenUpright';src:url(../font/GelPenUprightH.woff) format('woff')}
@font-face{font-weight:400;font-family:'CurseCasual';src:url(../font/CurseCasualRegular.woff) format('woff')}
@font-face{font-weight:400;font-family:'SDMiSaeng';src:url(../font/SDMiSaeng.woff) format('woff')}
.font-sans{font-family:'Open Sans','KoPubDotum',sans-serif !important}
.font-serif{font-family:'Amiri','KoPubBatang',serif !important}
.font-pen{font-weight:400 !important;font-family:'GelPenUpright','KoPubDotum',sans-serif !important}
.font-curse{font-family:'CurseCasual' !important}

/* reset with bootstrap */
body,input,textarea,select,button,table{font-size:20px;line-height:1.5;font-family:'Open Sans','KoPubDotum',sans-serif;word-break:keep-all;word-wrap:break-word;color:#222}
a,input,textarea,select,button{text-decoration:none;color:#222;outline:none;-webkit-transition:color .4s,border-color .4s,background .4s,box-shadow .4s,opacity .4s;transition:color .4s,border-color .4s,background .4s,box-shadow .4s,opacity .4s}
a:hover,a:focus,a:active{color:inherit}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
li{list-style:none}
label,[data-toggle=layer]{cursor:pointer}
table{width:100%}
/*
[data-toggle=audio-fake]{cursor: default}
*/

/* Helper Classes */
.blank{background:url(../images/common/blank.png)}
.no-style,button{margin:0;padding:0;border:0;box-shadow:none;background:none}
.pr{position:relative}
.pa{position:absolute}
.ps{position:static !important}
.d-block{display:block !important}
.d-iblock{display:inline-block !important}
.caret{display:inline-block;margin:-6px 2px 0 0;border-width:9px 6px;border-style:solid;border-color:transparent transparent #808080}
.evt-none{pointer-events:none}

/* Grid */
.w25{display:inline-block;width:25px !important}
.w35{display:inline-block;width:35px !important}
.w40{display:inline-block;width:40px !important}
.w50{display:inline-block;width:50px !important}
.w55{display:inline-block;width:55px !important}
.w60{display:inline-block;width:60px !important}
.w65{display:inline-block;width:65px !important}
.w70{display:inline-block;width:70px !important}
.w75{display:inline-block !important;width:75px !important}
.w80{display:inline-block !important;width:80px !important}
.w90{display:inline-block !important;width:90px !important}
.w100{display:inline-block !important;width:100px !important}
.w120{display:inline-block !important;width:120px !important}
.w200{width:200px !important}
.w220{width:220px !important}
.w240{width:240px !important}
.w260{width:260px !important}
.w350{width:350px !important}
.w400{width:400px !important}
.w440{width:440px !important}
.w450{width:450px !important}
.w600{width:600px !important}
.wfull{width:100% !important}

/* Typhography */
u{ display: inline-block; border-bottom: 1px solid; text-decoration: none;text-indent:0}
.tx-indent{text-indent:1em}
.para,.para2{font:24px/1.5 'Amiri','KoPubBatang',serif}
.para{text-indent:1em}
.para2 p{margin-bottom:15px}
.sect-q{position:relative;padding:0 0 20px 34px;}
.read-cont-01 {margin-top: 60px !important;}
.sect-q.has-audio:before,.sect-q.has-think:before{content:'';position:absolute;top:-8px;left:-4px;width:23.5px;height:18px;background:url(../images/common/label_audio.png) no-repeat;background-size:100% auto}
.sect-q.has-think:before{top:-26px;left:-13px;width:37px;height:28px;background-image:url(../images/common/label_think.png)}
.sect-q.has-video:before{height:60px; background-image:url(../images/common/label_audio.png),url(../images/common/label_video.png);background-position:0 0,0 100%}
.tit-q{position:relative;min-height:35px;padding-top:4px;font-size:20px;line-height:1;color:#2cac45}
.tit-q.tit-play:before{content:'';position:absolute;top:4px;left:-33px;width:31px;height:31px;background:url(../images/common/tit_play.png) no-repeat 0 0;background-size:auto 21px}
.tit-q b{float:left;margin:-10px -37px;font-size:32px}
.tit-q small{font-weight:700;margin-left:10px;font-size:16px;line-height:20px;color:#404040}
.sect-q-2{position:relative;}
.tit-q-2{position: relative;margin:2px 0 10px;font-weight:600; font-size:18px}
.example-bx li{position: relative;padding:0 0 5px 30px;line-height:1.3}
.example-bx li>b{position: absolute;left:0; font-weight:600}
.circle{display:inline-block;overflow:hidden;position:relative;width:14px;height:14px;margin-right:10px;border:2px solid #2cac45;border-radius:50%}
.circle.half:before{content:'';position:absolute;top:0;left:0;right:0;width:14px;height:14px;background:#2cac45}
.half-dot:before{content:'';position:absolute;top:2px;left:0;right:0;display:inline-block;overflow:hidden;width:15px;height:15px;background:url(../images/common/half-dot.png) no-repeat;background-size:15px auto}
.bx-sky{position:relative;margin-bottom:5px;padding:15px 20px 20px;border-radius:8px;background:#f2f5db}
.bx-act{position:absolute;top:-5px;right:0;z-index:10;white-space:nowrap;font-size:0;text-align: right}
.bx-act>*:not(br){margin-left:6px}
.bx-act br+*{margin-top:6px}
.sect-q>.bx-act{top:-2px}
.bubble{display:inline-block;min-width:140px;padding:1px 10px;border-radius:11px;background: #edf4d4; font-size:13px;text-align:center;vertical-align:top}
.bubble-about{width:132px;height:132px;padding:40px 0;background:url(../images/common/bubble_about.png) no-repeat;background-size:100%;text-align:center}
.bx-alert{padding:15px 30px;border-radius:10px; background:#f6f5e9;font-size:15px;line-height:1.7}
.bx-dashline{padding:25px 30px;border:2px dashed #2cac45;border-radius:10px;font-size:18px;line-height:1.5}
.bx-example{padding: 14px;background: #eee;border-radius: 10px;font-size:18px;line-height: 1.2}
/* title */
.tit-listen{width:407px;height:60px;padding-left:130px;background:url(../images/common/tit_listen.png) no-repeat;background-size:auto 35px;font-weight:400;font-size:15px;line-height:32px;text-align:center;color:#fff}
.tit-listen.v2{width:423px;height:60px; padding-left:128px;background:url(../images/common/tit_listen2.png) no-repeat;background-size:auto 37px}
.tit-communicate{margin-top:-8px;width:389px;background:url(../images/common/tit_communicate.png) no-repeat;background-size:auto 42px}
.tit-use{height:60px;background:url(../images/common/tit_use.png) no-repeat 0 0;background-size:auto 37px}
.tit-star,.tit-cmt,.tit-airplane{width:116px;height:29px;padding:0 36px 3px 36px;background:url(../images/common/tit_star.png) no-repeat;background-size:auto 100%;font-size:14px;line-height:29px;text-align:left;white-space:nowrap;color:#fff}
.tit-cmt{width:158px;background-image:url(../images/common/tit_cmt.png)}
/*.tit-cmt.on{background-image:url(../images/common/tit_cmt_on.png);color:#2cac45}*/
.tit-airplane{position:relative;z-index:20; width:128px; height: 29px; padding-left:35px; background-image:url(../images/common/tit_airplane.png); font-size: 14px; color: #fff}
.tit-togehter,.tit-music{height:80px;margin:-8px -5px 0;padding-left:164px;background:url(../images/common/tit_together.png) no-repeat 0 0;background-size:auto 67.5px}
.tit-unerline{ float: right; padding:15px 0 6px; border-bottom:4px dashed #95d781;font-size:15px;}
/*.tit-music{padding:18px 32px 18px 20px;margin:-7px -24px 0;background-image:url(../images/common/tit_music.png);background-size:auto 79px;font-weight:400;text-align:right}*/
/*.tit-art{background-image:url(../images/common/tit_art.png);background-size:auto 70px}*/
.tit-link{position: relative;padding-left:65px;background:none !important}
.tit-link:before{content:'';position: absolute;top:0;left:0; width:104px; height:38px; background:url(../images/common/tit_link.png) no-repeat; background-size: auto 38px}
.tit-link b{ display: inline-block;padding:0 20px 0 40px;border-radius: 10px;background:#dff3d9; font-size:15px;line-height: 20px; color: #33a245}
.tit-read{position: absolute;top:30px;left: 0;width: 206px;height:60px;padding-left:64px;background:url(../images/common/tit_read.png) no-repeat 0 0;background-size:auto 46px;font-size:0;color:rgba(0,0,0,0);}
.tit-read.after{background-image:url(../images/common/tit_read_after.png)}
.tit-write{height:60px;margin-right:-30px; padding:20px 10px;background:url(../images/common/tit_write.png) no-repeat;background-size:auto 39px;font-weight:400; font-size:18px;font-family: 'SDMiSaeng';}
.page-odd .tit-write{margin:-6px 0 6px -30px; background-image:url(../images/common/tit_write_odd.png);background-size:auto 43px; text-align: right;}
.tit-together-2{margin-bottom: 15px; font-weight:400;font-size:16px;line-height:1.4}
.tit-together-2 b{float:left;margin:-4px 0 0 -75px;font:18px 'GelPenUpright',sans-serif}
.tit-culture{margin:69px 0px 55px;font-size:33px}
.tit-progress{height:70px; padding-left:220px; background:url(../images/common/tit_progress.png) no-repeat;background-size:auto 35px;font-weight:400;margin-top:-10px}
.tit-progress small{display: inline-block; margin-top:13px;font-weight:700; font-size:15px;vertical-align: top; color:#404040;}
.sect-q-togehter{position:relative;margin-top:35px; padding:0 0 0 90px;}
.sect-q-togehter:before{content:''; position: absolute;top:-33px;left:0; width: 90px; height: 100px; background:url(../images/common/together.png) no-repeat 0 3px;background-size:auto 52px}
.sect-q-togehter.act:before{top:-5px;background-image:url(../images/common/together_act.png);background-size:auto 30px}
.sect-q-togehter.share{ margin-top:0; padding-left: 110px}
.sect-q-togehter.share:before{top:-5px;padding-top:20px;background:url(../images/common/together_share.png) no-repeat;background-size:auto 30px}
.sect-q-togehter.plan,.sect-q-togehter.plan2,.sect-q-togehter.think{ margin:0}
.sect-q-togehter.plan:before{top:0;background-image:url(../images/common/together_plan.png);background-size:auto 20px}
.sect-q-togehter.plan2:before{top:-14px;background-image:url(../images/common/together_plan2.png);background-size:auto 37px}
.sect-q-togehter.plan-create{ margin: 0; padding-left:120px}
.sect-q-togehter.plan-create:before{top:-10px;width:200px; background:url(../images/common/together_plan_create.png) no-repeat 0 4px;background-size:auto 62px}
.sect-q-togehter.create{ padding:4px 0 0 110px}
.sect-q-togehter.create:before{top: -8px;width:98px; background:url(../images/common/together_create.png) no-repeat;background-size:auto 38px}
/*.sect-q-togehter.create-share:before{background:url(../images/common/create_share.png) no-repeat;background-size:auto 40px}*/
.sect-q-togehter.watch .tit-together-2{padding-left:160px}
.sect-q-togehter.watch:before{top:0;width: 180px; background:url(../images/common/together_watch.png) no-repeat;background-size:auto 26px}
.sect-q-togehter.play:before{top:0;background:url(../images/common/together_play.png) no-repeat;background-size:auto 30px}
.sect-q-togehter.think:before{top:0;background:url(../images/common/together_think.png) no-repeat;background-size:auto 20px}
.sect-q-togehter.write:before{top:0;background:url(../images/common/together_write.png) no-repeat;background-size:auto 20px}
.sect-q-togehter>h2,.sect-q-togehter>h3{font-weight:700}
/* answer */
.tx-a{display:none;font:13px/1.3 'Open Sans',sans-serif !important;color:#e15252}
.tx-a .eg,.tx-a .eg+*{ display: table-cell;width:100%}
.tx-a .eg{width:2.5em; padding-right:4px}
.answer-wrp{position:relative}
span.answer-wrp{display:inline-block;vertical-align:middle}
.answer-wrp .tx-a{position:absolute;top:100%;left:0;right:0;text-align:center}
.answer-wrp.lt .tx-a{top:6px;left:100%;right:auto;padding-left:5px;text-align:left;white-space:nowrap}
.radio-a,.red-circle{position:relative}
.radio-a{font-weight:600}
.radio-a .font-serif{font-weight:400}
.radio-a input{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}
.radio-a input:checked+span:before,.radio-a .answer-chk+span:after{content:'';position:absolute;top:50%;left:-6px;z-index:1;width:24px;height:24px;margin-top:-12px;background:url(../images/common/chk.png) no-repeat;background-size:24px auto}

/* 이미지 있는 radio-a 버튼 적용 사항 */
.radio-a-pic input:checked+span {display: block;}
.radio-a-pic input:checked+span:before, .radio-a-pic .answer-chk+span:after {left: 3px;}

.radio-a input:checked+span{position:relative;z-index:1}
.radio-a .answer-chk+span:after{background-image:url(../images/common/o_sm.png)}
.tnf-wrp{display:inline-block}
.tnf-wrp .radio-a+.radio-a{margin-left:8px;}
.tnf-wrp .radio-a:after{content:'';display:inline-block;width:19px;height:20px;border:1px solid #999;border-radius:3px;background:#fff;vertical-align:middle}
.tnf-wrp label.radio-a span:before{left:14px;background-image:url(../images/common/chk_2_on.png); background-position:8px 2px;background-size: auto 16px}
.tnf-wrp .radio-a .answer-chk+span:after{left:14px;margin-top:-10px}
.tnf-wrp.v2 .radio-a{margin-left:32px}
.tnf-wrp.v2 .radio-a:after{position:absolute;top:50%;left:-29px;margin-top:-10px}
.tnf-wrp.v2 label.radio-a span:before,.tnf-wrp.v2 .radio-a .answer-chk+span:after{margin-top:-8px;left:-30px}
.tnf-wrp.v3 .radio-a{margin-left:0}
.tnf-wrp.v3 .radio-a:after{display:none}
.tnf-wrp.v3 .radio-a input:checked+span:before,.tnf-wrp.v3 .radio-a .answer-chk+span:after{left:50%;margin-left:-12px}
.red-circle:before{content:'';display:none;position:absolute;top:-.1em;left:-.2em;width:150%;min-width:12px;height:1.5em;border:3px solid #e15252;border-radius:50%}
.red-circle.active:before{display:block}
/* accent */
.accent{position:relative}
.accent:before{content:'';display:none;position:absolute;top:-8px;right:0;left:0;height:10px;background:url(../images/common/accent.png) no-repeat 100% 0;background-size:auto 100%}
.accent-red:before{background-image:url(../images/common/accent_red.png)}
.accent-down:before{top:-5px;-webkit-transform:scale(1,-1);transform:scale(1,-1)}
.accent-show .accent:before{display:block}
.lenis{position:relative}
.lenis:before{content:'';position:absolute;bottom:-6px;right:0;left:0;height:8px;background:url(../images/common/lenisLength.png) 50% 0 no-repeat;background-size:100% 100%}
/* underline */
.underline{position:relative;text-decoration:none}
.underline:before{content:'';display:block;position:absolute;bottom:-1px;left:0;width:100%;border-bottom:1px dashed #ec1585}
.underline_b{position:relative;text-decoration:underline}
.underline_blank{display:inline-block;border-bottom:1px solid #404040;line-height:1;text-decoration:none}
/* Icon,Sprite */
[class^=icon-]{display:inline-block;overflow:hidden;width:30px;height:30px;margin:2px 0 0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;background-size:auto 100%;font-size:0;line-height:0;text-decoration:none;vertical-align:middle;text-indent:-1000em}
.fa-flip-horizontal{-webkit-transform:scale(-1,1);transform:scale(-1,1)}
.fa-flip-vertical{-webkit-transform:scale(1,-1);transform:scale(1,-1)}
.icon-chk{position:relative;z-index:10;background-image:url(../images/common/icon_chk.png)}
.answered .icon-chk,.icon-chk.on{background-image:url(../images/common/icon_chk_on.png)}
.icon-add{background-image:url(../images/common/icon_add.png)}
.icon-minus{background-image:url(../images/common/icon_minus.png)}
.icon-play{background-image:url(../images/common/icon_play.png)}
.icon-play.playing,.icon-play.script-playing,.icon-speaker.playing{background-image:url(../images/common/icon_pause.png)}
.icon-play.stop,.icon-stop{background-image:url(../images/common/icon_stop.png)}
.icon-speaker{background-image:url(../images/common/icon_speaker.png)}
.icon-video{background-image:url(../images/common/icon_video.png)}
.icon-script{background-image:url(../images/common/icon_script.png)}
.icon-info{background-image:url(../images/common/icon_info.png)}
.icon-info.on{background-image:url(../images/common/icon_info_on.png)}
.icon-re{background-image:url(../images/common/icon_re.png)}
.icon-bubble{width:23px;height:22px;margin-right:6px;background-image:url(../images/common/icon_bubble.png);vertical-align: bottom}
.icon-bulb{width:22px;height:22px;margin:0 2px 0 0;background-image:url(../images/common/icon_bulb.png)}
.icon-pencil{width:13px;height:14px;margin-right:2px;background-image:url(../images/common/icon_pencil.png)}
.icon-ko{background-image:url(../images/common/icon_ko.png)}
.icon-link{width:18px;height:18px;margin-right:2px;background-image:url(../images/common/icon_link.png)}
.icon-chk-2{width:16px;height:17px;margin:0;background-image:url(../images/common/chk_2.png);vertical-align: baseline}

/* Theme */
.color-orign{color:#222 !important}
.color-primary{color:#2cac45 !important}
.color-info{color:#009cc9 !important}
.color-grey{color:#98999b !important}
.color-wh{color:#fff !important}
.color-blk.color-blk.color-blk{color:#404040 !important}
.bg-org{background-color:#fed4a0 !important;color:inherit !important}

/* List */
[class*=lst-type-]>li{position:relative;padding-left:.9em}
[class*=lst-type-]>li:before,.lst-type-num>li>b{content:'·';position:absolute;left:0}
.lst-type-bull>li:before{content:'•';color:#2dac46}
.tx-a .lst-type-bull>li:before{color:#e15252}
.bull-red>li:before{color:#e9443e}
.lst-type-num>li{padding-left:1.3em;font-size:14px}
.lst-type-num>li:before{display:none}

/* Form */
input,textarea{display:inline-block;border:0;background:none;text-align:left;resize:none;font-size:14px;ime-mode:inactive;box-shadow:none !important}
.form-control{display:block;width:100%;height:37px;padding:5px 8px;border:1px solid #b3b3b3;background:#fff;text-align:left}
.form-control input{border:0}
.input-sm{height:29px;padding:1px 8px}
.input-xs{height:20px;padding:1px 8px}
input[type=checkbox]{width:16px;height:16px;margin-top:-1px;border:1px solid #b4b4b4;border-radius:3px;background:#fff no-repeat 50% 50%;background-size:12px auto;vertical-align:middle;cursor:pointer;-webkit-appearance:none;appearance:none}
input[type=checkbox]:checked{background-image:url(../images/common/checked.png)}
.starrating label{display:inline-block;overflow:hidden;position:relative;width:25px;height:23px;margin:-4px 3px 0 -1px;background:url(../images/common/starrating.png) no-repeat;background-size:auto 100%}
.starrating input{position:absolute;left:-99em;opacity:0}
.starrating .active{background-image:url(../images/common/starrating_on.png)}
.sect-input-ko input{ime-mode:active}

/* Button */
.btn-radius{width:30px;height:30px;border:4px solid;border-radius:15px;background:#fff;font-size:15px;color:#2cac45;text-align:center;vertical-align:middle}

/* Table */
.tb-fixed{table-layout:fixed}
.tb-input td{padding:2px 0;line-height:26px;vertical-align:top}
.tb-input input{width:100%;height:26px;padding:2px 10px;background:#cef0f3;vertical-align:top}
.tb-input td>p{padding-left:10px;background:#cef0f3}
.tb-input td .bg2{background:#e6d7c4}
.tb-input td:nth-child(3){padding-left:12px}
.tb-input.v2 *{background:none;font-size:15px}
.tb-input.v2 input{border:1px solid #b3b3b3;background:none}
.tb-top td{vertical-align:top}
.self-tb td:first-child{font-size:15px}
.self-tb td:nth-child(2) p{font-size:18px}

/* Label */
.label{display:inline-block;padding:4px 17px;border-radius:5px;background:#9a9a9a;font-size:18px;color:#fff}
.label-lst .label{margin:5px 10px}
.label-lst2{ width:622px; height:47px; padding:8px 12px; background: url(../images/common/bg_label_lst.png) no-repeat; background-size:100% auto}
.label-lst2 span{ margin-left:12px; font-size:18px}

/* Toggle */
.layer-wrp{position:relative}
.layer-wrp.open{z-index:20}
.layer,.explanation{display:none;position:absolute;right:-5px;z-index:20;width:100%;padding:15px;border:3px solid #2cac45;border-radius:5px;background:#fff;font-size:14px;line-height:1.6;}
.layer-wrp-btm .layer{top:auto;bottom:100%; margin-bottom: 8px}
[data-toggle=layerClse]{cursor:pointer}
.layer h4:first-child{margin-bottom:5px;font-size:14px;line-height:1.3; color:#2cac45}
.layer button{font-size:14px}
.layer-arrow{margin-top:6px;border-width:2px}
.layer-arrow:before{content:'';position:absolute;top:-8px;right:10px;width:17px;height:10px;background:url(../images/common/layer_arrow.png);background-size:100% auto}
.layer-arrow[data-type=final]:before{right:20px}
.layer-arrow-lt{left:0;right:auto}
.layer-arrow-lt:before{right:auto;left:75px}
.layer-wrp-btm .layer-arrow:before{top:auto;bottom:-8px;-webkit-transform:scale(1,-1);transform:scale(1,-1)}
.guide{width:250px; border-radius: 5px;}

/* dic */
.btn-dic{font-weight:600;font-size:18px;white-space:nowrap;cursor:pointer}
.btn-dic:before{content:'*';color:#ea8f00 !important}
.explanation-wrp{display:inline-block;position:relative}
.explanation-wrp.open{z-index:10}
.explanation{right:auto;left:0;width:260px;margin-top:11px;padding:6px 15px 15px;border:0;background:#ea8f00; white-space: normal; color:#f5ff50}
.explanation:before{content:'';position:absolute;top:-15px;left:18px;margin-right:-6px;border:8px solid;border-color:transparent transparent #ea8f00}
.explanation dt{margin-bottom:5px;font-size:17px}
.explanation dd{font:16px/1.3 'Amiri','KoPubBatang',serif; white-space: normal; color:#333}
.explanation b{color:#fff;margin-right: 10px;}
.explanation-wrp.rt .explanation{left:auto;right:0}
.explanation-wrp.rt .explanation:before{left:auto;right:18px}
.explanation-wrp.btm .explanation{top:auto;bottom:100%}
.explanation-wrp.btm .explanation:before{top:auto;bottom:-15px;border-color:#ea8f00 transparent transparent}
.explanation.layer-limit{width:250px;white-space:normal}
/* expressions */
.expressions{position:absolute;width:130px;font-size:14px}
.expressions>button{display:block;position:relative;width:100%;padding:5px 12px;border-radius:10px;background:#2cac45;font-weight:700;font-size:14px;text-align: left; color:#fff}
.expressions>button:before{content:'';display: inline-block; width:14px;height:9px;margin-right:8px; background:url(../images/common/expressions.png);background-size:100%}
.expressions.open>button{display:none}
.expressions .layer{border-radius: 10px}
.expressions .layer:before{content:'';position: absolute;top:-2px;left:-2px;width: 122px; height:35px; background:url(../images/common/expressions_open.png) no-repeat 0 100%;background-size:100% auto;border-radius: 10px 0 0 0}
.expressions h4:first-child{position: relative;margin:-8px -5px 15px 12px; color: #fff}

/* sounds */
.sounds{display:block;position:absolute;bottom:43px;left:30px;right:30px;width:auto;padding:10px 30px;font-size:16px}
.sounds .col-xs-6{padding:5px 20px 5px 0}
.sounds .col-xs-6>p{padding-left:20px}
.sounds .col-xs-6>p>b{float:left;margin-left:-20px}
.sounds .bx-act{top:4px}
.sounds>.bx-act{top:12px;right:20px}
/* tip */
.bx-tip{position:absolute;width:180px; padding:25px 10px 20px;font-weight:300; font-size:14px;line-height: 1.4}
.bx-tip p{font-size:14px}
.bx-tips{position: absolute;font-size:15px;line-height: 1.3}
.bx-tips h4{margin-bottom:5px; font-size:15px}
.bx-tips p {font-family: 'Open Sans';}
.bx-fact{position:absolute;width:300px; padding:15px 13px;border:2px dotted #2cac45;border-radius:10px;font-size:14px;letter-spacing: -.03em}
.bx-fact h3{position:absolute;top:-13px;left:15px;height:22px;padding:0 5px 0 60px;background:#fff url(../images/common/bg_fact.png) no-repeat;background-size:auto 100%;font-weight:600;font-size:16px;line-height:22px}

/* Tab */
.tab{ display: table; table-layout: fixed; width: 100%}
.tab li{ display: table-cell;}
.tab a{ display: block; padding:5px;border-radius:10px 10px 0 0; background:rgba(65,180,87,.9); font-weight:700; font-size:16px; text-align: center;color: #fff}
.tab li:nth-child(2) a{ background:rgba(255,178,31,.9)}
.icon-tab{width:20px; height:20px; background-image: url(../images/common/icon_tab.png); vertical-align: bottom}
.active .icon-tab{transform: scale(1,-1)}
.tab-pane{display:none}
.tab-pane.active{display:block}
.bx-review{ position: absolute;bottom:40px;left:30px; right:30px;}
.bx-review .tab-content {margin-top: -1px;}
.bx-review .tab-pane{ padding: 30px; border:5px solid rgba(65,180,87,1); background: #fff;}
.bx-review .tab-pane:nth-child(2){ border-color:rgba(255,178,31,1)}
.bx-review .lst-type-bull li{position:relative;padding-right:140px; padding-bottom:10px;font-size:14px}
.bx-review .starrating{position:absolute;top:3px;right:0}
.bx-review .form-control{ height: 130px}

/* Modal */
.modal{display:none;position:absolute;top:0;left:0;width:768px;height:1024px;z-index:999;padding:20px 20px 20px 70px;background:#fff url(../images/common/modal_bg.png);background-size:768px auto}
.modal.in{display:block}
.modal-clse{position:absolute;top:0;right:0;z-index:10;width:70px;height:70px;border:0;background:url(../images/common/modal_clse.png) no-repeat 50% 50%;background-size:22px auto}
.modal-tit{position:relative;height:38px;margin-left: 3px; font-size:25px;color:#fff}
.modal-video.in{display:-webkit-box;display:box;display:flex}
.modal-video{align-items:center;justify-content:center;-webkit-box-pack:center;-webkit-box-orient:vertical;box-pack:center;box-orient:vertical;padding:0;background:rgba(0,0,0,.8)}
.modal-video .modal-body{position:relative;width:708px;padding:0 24px 24px;border-radius:10px;background:url(../images/common/video_bg.png);background-size:100%}
.modal-video .modal-clse{right:0;width:60px;height:60px}
.modal-video .modal-tit{display: inline-block; height:65px; margin:-11px 0 10px;padding:0 20px 0 65px;border-radius:0 0 10px 10px; box-shadow:5px 5px 0 rgba(0,0,0,.2); background: -webkit-linear-gradient(left, #e25e11 0,#de4915 100%);background: linear-gradient(to right, #e25e11 0,#de4915 100%); font-size:25px;line-height:65px;text-align:left}
.modal-video .modal-tit:before{content:''; position: absolute;top:0;left:-9px;width:61px;height: 49px; background:url(../images/common/video_tit.png) no-repeat;background-size:auto 49px;}
/* video */
.video-js .vjs-duration{display:block}
.video-js .vjs-remaining-time,.vjs-resize-manager{display:none}
.video-js .vjs-big-play-button{top:0;left:0;width:100%;height:100%;border:0;background:url(../images/common/video_play_lg.png) 50% 50% no-repeat;background-size:72px;font-size:0;text-indent:-999em}
.video-js .vjs-control-bar{padding-left:.5em;background:rgba(0,0,0,.9);font-size:20px}
.video-js .vjs-control,.video-js .vjs-volume-panel.vjs-volume-panel-vertical{width:2em;padding:0}
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical{left:-2.5em;z-index:10}
.vjs-duration-display{font-size:14px}
.modal-video .video-js .vjs-fullscreen-control{margin-left:4em}
.video-js .vjs-play-progress{background:#18a8b6}
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal:hover,.video-js .vjs-volume-panel.vjs-volume-panel-horizontal:focus,.video-js .vjs-volume-panel.vjs-volume-panel-horizontal:active,.video-js .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active{width:7.5em}
.video-js .vjs-progress-control:hover .vjs-time-tooltip,.video-js .vjs-progress-control:hover .vjs-progress-holder:focus .vjs-time-tooltip{font-size:14px}
.vjs-ended .vjs-poster{display:block}
.video-area.sm .video-js .vjs-control-bar{font-size:15px}
.video-area.sm .video-js .vjs-big-play-button{background-size:48px}
.vjs-fullscreen video{width:100% !important}
.modal .video-js{height:auto !important;font-size:0}
.modal .video-js .vjs-tech{position:static}
/* 역할 */
.movie-area{position:relative}
.video-role{position:absolute;top:15px;right:15px;z-index:10}
.video-ctr,.video-caption{position:absolute;bottom:19px;right:48px;z-index:10;color:#fff}
.vjs-user-inactive .video-ctr-area .video-ctr{opacity:0;-webkit-transition:opacity 1s;transition:opacity 1s}
.vjs-paused .video-ctr-area .video-ctr{opacity:1}
.video-ctr-role{display:inline-block;position:relative}
.video-ctr-role>div{display:none;position:absolute;bottom:70px;right:-45px}
.video-ctr-role>div button{display:block;min-width:130px;padding:10px 15px;background-color:rgba(0,0,0,.8);font-size:18px;text-align:left;color:#fff}
.video-ctr-role>div button:last-child{border-radius:0 0 4px 4px}
.video-ctr-role>div button:last-child:before{content:'';position:absolute;bottom:0;left:50%;margin:-16px -8px;border:8px solid;border-color:rgba(0,0,0,.8) transparent transparent}
.video-ctr-role>div button.on:last-child:before{border-top-color:#2cac45}
.video-ctr-role>div button b,.icon-role-both{display:inline-block;width:26px;height:26px;margin-right:3px;background-color:#fff;border-radius:50%;font-size:20px;line-height:26px;text-align:center;color:#404040}
.video-caption{bottom:60px;left:0;right:0;z-index:0;font-size:20px;text-align:center}
[data-toggle=video-caption]:not(.playing-video-script){display:none}
.video-caption p{padding:10px;background:rgba(0,0,0,.5);line-height: 1.3}
.icon-modalvideo-script{width:24px;height:20px;background-image:url(../images/common/video_script.png)}
.icon-modalvideo-role{width:33px;height:22px;margin-left:8px;background-image:url(../images/common/video_role.png)}
[class^=btn-role]{display:block !important;width:46px;height:46px;margin-bottom:10px;padding-top:24px;border-radius:50%;background:rgba(0,0,0,.8) url(../images/common/video_role_a.png) no-repeat 50% 5px;background-size:auto 22px;font-weight:700;font-size:14px !important;text-align:center;color:#fff}
.btn-role-b{background-image:url(../images/common/video_role_b.png)}
.icon-role-both{margin-bottom:0;background-image:url(../images/common/video_role_both.png);background-size:auto 14px}
[class^=btn-role].on,.video-ctr-role>div button.on{background-color:#2cac45}
.muted{font-weight:700;color:#f2ff1f}
/* read */
#wrap.read-wrap{ padding-left: 55px; padding-right: 55px}
.read-serif{font-size:24px}
.modal-read .modal-body{margin:0; padding: 0;background-image:url(../images/common/modal_read.png)}
.modal-read .modal-body:after{content:''; display: block; position: absolute;bottom:-20px;left:0;right:0;height:24px;background:url(../images/common/modal_read.png) 0 100%; background-size:100% auto}
.modal-read h2{ margin:20px 0 11px 75px; font-size: 24px; color: #fff}
.modal-read .modal-content{padding:40px 40px 20px; background-image:url(../images/common/modal_read_body.png);background-size:100% auto}
.read-cnt h3{margin:0 0 20px;font-size:23px;color:#2cac45}
.read-cnt p{margin-bottom:1em;font-size:19px;line-height:30px;text-align:justify;word-break: normal}
/* script */
.modal-script{padding:35px 64px}
.script-ctr{height: 86px;margin-bottom: 40px;padding:25px 20px 25px 0; text-align: center}
.script-ctr>*{margin-top:0}
.script-cnt{overflow-y:auto;height:790px;}
.script-cnt-num{position:relative;margin-bottom:80px}
.script-cnt section{margin:0 0 110px 56px}
.script-cnt.long-cnt section{margin-bottom:60px}
.script-cnt h1{position:absolute;top:-8px;left:-35px;font-size:28px}
.script-cnt .tit{position:relative;font-size:19px;line-height: 1.8}
.script-cnt .playing{color:#e15252}
.script-cnt .tit b{position:absolute;top:0;width:56px;margin:-5px -56px;font-size:23px;white-space:nowrap;color:#2cac45}
.script-cnt .tx-a{margin-top:10px;font-size:18px !important;text-align:left;color:#2cac45}
.script-cnt .answer-wrp+.answer-wrp{margin-top:50px}
.script-cnt.long-name section{margin:0 0 60px 120px}
.script-cnt.long-name .tit b{margin-left:-120px}
.script-cnt .answer-wrp-tx2{ margin-bottom:135px !important}
.script-cnt.long-name .answer-wrp-tx2{ margin-bottom: 85px !important}
/* review */
.modal-review .modal-tit:before{background-image:url(../images/common/modal_review.png)}

/* audio */
#audioPlayer{position: absolute;top:0;left:0;}
.audio-wrp{display:inline}
.audio-wrp>button{position:relative}
.audio-player{visibility:hidden;position:absolute;bottom:100%;right:0;width:184px;height:30px;padding:0 4px;border:4px solid #2dac46;border-radius:15px;background:#fff;white-space:nowrap;text-align:center;opacity:0;-webkit-transition:.3s opacity .3s;transition:.3s opacity .3s}
.audio-player>div{display:inline-block;height:22px;padding:0 3px;line-height:22px;vertical-align:top}
.audio-player input{margin-top:10px}
.audio-player .playbar{width:80px}
.audio-player .status{font-weight:400;font-size:10px;color:#b7b8b7}
.icon-mute{width:11px;height:11px;margin:0;background-image:url(../images/common/icon_audio_volume.png);background-size:100% auto}
.icon-mute.muted{background-image:url(../images/common/icon_audio_mute.png)}
.audio-player .volumebar{width:30px}
.open>.audio-player{visibility:visible;opacity:1}
.top-right-cnt .audio-player{bottom:auto;top:100%;margin-top:5px}
.icon-audio-clse{position:absolute;top:-4px;left:-30px;width:30px;height:30px;background-image:url(../images/common/audio_clse.png);background-size:auto 13px}
input[type=range]{vertical-align:top;outline:0 !important;-webkit-appearance:none}
input[type=range]::-webkit-slider-runnable-track{height:2px;background:#b7b8b7;border:0;border-radius:2px}
input[type=range]::-webkit-slider-thumb{border:0;width:10px;height:10px;margin-top:-4px;background:url(../images/common/icon_audio_tg.png);background-size:100%;-webkit-appearance:none}
input[type=range]::-ms-track{height:2px;background:none;border-color:transparent;border-width:6px 0;border-radius:2px;color:transparent}
input[type=range]::-ms-fill-lower,input[type=range]::-ms-fill-upper{background:#b7b8b7;border-radius:2px}
input[type=range]::-ms-thumb{width:10px;height:10px;border:0;background:url(../images/common/icon_audio_tg.png);background-size:100%}
input[type=range]::-ms-tooltip{display:none}
_:-ms-fullscreen,:root .audio-player{padding:0}
_:-ms-fullscreen,:root .audio-player input{margin:-4px -6px}
_:-ms-fullscreen,:root .audio-player .playbar{width:92px}
_:-ms-fullscreen,:root .audio-player .volumebar{width:42px}
_:-ms-lang(x)::backdrop, .audio-player input{margin-top:0}
_:-ms-lang(x)::backdrop, input[type=range]::-ms-thumb{margin-top:-1px}
_::-webkit-full-page-media,_:future,:root .icon-mute{display:none}
_::-webkit-full-page-media,_:future,:root .audio-player .volumebar{display:none}
_::-webkit-full-page-media,_:future,:root .audio-player .playbar{width:124px}
.playing,.playing *:not(.tx-a),.playing-script{color:#e15252 !important}

/*---------- Layout ----------*/
#wrap{overflow:hidden;position:absolute;top:0;left:0;width:768px;height:1024px;padding:30px;background-repeat:no-repeat !important;background-size:100% auto !important}
/* .read-wrap {padding-right:55px !important;padding-left:55px !important;} */
#num{position:absolute;left:30px;bottom:15px;font-weight:300;font-size:12px;line-height:13px}
#num b{float:left;margin-right:10px;font-size:14px}
.page-odd #num{left:auto;right:30px}
.page-odd #num b{float:right;margin:0 0 0 10px}
.top-right-cnt{position:absolute;top:35px;right:30px}
.top-left-mid{position:absolute;top:45px;right:300px}
.listen-bubble{position:absolute;font:11px/1.25 'Open Sans','KoPubDotum','GelPenUpright', sans-serif !important;text-align:center}
.page-communicate .bx-sky .answer-wrp{width:420px;margin:10px auto 5px}
.page-communicate .bx-sky .bx-act{top:-3px;right:-35px}
.bg{position:absolute;top:0;left:0;z-index:-1;width:768px}
.bg-block{position:absolute}

/* Test */
/* line */
.q-line,.q-line-btn{position:relative}
.q-line-btn button{display:block;position:absolute;top:100%;left:50%;width:12px;height:12px;margin:3px -6px;border:3px solid #24201f;border-radius:50%;background:#fff}
.q-line-btn button:before{content:'';position:absolute;top:50%;left:50%;width:30px;height:30px;margin:-15px}
.q-line-btn.top button{top:auto;bottom:100%}
.q-line-btn.rt button,.q-line-btn.lt button{top:50%;left:100%;margin:-6px 3px}
.q-line-btn.lt button{left:auto;right:100%}
.canvas{display:block;position:absolute;top:0;left:0;width:100%;height:100%}
.q-line .icon-re{position:absolute;top:-20px;right:0}
.no-touch{-ms-user-select:none;-webkit-touch-callout:none;-webkit-user-select:none;user-select:none}
.line-done{pointer-events:none}
.answer-line-multi-wrp .q-line .icon-re{visibility:hidden}
.answer-line-multi-wrp>.icon-re{position:absolute;top:40px;right:0}
/* 스스로 평가 */
.self-chk{position:absolute;bottom:40px;right:-630px;width:630px;-webkit-transition:all .5s;transition:all .5s}
.self-chk .layer{display:block !important;position:static;padding:48px 88px 10px 20px;border-color:#2cac45;background:#fffdec}
.self-chk .layer>div:first-child{height: 38px; margin-top: -38px}
.self-chk .form-control{width:275px}
.btn-selfchk{overflow: hidden; position:absolute;top:20px;left:-84px;width:84px;height:73px;background:url(../images/common/btn_selfchk.png);background-size:auto 100%;font-size:0; color: rgba(0,0,0,0)}
.self-chk.open{right:-60px}
.btn-peer{left:-107px;width: 107px; background-image:url(../images/common/btn_peer.png)}
.self-radio-wrp{position:relative}
.self-radio-wrp:before{content:'';position:absolute;top:-49px;right:-3px;width:89px;height:47px;background-image:url(../images/common/chk_self_on.png);background-size:100% auto}
.self-radio-wrp>li{position:relative;padding-right:90px;letter-spacing: -.03em}
.self-radio{position:absolute;top:4px;right:0}
.self-radio i{display:inline-block;width:17px;height:17px;margin-left:12px;border:1px solid #999;border-radius:2px;background-color: #fff; background-repeat:no-repeat}
.self-radio-2 i{background-position:50% 0}
.self-radio-3 i{background-position:100% 0}
.self-radio input:checked+i{background:url(../images/common/chk_grn.png) no-repeat 50% 50%;background-size:auto 10px}
.timelabs{position:absolute;top:80px;right:25px;width:147px;height:139px;padding:7px 15px 0 0; background:url(../images/common/timelabs.png);background-size:100% auto;}
.timelabs h3{padding:0 0 5px 20px;font-weight:400; font-size:20px;line-height:1;text-align: center}
.timelabs>div{font-size:12px;line-height: 1.8; text-align: right;white-space: nowrap}
.timelabs input{width:20px;height:20px;padding:0;border:1px solid #ccc;font-size:12px}
.timelabs strong{font-weight:400;font-size:14px}
.simple-q{width:240px}
.simple-q .tit{margin:0 0 10px 35px;font-weight:600;font-size:18px;line-height:1.3}
.simple-q .tit b{ float: left; margin-left:-35px; color:#2cac45}
.simple-q .icon-chk{position:absolute;top:1px;right:-36px}
.read-q{font-size:16px}
.read-q.font-serif{line-height:1.2}
/* use */
.sect-use{padding:0 43px 45px 0}
.sect-use .bx-act{right:-45px}
.sect-use-q{position:relative;margin:0 0 10px 54px;padding:10px 20px;border-radius:10px;background:#f2f5db;font-size:18px;line-height:1.7}
.sect-use-q:before{content:''; position: absolute;top:5px;left:-54px;width: 60px;height:43px; background:url(../images/common/use_a.png);background-size:auto 100%}
.sect-use-q.no2:before{background-image:url(../images/common/use_b.png);}
.sect-use-a{position:relative}
.sect-use-a .tit{padding:0 0 20px 75px;background:url(../images/common/icon_cmt.png) no-repeat 49px 0;background-size:auto 26px;font-size:16px;line-height:1.5}
.sect-use-a .tit2{padding:0 0 20px 75px;background:url(../images/common/icon_cmt2.png) no-repeat 49px 0;background-size:auto 26px;font-size:16px;line-height:1.5}
.appendix{position:absolute;bottom:15px;right:15px;font-size:14px}
/* write */
.sect-write{position:relative;padding:0 38px 20px 80px}
.sect-write-tit{margin-bottom:20px;font-size:16px}
/* Culture */
.srch{position:absolute;width:390px}
.srch input{width:100%;height:38px;padding:4px 40px 4px 10px;border:3px solid #b2d234;background:#fff;font-weight:bold}
.srch button{position:absolute;top:0;right:0;width:37px;height:38px;background:url(../images/common/srch.png);background-size:auto 100%;font-size:16px;cursor:default}

/* progress */
.icon-re[data-toggle=answer-re]{position: absolute;top:25px;right:30px}
.progress-row-tit{margin-bottom:10px;font-size:20px;color:#2cac45}
.progress-sect{position:relative;margin-bottom:24px;padding:25px 15px;background:#fff;border-radius:3px}
.progress-sect .bx-act{top:-37px}
.progress-sect section .bx-act{top:-7px;right:-5px}
.progress-row>.col-xs-6{padding-right:3px}
.progress-row>.col-xs-6:last-child{padding:0 0 0 3px}
.progress-q{padding:0 0 10px 25px;font-size:15px;line-height:1.5}
.progress-q b{float:left;margin:-2px 5px 0 -30px;font-size:18px;color:#2cac45}
.progress-a .answersheet{font-size:18px; line-height: 25px}
.progress-a .answersheet [lang=ko]{font:300 14px/20px 'KoPubBatang'}
.progress-sect .layer{top:0;width:240px}
.layer-wrp-btm .layer{top:auto}
.answer-o:not(.no-answered):before,.answer-x:not(.no-answered):before{content:'';position:absolute;top:-25px;left:-20px;width:70px;height:69px;background:url(../images/common/o.png) no-repeat 50% 50%;background-size:100%;z-index:1}
.answer-x:before{background-image:url(../images/common/x.png) !important;background-size:auto 65px}
.progress-sect.answered:before{top:0;left:0}
.answersheet{margin:0 20px 0 25px;font:14px 'Amiri','KoPubBatang',serif}
.answersheet label,.radio-circle label{display:inline-block;position:relative}
.answersheet input,.radio-circle input{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}
.answersheet input:checked+span:before,.answersheet .answer-chk+span:after{content:'';position:absolute;top:-2px;left:-5px;width:24px;height:24px;background:url(../images/common/chk.png) no-repeat 50% 0;background-size:100% auto}
.answersheet input:checked+span{color:#0089f2}
.radio-circle input:checked+span:before,.radio-circle .answer-chk+span:after{content:'';position:absolute;top:-5px;bottom:-5px;left:-4px;right:-4px;border:2px solid #0089f2; border-radius:50%}
.radio-circle .answer-chk+span:after{border-color:#e15252}
.answersheet .answer-chk+span:after{top:1px;left: -4px;background-image:url(../images/common/o_sm.png);background-size:22px}
.answersheet .answer-chk+span[lang=ko]:after{top:2px;left: -6px;}
.answersheet .answer-chk+span{color:#e15252 !important}
.progress-wrt{font-size: 14px; line-height: 42px}
.self-review .radio-a input:checked+span:before,.self-review .radio-a .answer-chk+span:after{top:12px}
.review-tip{ position: absolute;bottom:60px; right:30px; width:270px; padding:20px;border: 1px solid #c3bfd7; font-size:14px;}
.review-tip:before,.review-tip:after{ content:''; display: block; position: absolute;bottom:100%; right:10px; width:74px; height:104px; background:url(../images/common/review_tip.png) no-repeat;background-size:auto 100%;}
.review-tip:after{ position: absolute;top:15px;left:-6px; width:12px; height:12px;border-radius:50%; background: #c4d247;}
.review-tip i{ position: absolute;top:20px;bottom:15px;left:-2px; width:10px; background: #fffcdb}
.progress-sect:before{top:5px;left:-10px}
.bx-direction{font-size:18px;line-height:24px; text-align:justify}
.bx-direction p{text-indent:1em}
.bx-direction-line{margin-bottom: 15px; padding:15px;border:1px solid #b3b3b3}
.bx-direction.lst-type-num>li{font-size:18px}
.bx-direction.lst-type-num>li>b{font-size:15px}
.lst-fill-text li{position: relative;padding:0 0 0 28px;font:18px/29px 'Amiri','KoPubBatang',serif}
.lst-fill-text .num{ position: absolute;top:-3px;left:0;font-family:'Open Sans',sans-serif;}
.icon-arrow{width:18px;height:12px;background-image: url(../images/common/icon_arrow.png)}
.study-sect{margin:20px 0}
.study-sect .tit,.study-sect .num{margin:10px 0 5px;font-size:16px;color:#31a345}
.study-sect li{padding:0 0 0 45px;font-size:14px;line-height:1.8}
.study-sect .num{float:left;margin:0 0 0 -45px;}
.study-sect .num span {font-weight:700;}
.act-line{position:relative}
.act-line-btn{display:inline-block}
.answer-line-multi-wrp [data-answer]:nth-of-type(1) .icon-re{display:none}

/* review */
.progress-row .icon-re[data-toggle=answer-re]{top:22px;right:352px}
#wrap.mystudy{background:#dfe5e7 url(../images/common/bg_lastpage.png)}
.mystudy .progress-sect{margin-bottom: 30px; padding:15px 20px 20px 25px;}
.mystudy .progress-sect section .bx-act{top:-7px;right:-10px}
.mystudy .cont-01{width:385px}
.mystudy .cont-02{width:285px;padding-top:40px}
.mystudy .tit-airplane{ position: absolute;bottom:180px;left:465px}
.mystudy .review-sect{min-height:360px}
.modal-review{padding:60px 20px 0 20px; background-image: url(../images/common/modal_review.png)}
.modal-review .modal-tit{position: absolute;top:35px;left:70px;}
.tab-review{position:absolute;top:34px;right:60px}
.tab-review li{float:left;width:103px;height:auto;margin-left:5px;background:none;opacity:1}
.tab-review a{display:block;position: relative;border:3px solid #92e8a4;border-bottom:0;border-radius:10px 10px 0 0;background: #197121; font-weight:700; font-size:17px;line-height:37px;text-align:center;color:#92e8a4}
.tab-review .swiper-pagination-bullet-active a{border-color:#fff;background:#fff;color:#25923b}
.tab-review .swiper-pagination-bullet-active a:before{content:''; position: absolute;top:2px;left:5px;right:5px;height:4px; background:#92e8a4;border-radius: 2px}
.self-review{height:915px;padding:48px 20px 0 20px}
.self-review-lt{float:left;width:330px}
.self-review-rt{float:right;width:340px}
.review-sect{position:relative;height:400px}
.self-review .progress-q{font-size:16px}
.self-review-rt .progress-q{padding-right:0px}
.self-review .bx-act{top:-3px}
.self-review>.bx-act{top:5px}
.review-area .content{font-size:13px;text-align:justify}
.review-area .tit{width:43px;height:21px;margin-bottom:10px;border-radius:10px;font-size:13px;color:#fff;text-align:center;line-height:20px;font-family:'KoPubDotum'}
.review-answer{color:#e15252}
.review-answer .tit{background:#e15252}
.review-commentary{color:#2cac45}
.review-commentary .tit{background:#2cac45}
#selfReview .tit-star{width:103px;height:30px; background-size:auto 100% !important}
#selfReview .review-chk{background:url(../images/common/btn-answer-chk.png) no-repeat 0 0}
#selfReview .review-again{background-image:url(../images/common/btn-replay-chk.png)}
#selfReview .review-btn{bottom:0;right:20px;top:auto}
#selfReview .review-script .tit{width:60px}
#selfReview .layer{top:0;left:-105%}
#selfReview .layer-arrow:before{top:20px;right:-11px;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#selfReview .icon-script{display:block;margin-top:4px}
#selfReview .bx-direction-line{font-size:18px}
#selfReview .layer-lt{left:auto;right:-105%}
#selfReview .layer-lt:before{-webkit-transform:rotate(-90deg);transform:rotate(-90deg);right:auto;left:-8px}

/*Review Test*/
.num_g{font-size:15px;font-family:'Open Sans','KoPubDotum',sans-serif !important}

/* appendix */
#wrap.scripts{padding:100px 30px 30px;background:url(../images/common/a-scripts.png) no-repeat center 0;background-size:auto 63px !important}
#wrap.answers{padding:100px 30px 30px;background:url(../images/common/a-answers.png) no-repeat center 0;background-size:auto 64px !important}
#wrap.ap-voca{padding:100px 30px 30px;background:url(../images/common/a-voca.png) no-repeat center 0;background-size:auto 63px !important}
#wrap.answers b{padding-right:3px !important}
.appendix-wrp h1{height:30px; padding-left:88px;margin-bottom:18px;background:url(../images/common/a-lesson1.png) no-repeat 0 0;background-size:auto 30px !important;font-size:19px;color:#00355e}
.appendix-wrp .h01{padding-top:8px;background:url(../images/common/a-lesson1.png) no-repeat 0 0;background-size:auto 30px}
.appendix-wrp .h02{padding-top:4px;padding-left:83px; background:url(../images/common/a-lesson2.png) no-repeat 0 0}
.appendix-wrp .h03{height:40px;padding-top:4px;padding-left:83px; background:url(../images/common/a-lesson3.png) no-repeat 0 center}
.appendix-wrp .h04{height:40px;padding-left:83px; background:url(../images/common/a-lesson4.png) no-repeat 0 center}
.appendix-wrp .h05{padding-top:4px;padding-left:83px; background:url(../images/common/a-lesson5.png) no-repeat 0 0}
.appendix-wrp .h06{padding-top:4px;padding-left:83px; background:url(../images/common/a-lesson6.png) no-repeat 0 0}
.appendix-wrp .h07{padding-top:4px;padding-left:83px; background:url(../images/common/a-lesson7.png) no-repeat 0 0}
.appendix-wrp .h08{height:40px;padding-left:83px; background:url(../images/common/a-lesson8.png) no-repeat 0 center}
.appendix-wrp h3{font-size:14px;margin-bottom:10px}
.appendix-wrp .ap-line2 h3{font-size:14px;margin-bottom:6px}
.appendix-lt{width:355px;float:left;padding:0 22px 0 17px;position:relative}
.ap-line1:before{content:"";height:868px;position:absolute;top:0;right:0;bottom:0;border-right:1px #c2a2cc solid}
.ap-line2:before{content:"";height:868px;position:absolute;top:0;right:0;bottom:0;border-right:1px #d2c3b9 solid}
.appendix-rt{width:353px;float:left;padding:0 0px 0 24px}
.appendix-tit{margin-bottom:10px}
.ap-culture{height:33px; background:url(../images/common/a-tit11.png) no-repeat;background-size:auto 33px}
.appendix-tit .page-num{display:block;text-align:right;font-size:14px;color:#6d6e70;font-weight:400}
.ap-b-top{background-position:0 3px !important}
#wrap.answers .ap-a{padding-left:20px;background-position:0 3px}
#wrap.answers .ans-num{font-size:14px}
#wrap.answers .ans-num .font-serif{font-size:15px}
.appendix-wrp tr{vertical-align:top}
.appendix-wrp .num{font-size:14px;font-weight:700}
.appendix-wrp .speaker{font-size:14px}
.appendix-wrp .txt{font-size:15px;line-height:1.4;padding-top:1px}
.ex-answer .ex-tit{display:block;float:left;width:40px;height:15px;padding:1px 0;margin-top:3px;margin-right:4px;background:#8091c2;line-height:1;border-radius:9px;font-size:11px; color:#fff;font-weight:300;text-align:center}
.ex-answer .ex-txt{display:block;font-size:15px;line-height:1.5}
.ex-answer .ex-num{display:block;float:left;font-size:14px;color:#6d6e70;padding-right:9px}
.ans-num{padding-right:15px}
.ans-q{margin-bottom:15px;line-height:1}
.appendix-wrp .arrow-bt:before{content:'';position:absolute;top:-10px;left:0;right:0;height:7px;background:url(../images/common/ap-arrow-bt.png) 50% 0 no-repeat;background-size:100% 100%}
.appendix-wrp .arrow-top:before{content:'';position:absolute;top:-10px;left:0;right:0;height:8px;background:url(../images/common/ap-arrow-top.png) 50% 0 no-repeat;background-size:100% 100%}
.vertical-t b{vertical-align:top}

/* intro */
.intro{ position: absolute;bottom:50px;left:30px;right:30px;font-size: 14px;line-height: 1.4}
.intro h2{display: inline-block; margin:0 10px; padding: 5px 15px;border-radius: 10px 10px 0 0;background: #2cac45; font-weight: 400; font-size: 20px;color:#fff}
.intro h3{ margin-bottom: 10px; font-size: 17px;color:#2cac45}
.intro h4{margin-bottom:4px; font-size: 14px;line-height: 1.4}
.intro>div{margin-bottom: -2px; padding: 20px; border:2px solid #2cac45;border-radius:10px; background: #fff}
.intro-contents>div{float: left; width: 50%}
.intro-contents section+section{ margin-top:15px}
.intro-contents li{position: relative;padding-left:13px;line-height: 1.5}
.intro-contents li:before{content:'';position: absolute;top:7px;left:0;width:6px;height:6px;border-radius:50%;background: #666}
.intro-contents li+li{margin-top: 5px}
.intro .intro-i{ padding: 10px 10px 15px}
.intro-i p{ display: inline-block;margin-bottom: 10px; padding:2px 10px;border-radius: 15px;background:#f2f5d5;font-size:14px;}
.intro-i .form-control{height: 40px}
.intro-i>div{ padding:0 10px;}
.intro-i>div+div{border-left:1px dashed #b7b7b7}
.zoomin{position:absolute;top:-41px;right:24px;width:387px;height:177px; padding:45px 20px 20px;background:url(../images/common/zoomin.png) 50% 0 no-repeat;background-size:100% auto;font-size:14px;}
.zoomin li{ position: relative;padding:0 0 4px 20px}
.zoomin .num{display:block; position: absolute;top:4px;left:0;width:16px; height:16px; border-radius:50%; background: #f7de72;font-size:10px; line-height:16px; text-align: center;}
.zoomin p{margin: 4px 0 0 30px; font-size:18px;line-height: 1.2}
.zoomin p>span:first-child{ float: left; margin:0px 0 0 -30px; font-size: .8em; font-family:'Open Sans'}

/* voca */
.btn-boca{position: absolute}
.btn-boca img{height:128px}
.modal-voca{padding:92px 95px 84px 72px;background-image:url(../images/common/modal_voca.png)}
.modal-voca h2{ position: absolute;top:30px;left:185px; font-size:20px;color: #fff}
.lst-voca li{position:relative;height:145px; padding:32px 120px 0 0;font-size:18px}
.lst-voca li+li{border-top:1px solid #a68773}
.lst-voca h4{position: relative;z-index: 1; margin-bottom:25px;font-size:24px}
.lst-voca h4 small{margin-left:35px;font-size:20px}
.lst-voca li>div{position:absolute;top:35px;right:35px;width:80px;padding-top:42px;font-size:20px;text-align:center}
.icon-voca-sound{position:absolute;top:0;right:-65px;display:block;width:40px;height:32px;background-image:url(../images/common/icon_voca.png)}
.playing .icon-voca-sound{background-image:url(../images/common/icon_voca_on.png)}
.btn-voca{display:inline-block;width:75px;height:32px;padding:4px 4px 4px 8px;background: #e7e7e7; border-radius:16px;font-size:14px;line-height:12px;color:#999}
.btn-voca.on{background:#ff9900;color:#fff}
.btn-voca:after{content:'';display:inline-block; width:14px;height:10px; margin-left:4px; background:url(../images/common/icon_voca_chk.png) no-repeat 50% 50%; background-size:auto 10px}
.btn-voca.on:after{background-image:url(../images/common/icon_voca_chk_on.png)}
.btn-voca span,.btn-voca.on span:first-child{display:none}
.btn-voca span:first-child,.btn-voca.on span:last-child{display:inline}
.tab-voca{position:absolute;top:74px;right:29px}
.tab-voca a{display:block;width:60px;height:60px;margin-bottom:4px;border-radius:5px;border:2px solid #641a05;background:#9d461e;font-size:25px;line-height:56px;text-align:center;color:#fff;transition:none}
.tab-voca .active a{border-color:#fff;background:#fff; color:#b76635}

/*scroll*/
::-webkit-scrollbar{width:6px}
::-webkit-scrollbar-button{width:6px;height:5px}
::-webkit-scrollbar-track{background:#eee;border:thin solid lightgray;box-shadow:0px 0px 3px #dfdfdf inset;border-radius:10px}
::-webkit-scrollbar-thumb{background:#999;border:thin solid gray;border-radius:10px}
::-webkit-scrollbar-thumb:hover{background:#7d7d7d}
