@charset "utf-8";

#wrap{padding:126px !important;background-image:url(../images/page058/bg.jpg)}

.tit-star{position:absolute;top:35px;left:160px}
#wrap h2{position:absolute;top:90px;left:50px;width: 500px;height: 50px;}
.cont-01{ width:410px;}
.cont-01 h3{margin-bottom:10px; font-size: 30px;}
.cont-01-1{font-size:20px; line-height: 1.7}

.bx-fact{top:587px;left:332px;width:300px;border: 0}
.bx-fact h3{background: none}

.bx-tips{width:280px;top:722px;left:350px}
.simple-q{position: absolute;bottom:75px; left:120px;width:580px}
.bx-fact h3 {padding: 0 5px 0 0 !important; margin: 0 5px 0 60px; background-color: #fff;}
