@charset "utf-8";

#wrap{background: url(../images/page052/bg.jpg)}

.tit-listen {height: 55px;}
.form-control {border: 1px solid #ccc;}
.tit-q-2 {margin: 2px 0 7px;}
.cont-01>.bx-sky>.sect-q-2>.tit-q-2 {margin: 2px 0 15px;font-weight: bold; }
.bx-sky {padding: 10px 20px 20px 19px;}
.bx-act {top: 0;}
.bx-act>*:not(br):nth-child(1) {margin-left: 0;}


.cont-01 img{position:absolute;bottom:5px;right:-14px;width:348px}
.cont-01 .w240 {width: 275px !important;}
.cont-01 .tit-q.tit-play:before {top: -2px;left: -42px;width: 32px;height: 31px;background-size: 100%;}
.bubble {font-family:'Open Sans';}
.listen-bubble{top:-25px;right:278px;font-family:'Open Sans' color:#404040;}
.listen-bubble.i2{top:-34px;right:-10px}


.cont-02{position: relative;height:190px}
.cont-02 .row {position: absolute;top:0;left: 20px;width: 100%;padding: 0 58px 0 0;}
.cont-02 .img-responsive {padding:10px 58px 0 17px;}
.cont-02 .row>div:nth-child(2) .radio-a{left: 18px;}
.cont-02 .row>div:nth-child(3) .radio-a{left: 28px;}

.cont-02 .radio-a{ position: absolute;top:55px;left:10px;width: 28px; height: 28px; background: #fff; border-radius:50%;line-height: 28px; text-align: center;}


.cont-03 .radio-a span {font-family:'Open Sans';font-size:20px; font-weight:bold;}
.cont-03 .radio-a:after {position:absolute;top:7px;left:18px;content:'';width:18px;height:18px;border:solid #ccc 1px;border-radius:3px;}
.cont-03 .radio-a input:checked+span:before, .cont-03 .radio-a .answer-chk+span:after {left: 18px;top:37%;}
.cont-03 div:nth-child(2) .radio-a .answer-chk+span:after {left: 15px;top:55%;}
.cont-03{ margin-bottom:20px; padding-right:165px;}
.cont-03>div>.tit>span {font-family:'Amiri';}
.cont-03>div>div>div {float: left;}
.cont-03>div>div>div:nth-child(1){margin-right: 45px;}
.cont-03>div>div>div:nth-child(2) .answer-chk+span:after {left: 15px;top:15px;}
.cont-03>div>div:nth-child(1) {float: left;}
.cont-03>div>div:nth-child(2) {float: right;}



.tit-q,.tit-q-2 {display:inline-block; z-index:9;}
.tit-q {margin-right: 18px;}
.cont-04-2{position: absolute;top:122px;left:0;right:0;font-size: 17px}
.cont-04-2 li{ float: left; width: 33.333333%; padding-left:35px;}
.cont-04-2 h4{ margin: 0 0 14px 25px; font-weight: 400; font-size: 17px;}
.cont-04-2 input{ width:130px; height: 40px; margin-top: 5px; padding:5px;}
.cont-04 {position: relative; }
.cont-04 .tab-content {position: absolute;}
.cont-04 .tab-pane {position: absolute; top:-30px; left: 272px;width: 405px; height:307px;}
.cont-04 .tab-pane .bx-act {position: absolute; top: 0;right: 0;}
.cont-04 .tab-pane .example-bx {position:absolute;left:0;bottom:-0;}
.cont-04 .tab-pane .example-bx li {padding: 0 0 0 30px;}
.cont-04 table {position: absolute; left: 255px;top:28px;width: 359px;height: 174px;text-align: center;font-size:17px; font-family:'Open Sans';padding:10px 0 8px 20px; box-sizing:border-box;}
.cont-04 table tr th {font-weight:bold;color:#fff;}
.cont-04 table tr th:nth-child(1) {text-align:left;padding-left:18px; color: #4064aa;}
.cont-04 table tr td:nth-child(1) {text-align:left;width:230px; padding-left:18px;height: 32px;line-height: 32px;}
.cont-04 table tr td:nth-child(2) {width:40px;}
.cont-04 table tr td:nth-child(3) {width:40px;}
.cont-04 table tr:nth-child(1) {margin-top: -5px;}
.cont-04 table tr:nth-child(5) {height: 50px; }
.cont-04 table tr:nth-child(5) td div .radio-a span:: {top:-9px;}

.cont-04 .form-control {width:95%; height:35px;margin-bottom: 2.5px; padding-left: 0;}
.cont-04 table .radio-a:after {position:absolute;top:-10px;left:-10px;content:'';width:18px;height:18px;border:solid #ccc 1px;border-radius:3px;}
.cont-04 table .radio-a input:checked+span:before {left: -10px;margin-top:-15px;}
.cont-04 .tab-pane .bx-act{top:-8px;}
