@charset "utf-8";

.sect-q {padding: 0 0 25px 30px;}
.tit-listen.v2 {height: 56px;}
.tit-q b {margin: -7px -30px;}
.tit-q-2 {margin: 15px 0 7px;}
.bx-sky {padding: 10px 20px 22px 19px;}
.bx-act {top: 8px;}
.pt10 {padding-top: 18px !important;}
.form-control {height: 34px;}
.top-right-cnt {top: 40px;}
.cont-01>.bx-sky>.sect-q-2>.tit-q-2 {margin: 2px 0 15px;font-weight: bold; }
.sect-q.has-audio:before, .sect-q.has-think:before {left: -1px;}
.sect-q.has-think:before {top: -17px;left: -10px;}

#answer_053_01>.bx-act {top: 0;}
.listen-bubble{top:-18px;right:236px;}
.listen-bubble.i2{top:-18px;right:12px}
.cont-01 {z-index:1;}
.cont-01-bg {padding: 0 73px 0 89px;box-sizing: border-box;}
.cont-01 .form-control{height: 39px}
.cont-01 img{position:absolute;right:3px;bottom:3px;width:351px}
.cont-01 .w240 {width: 275px !important;}
.cont-01 .tit-q.tit-play:before {top: -2px;left: -39px;width: 32px;height: 31px;background-size: 100%;}

.cont-02 {z-index:1;}
.cont-02 {margin-bottom: 21px;}
.cont-02 li{position: absolute; padding:6px 15px}
.cont-02 .form-control{width:75px;}
.cont-02 .row {position: absolute;top: 52px;left: 40px;width: 100%;padding: 0 58px 0 17px;}
.cont-02 .row .col-xs-4:nth-child(2) {padding-left: 18px;}
.cont-02 .row .col-xs-4:nth-child(3) {padding-left: 40px;}
.cont-02-1 {height: 165px;position: relative;}
.cont-02-1 .input-wrp {position: absolute;top: 90px;left: 252px;width: 158px;height: 64px;padding: 15px 11px}
.cont-02-1-bg {position: absolute;top: -25px;height: 187px;padding: 0 201px 0 57px;z-index: -1;box-sizing: border-box;}
.cont-02-1-bg .img-responsive{width: 100%;}
.cont-02-1 .tx-a{ position: absolute;top:42px;left:244px;}

.cont-03 {z-index:1;}
.cont-03>.sect-q-2 {}
.cont-03-bg {position: absolute;top: 44px;height: 187px;padding: 0 25px 0 20px;z-index: -1;box-sizing: border-box;}
.cont-03-bg img {width: 100%;}
.q-label-wrp {position: absolute;top: 108px;left: 1px;width: 718px;padding: 0 69px 0 49px;}
.q-label-wrp li{width: 105px;display: inline-block;margin-right: 41px;box-sizing: border-box;text-align: center;font-size: 17px;vertical-align: middle;}
.tit-q,.tit-q-2 {display:inline-block;}
.tit-q {margin-right: 12px;min-height: 30px;}

#example{ margin:20px 0 0 210px;}
.tab-pane {position: absolute;top: 0;left: 0;width: 100%;}
.tab-pane .bx-act {position: absolute;top: -55px;}
.tab-pane .example-bx {position: absolute;top: 175px;}

.expressions{bottom:40px;right:30px;width: 132px;}
.expressions h4:first-child {margin: -8px -5px 15px 17px;}
.expressions>button {text-align: center;}
.expressions>button:before {margin-right: 9px;}

