@charset "utf-8";

#wrap{background:url(../images/page054/bg.jpg)}

.tit-communicate {margin-top: -12px;height: 72px;}


.input-sm {height: 39px;border-color: #ccc; box-sizing:border-box;}
.page-communicate .bx-sky .bx-act {top: 2px; right:-40px;}
.color-primary {font-size: 18px !important;}
.fs16 {font-size: 18px !important;}
.mr5 {margin-right: 10px !important;}
.tit-q {min-height:40px;}
.tit-q b {line-height: 35px;margin: -10px -30px; }
.tit-star {background-size: 100% 100%;}
.top-right-cnt {width: 120px; top: 25px;}

.sect-q {padding:0 0 20px 31px;}
.sect-q.has-audio:before {left: 0px;}

.cont-01 li{position: absolute;}
.cont-01 .radio-a{ position: absolute;top:48px;left:30px; width: 28px; height: 28px; background: #fff; border-radius:50%;line-height: 28px; text-align: center}


.cont-02 {margin-bottom: 20px;}
.cont-02 li {padding-left: 19px;}
.cont-02 p{ position: absolute;top:-10px;left:260px;width:364px;height:167px;padding:10px 35px;background:url(../images/page054/pic2.png) no-repeat;background-size:100% auto;font-size:15px; line-height:38px;text-indent: 20px}
.cont-02-1 {height:99px}
.cont-02-1 li {height: 30px;}
.cont-03 {height: 250px;position: relative;}
.cont-03 .tit-q-2 {z-index:3;}
.cont-03>img{position: absolute;bottom: 0;right: 71px;height: 270px}
#layer{margin-top: -10px; margin-right: 36px;}
.cont-03 .tx-a{ position: absolute;top:-20px;left:210px}

.cont-03 li{ position: absolute}
.cont-03 .radio-a{ display: block; width: 80px; height: 80px;}
.cont-03 li:nth-child(1) .radio-a{ width:120px; height:60px;}
.cont-03 i{ display: none; position: absolute;top:50%;left:50%; width: 24px; height: 24px; margin:-12px;background:url(../images/common/o_sm.png);background-size: 100%}
.cont-03 input:checked+i{ display: block}

.cont-04 .bx-act{margin-top:-37px}
.example-bx{ position: absolute;top:10px;left:129px;width: 420px; height: 225px;padding: 23px 0 0 24px;}
.example-bx li{ padding:0 0 3px 20px; font-size: 16px;line-height: 28px;}