@charset "utf-8";

#wrap{padding:154px 50px;background-image:url(../images/page057/bg.jpg)}

.tit-star{position:absolute;top:35px;left:160px}
#wrap h2{position:absolute;top:90px;left:50px;width: 500px;height: 50px;}
.read-serif h3{position:absolute;top:373px;left:350px;font-weight:400; font-size: 30px;}
.cont-01-1{ width:550px}
.cont-01-2{margin-right: -15px; padding:123px 0 0 290px;font-size: 20px;line-height: 1.7}
.bx-fact{top:640px;left:30px;width: 265px}
.bx-tips{width:280px;top:730px;left:480px}
.cont-02{position: absolute;width:500px;bottom: 190px;left:55px;}
.simple-q{position: absolute;bottom:35px; left:55px;width:480px}