@charset "utf-8";

#wrap{background-image:url(../images/page060/bg.jpg)}

.tit-q b {margin: -10px -33px;}
.sect-q>.bx-act {top: -2px;right: -82px;}
.layer {right: -52px;}
.layer-arrow {margin-top: 0;}


.cont-01{position: absolute;height: 100%;}
.cont-01-1>ul:nth-child(1)>li {position: absolute;width: 85px;height: 51px;box-sizing: border-box; z-index:3;}
.cont-01-1>ul:nth-child(1)>li>p {position: absolute; top: 35px; right: 0; left: 0; margin: auto; width: 100%; height: 20px; font-size: 14px;text-align: center;opacity: 0;}
.cont-01-1>ul:nth-child(1)>li>input {position: absolute; top: 120px;right: 0;left: 0;bottom: 0;margin: auto;width: 57px;height: 29px;}
.cont-01-1>ul:nth-child(1)>li>span {position: absolute;bottom: -62px;left: 0;right: 0;margin: auto;text-align: center;width: 100%;}

.cont-01-1>ul:nth-child(1)>li:nth-child(1) {position: absolute; top: 278px;right: 268px;}
.cont-01-1>ul:nth-child(1)>li:nth-child(2) {position: absolute; top: 252px;right:162px;}
.cont-01-1>ul:nth-child(1)>li:nth-child(3) {position: absolute; top:461px;right: 262px;}
.cont-01-1>ul:nth-child(1)>li:nth-child(4) {position: absolute; top:340px;right: 95px;}
.cont-01-1>ul:nth-child(1)>li:nth-child(5) {top: 296px;left: -49px;width: 800px;height: 607px; z-index:1;}


.cont-01-2 {position: absolute;bottom:168px;left: 95px;width: 390px; z-index: 30;}
.cont-01-2 li .tit span {font-family:'Amiri';}
.cont-01-2 li {height: 35px;line-height: 35px;margin-bottom: 14px;padding-left: 30px;}
.cont-01-2 li:last-child {margin-bottom: 0;}

.example-bx {margin:125px -15px 0 15px;}
.example-bx li{line-height: 24px} 
.example-bx li>b{font-weight: 400}