@charset "utf-8";

#wrap{background:url(../images/page064/bg.jpg)}

.cont-01 .row{padding:208px 40px 0 0;font-size:18px; line-height:42px;text-align: center;box-sizing: border-box; }
.cont-01 .form-control{width: 89%;border: 1px solid #ccc;}
.cont-01-1 {width: 536px; height: 380px; box-sizing: border-box;}
.cont-01-1 .cont-01-write {position: relative;width: 255px;height: 368px;padding: 0 13px 0 15px; margin-top: 10px; box-sizing: border-box;float: left;}
.cont-01-1 .cont-01-write input:nth-child(1) {position: absolute;top: 128px;}
.cont-01-1 .cont-01-write input:nth-child(2) {position: absolute;top: 322px;}

.cont-01-1 .cont-01-text {position: relative;width: 255px;height: 368px;padding: 0 13px 0 15px; margin-left: 26px;margin-top: 5px; box-sizing: border-box;float: left;font-size: 16px;font-family: 'GelPenUpright';}
.cont-01-1 .cont-01-text p {position: absolute; right: 0; left: 0; width: 200px; text-align: center; margin: auto;}
.cont-01-1 .cont-01-text p:nth-child(1) {top: 138px;}
.cont-01-1 .cont-01-text p:nth-child(2) {top: 332px;}


.cont-02 {margin-top: 43px !important;}
.cont-02-1{ margin-left:-60px}

.cont-02 table{width: 640px; height: 385px;margin-top:17px; margin-left: 38px;}

.cont-02 tr:nth-child(1) {height: 105px;}
.cont-02 tr:nth-child(2) {height: 154px;}
.cont-02 tr:nth-child(3) {height: 104px;}

.cont-02 tr th:nth-child(1) {position: relative;width: 262px; font-size: 15px; font-weight: 400 !important; float: left;}
.cont-02 tr th:nth-child(1) span {width: 262px; height: 55px; position: absolute; top: 0;left: 0; text-align: left; padding-left: 20px; line-height: 55px;}
.cont-02 tr:nth-child(2) th:nth-child(1) span {top: -8px;}
.cont-02 tr:nth-child(3) th:nth-child(1) span {top: 5px;}

.cont-02 tr td:nth-child(2) {position: relative;}
.cont-02 tr td:nth-child(2)>div {position: absolute; top: 13px; right: 15px;}
.cont-02 tr td:nth-child(2)>div input{width: 315px;height: 30px;}
.cont-02 tr:nth-child(2) td:nth-child(2)>div input{width: 315px;height: 48px;}
.cont-02 tr:nth-child(2) td:nth-child(2)>div {top: 3px;}
.cont-02 tr:nth-child(3) td:nth-child(2)>div {top: 18px;}
.cont-02 tr td:nth-child(2)>p {margin-left: -34px;font-size: 16px;}
.cont-02 tr:nth-child(1) td:nth-child(2)>p {margin-top: 38px;}
.cont-02 tr:nth-child(2) td:nth-child(2)>p {margin-top: 59px;}
.cont-02 tr:nth-child(2) td:nth-child(2)>p ul li {list-style: disc; margin-left: 15px;}
.cont-02 tr:nth-child(3) td:nth-child(2)>p {margin-top:50px;}
.li_div{margin-top: 59px; font-size:16px; position:relative !important; top:0; left:-30px;}
.li_div ul li {list-style: disc; margin-left: 15px;}

.guide{width:253px !important}
