@charset "utf-8";

#wrap{background:url(../images/page066/bg.jpg)}
.tit{ margin:80px 0 40px}

.cont-01{height:252px}
.cont-01 .video-wrp{float:left;width:340px}
.cont-01 .video-wrp video{width:340px}
.cont-01 .form-control{width:300px;height:191px}
.srch{position:absolute;top:45px;left:178px;font-weight:600;font-size: 16px;}
.cont-02 ul {position: absolute; left: 0; top: 80px;width: 708px; height: 390px;line-height:1.2
}
.cont-02 ul li {position:absolute;font-size: 16px;}
.cont-02 ul li:nth-child(1) {top: 35px;left: 100px;}
.cont-02 ul li:nth-child(2) {top: 215px;left: 75px;}
.cont-02 ul li:nth-child(3) {top: 108px;left: 230px; text-align: right;}
.cont-02 ul li:nth-child(4) {top: 310px;left: 275px;text-align: right;}
.cont-02 ul li:nth-child(5) {top: 18px;left: 470px;text-align: right;}

.cont-02 ul li p {font-weight: Bold;}
.cont-02 ul li p span {font-weight: 100;}

.cont-02 ul li small {font-weight: 100;font-size: 14px;}

