@charset "utf-8";

#wrap{padding-top:100px;background:url(../images/page067/bg.jpg)}

h1{position:absolute;top:30px;right:50px;font-weight:400;font-size:16px;color:#086f79}

.sect-q-togehter.share{position:relative;height:304px;margin:7px 30px 0 14px;}
.q{width:270px;margin:60px 0 0 112px;font-size: 16px;line-height:26px;}
.q p {font-size: 16px; padding-bottom: 15px;font-family: 'GelPenUpright';}
.cont-02 {padding: 0 34px;}
textarea.form-control{height:350px;padding:30px;font-size:13px;margin-top: 49px}