@charset "utf-8";

#wrap{background-image:url(../images/page050/bg.jpg)}
.intro>div {padding: 21px 17px 17px 17px; box-sizing: border-box;}
.intro-contents li:before {left:3px;}
.intro>div>.lt{ width:327px; float: left;}
.intro>div>.rt{ width:343px; float: left;}
h1{position: absolute;top:280px;left:96px; font-family: 'Open Sans'}