@charset "utf-8";

#wrap{background:#dfe5e7}

.cont-01 .progress-sect{height:180px}
.cont-02 .progress-sect{height:303px}
.cont-03 .progress-sect{height:270px}

#answer_068_2 li{ position: absolute;}
#answer_068_3 img+p{ position: absolute;top:100px;left:85px;font-size: 15px;text-align: center}
#answer_068_3 textarea{ width: 260px; margin-left: 30px}
#answer_068_4 .answer-wrp{ width: 260px; margin:3px 30px}

.cont-03 .q-line li{float:left;width:50%;margin:20px 0 0}
.cont-03 .q-line-btn{display:inline-block;width:102px;height:38px;background:url(../images/page068/4.png);background-size:auto 100%;font-size:16px;line-height:38px;text-align:center}
.cont-03 .q-line-btn2{float:right;width:87px;background-image:url(../images/page068/4_2.png)}
#qLine1{width:321px;height:165px}

.answersheet .answer-chk+span:after {top: 1px;left: -5px;}

.q-line .icon-re {top: -36px;}
