@charset "utf-8";

#wrap{background-image:url(../images/page051/bg.jpg)}

.btn-boca{position:absolute;top: 297px;left: 600px;}
.zoomin{position: absolute;top: 30px; left: 148px;width: 587px; height: 261px;padding-top:130px; background-image:url(../images/page051/zoomin.png)} 
.zoomin li {padding: 0 0 4px 25px;}