@charset "utf-8";

.cont-01{padding-bottom:10px}
.cont-01 .video-area{float:left;width:355px}
.cont-01 .video-area video{width:355px}
.cont-01 textarea{width:295px;height:200px}

.mt20 {margin-top: 25px !important;}
.tit-q {min-height: 40px;margin-bottom: 7px;}
.tit-q b {margin: -10px -30px;}
.sect-q {padding:0 0 20px 25px;}
.cont-01>.bx-act {top: 0;}
#qLine{position: relative;width:648px; height:400px;margin-bottom:33px; background: url(../images/page056/pic.jpg) no-repeat; background-size:100%;}
.qLine-tit {position: absolute;top: 83px;right: 0;width: 320px;height: 89px;padding-left: 18px;font-family: 'GelPenUpright';}
.qLine-tit h3 {color: #06b3ba; font-weight: 500;line-height: 33px;}
.qLine-tit p {font-size: 17px;color: #555;}
.q-line li{position: absolute}
.q-line-label-wrp { position: absolute;top:143px;left:365px; }
.q-line-label-wrp .q-line-btn>span>span {text-decoration: underline; }
.q-line-btn{ display: block; height:44px; margin-bottom:0; padding-left:2px;font-size:17px; font-family: 'GelPenUpright';line-height: 40px;}

.q-line .icon-re {position: absolute; top: -16px; right: -35px;z-index: 10;}
.icon-re span {width: 30px; height: 30px;}

.cont-03 {padding: 0px 0 25px 30px; margin-top: -20px;}

.layer {padding: 19px 5px 19px 19px; right: -15px;}
.layer {width: 220px;}
.layer-arrow:before {right: 18px;}
.bx-alert {padding: 15px 0 18px 19px; margin-top: -10px;}
.bx-alert p:nth-child(1) {font-size: 16px;margin-bottom: 9px;}
.bx-alert p:nth-child(2) {font-size: 15px;}


#answer_056_2 {padding-top: 0px; margin-top:15px !important;}
