@charset "utf-8";

#wrap{padding-top:373px;background-image:url(../images/page059/bg.jpg)}

.tit-star{position:absolute;top:35px;left:160px}
#wrap h2{position:absolute;top:90px;left:50px;width: 500px;height: 50px;}
.cont-01{ width:600px;}
.cont-01 h3{margin-bottom:10px; font-size: 30px;}
.cont-01-1{font-size:20px; line-height: 1.7}
.cont-02{width:380px;margin-top:50px}
.bx-tips{width:210px;top:784px;left:486px}
.simple-q{position: absolute;bottom:75px; left:55px;width:320px}