@charset "utf-8";

#wrap{background:url(../images/page065/bg.jpg)}
.page-odd .tit-write span {padding-right: 60px;margin-top: 2px;}


.cont-01-1{ position: absolute;top:65px;left:75px; width:290px;font-size:18px;line-height: 55px}
.cont-01-1 .form-control{height: 44px;}
.memo{position: absolute;top:75px;left:405px; width:250px;font-size: 18px;text-indent:15px; line-height:34px}
.bx-review .form-control{ height: 130px}

.bx-review .tab {margin-top: 5px;}
