@charset "utf-8";

#wrap{background:url(../images/page061/bg.jpg);}

.sect-q {padding: 34px 0 20px 31px;}
.cont-01.sect-q>.bx-act {top: 28px;}
.cont-02.sect-q>.bx-act {top: 22px;}
.form-control {border: 1px solid #ccc;}

.tit-q b {margin: -10px -32px;}


#answer_061_1 #layer p{padding-bottom: 20px;}
#answer_061_1 #layer p:nth-child(2) {padding-bottom: 0;}
#answer_061_1 #layer p ul {padding-left: 20px;}
#answer_061_1 #layer p ul li {list-style: disc;}
.cont-01-1{ position: relative;width: 674px;height:477px;margin:12px 0 0 0;border: 1px solid #2cac46; background:url(../images/page061/pic.jpg);background-size:auto 477px;}
.cont-01-1>ul {position: absolute;}
.cont-01-1>ul>li {position: relative;font-size: 17px;  margin-bottom:20px;}
.cont-01-1>ul>.cont-x2 input {margin-top: 9px;}
.cont-01-1>ul>.cont-x2 input:nth-child(1) {margin-top: 0;}
.cont-01-1>ul>li:last-child {margin-bottom: 0;}
.cont-01-1>ul>li::before {content: ""; position: absolute; top: 13px;  left: -10px; background-color: #2cac46; width: 4px; height: 4px; border-radius: 20px;}

.cont-01-1-tit {position: absolute; right: 0;padding-left: 30px; margin: auto; width: 600px; text-align: center; background: url(../images/page061/cont-01-1-tit.png) no-repeat; -webkit-background-size: 67px 63px;
background-size: 67px 63px; background-position: 35px 15px; position: relative;}
.cont-01-1-tit::before {position: absolute; top: 30px;left: 45px; content: "2-Day"; color: #fff;font-size: 18px;font-weight: 900;}
.cont-01-1-tit h3{font-family: 'Amiri';font-size: 35px;font-weight: 100; color: #2cac46; padding-top: 25px;}
.cont-01-1-tit p {font-size: 14px;}


.cont-01-1>small{position: absolute;color: #fff; font-size: 14px;font-weight: 900;}
.cont-01-1>small span{font-size: 18px;}

.cont-one-tit { top: 108px; left: 21px;}
.cont-one {position: relative; top: 137px; left: 215px;}

.cont-two-tit { top: 257px; left: 23px;}
.cont-two {top: 275px; left: 215px;}

.cont-01-1>span {position: absolute; bottom: 15px; right: 0; left: 0; margin: auto; width: 233px;font-size: 18px; font-weight: 900;}

.cont-02 {position: relative;padding: 25px 0 20px 31px;}
.cont-02-1 {position: absolute; right: 0;top: 120px;width: 225px;height: 225px;  font-size: 17px;}

.cont-02-1 p:nth-child(1) {position: absolute; top: 17px;left: -20px;}
.cont-02-1 p:nth-child(2) {position: absolute; top: 84px;left: 40px;}
.cont-02-1 p:nth-child(3) {position: absolute; top: 143px;left: 4px;}

#layer2 {top: -36px !important;bottom: 40% !important;}
