@charset "utf-8";

#wrap{background:url(../images/page062/bg.jpg)}
p{font-size: 17px; line-height:23px}
.cont-01{height:520px}
.cont-01>p{position: absolute;width: 200px;}
.bx-tip{ position: absolute;top:330px;left:530px;width:150px}
.cont-02{position: absolute;top:100px; left:110px;width:225px}
.sect-q-togehter.share {padding-right: 30px;}