@charset "utf-8";

.review-tip:before {width: 81px; height:122px; background-image:url(../images/page069/review_tip.png);}

#answer_069_03 .answer-wrp{display: inline;}
#answer_069_03 .form-control{width:27px; height:27px; display: inline-block;}
#answer_069_03 ol>li p{display: inline-block;}
#answer_069_03 ol>li span{display: inline-block; width:70px;}
#answer_069_03 ol>li{line-height: 28px; padding-left:0;}

#answer_069_10 .layer{left:105%; top:-45px;}
#answer_069_10 .layer-arrow:before{top:79px; left:-11px; transform:rotate(-90deg);}

#answer_069_03{height:470px;}
#answer_check_069_18{height:440px;}
#answer_069_10{height:350px;}
#answer_check_069_21{height:350px;}

.space{letter-spacing: -0.01em;}

.study-sect .num{margin: -1px 0 0 -45px;}
