@charset "utf-8";

#wrap{background:url(../images/page063/bg.jpg)}
.tit-star{position: absolute;top:35px;left:280px}

.cont-01{height:410px;position: relative;}
.cont-01 .tx-a {position: absolute; top: 250px;right: 5px;}
.cont-01 .tx-a>div>span {float: left;}
.cont-01 .tx-a>div>p {float: left; margin-left: 5px;}
.cont-01 ul {position: absolute;top: 32px; right: 44px ;width: 275px;height: 215px; padding-left: 15px;}
.cont-01 li{ position: absolute;font-size:15px;}
.cont-01 li:nth-child(1) {top: 12px;}
.cont-01 li:nth-child(2) {top: 66px;}
.cont-01 li:nth-child(3) {top: 120px;}
.cont-01 li:nth-child(4) {top: 180px;}
.cont-01 li input {width: 240px;}
.sect-use.cont-01 .bx-act{top:-14px;}

.cont-02 .answer-wrp{ position: absolute;top:300px;left:50px;}
.cont-02 .answer-wrp p{width:120px; margin:35px 10px 0; font-size:15px;}
.cont-02 .form-control{width: 615px;height:40px}
.cont-02 .sect-use-q {letter-spacing: -0.3px;}


.cont-02-Word {position: absolute; top: 45px; left: 69px;width: 140px;height: 222px;  font-size: 18px; font-weight: 600;}
.cont-02-Word li {padding: 17px 0; text-align: center;}
.cont-02-Word li:nth-child(1) {padding: 20px 0;}
.cont-02-text {position: absolute; top: 92px; left: 297px;width: 335px;height: 50px;font-size: 18px; font-family:'GelPenUpright';}
.cont-02-text p {float: left;}
.cont-02-text p:nth-child(2) {margin-left: 50px;}

.lst-type-bull>li:before {color: #e15252;}
