@charset "utf-8";

#wrap{background:url(../images/page055/bg.jpg)}

.cont-01{position: relative;height:360px;}
table{width:510px;margin:-3px 0 0 -5px}
td{height:102px;padding:10px 18px;font-size: 17px;text-align: center; white-space: nowrap; vertical-align: bottom}
td .input-sm{ margin-bottom:10px}
.bx-tip{top:60px;right:0;}
.cont-02 li{ position: absolute}
.self-chk .layer-arrow {margin-top: -21px;}

.form-control {width: 134px; height: 29px;}

/* input 앞 group text 추가 */
.self-chk .layer>div {position: relative;box-sizing: border-box;}
.self-chk .layer>div input {margin-left: 65px;}
.layer>div::before {position: absolute; content:"GROUP :"; left: 0; top: 0; color: #2dac46; font-family: 'Open Sans'; font-weight: 700;padding-top: 4px;}


.sect-q-togehter {}
.sect-q-togehter .button-bx {position: absolute; top: 0; left: 0;}
.sect-q-togehter .button-bx button:nth-child(1) {position: absolute; top: 40px; left: 107px;}
.sect-q-togehter .button-bx button:nth-child(2) {position: absolute; top: 230px; left: 107px;}