<footer class="footer">
  <!-- Sitemap [s] -->
  <div class="wrap sitemap-area">
    <div class="grid">      
      <ul class="sitemap">
        <li><strong class="tit"><a href="javascript:;">Buy Online</a></strong></li>
        <li>
          <strong class="tit"><a href="javascript:;">Models</a></strong>
          <ul>
            <li><a href="javascript:;">IONIQ-Electric</a></li>
            <li><a href="javascript:;">IONIQ-Hybrid</a></li>
            <li><a href="javascript:;">Accent</a></li>
            <li><a href="javascript:;">Elantra</a></li>
            <li><a href="javascript:;">Sonata</a></li>
            <li><a href="javascript:;">Veloster</a></li>
            <li><a href="javascript:;">Veloster Turbo</a></li>
            <li><a href="javascript:;">i30</a></li>
            <li><a href="javascript:;">i30 Wagon</a></li>
            <li><a href="javascript:;">Tuscon</a></li>
            <li><a href="javascript:;">Snata Fe</a></li>
          </ul>
        </li>
        <li>
          <strong class="tit"><a href="javascript:;">After-Sales</a></strong>
          <ul>
            <li><a href="javascript:;">Maintenance</a></li>
            <li><a href="javascript:;">Tips and Advice</a></li>
          </ul>
        </li>
        <li>
          <strong class="tit"><a href="javascript:;">What's New</a></strong>
          <ul>
            <li><a href="javascript:;">News</a></li>
            <li><a href="javascript:;">Events</a></li>
            <li><a href="javascript:;">Promotions</a></li>
            <li><a href="javascript:;">Newsletter</a></li>
            <li><a href="javascript:;">Export Review</a></li>
            <li><a href="javascript:;">Ask Owner</a></li>
          </ul>
        </li>
        <li><strong class="tit"><a href="javascript:;">Test Drvie</a></strong></li>
        <li><strong class="tit"><a href="javascript:;">Rentals</a></strong></li>
      </ul>            
    </div>    
  </div>
  <!-- Sitemap [e] -->
  <!-- Common Footer[s] -->
  <div class="wrap footer-bottom">
    <div class="grid">
      <div class="footer-util-link">
        <div>
          <button class="btn-sitemap">Sitemap</button>
          <a href="javascript:;">About</a><!--
          --><a href="javascript:;">Contact Us</a>
        </div>
        <div>
          <a href="javascript:;"><strong>Privacy</strong><!--
          --><a href="javascript:;"><strong>Terms &amp; Conditions</strong></a><!--
          --><a href="javascript:;"><strong>Legal Disclaimer</strong></a>
        </div>
      </div>
      <p class="copyright">&copy; Hyundai Motors Company. All Rights Reserved.</p>
      <div class="footer-sns">
        <strong class="tit">Follow Us</strong>
        <a href="https://www.youtube.com/channel/UCpXiWauttUUexBytxbSH4yQ" target="_blank" class="iconfont iconfont-sns-youtube"></a>
        <a href="https://www.facebook.com/HyundaiSingapore/" target="_blank" class="iconfont iconfont-sns-facebook"></a>
      </div>
      <button class="btn-top">TOP</button>
    </div>
  </div>
  <!-- Common Footer[e] -->
</footer>
<script>
  $('.footer').on('click','.btn-sitemap',function(){
    $(this).toggleClass('is-active');
    $('.sitemap-area').toggleClass('is-active');
  });
</script>