<div class="l-header-wrap">
  <header class="l-header">
	<a href="javascript:;">
		<strong class="ci"></strong>
	</a>

	<div class="util-menu">
		<a href="../login/login.html" class="btn-login">Login</a>
		<a href="javascript:;" class="btn-mypage">My Page</a>
		<a href="javascript:;" class="btn-cart">Cart<span>0</span></a>
		<button class="btn-sidemenu">Side Menu</button>
	</div>

	<div class="gnb">
		<ul>
			<li><a href="../buy-online/select-a-car.html">Buy Online</a></li>
			<li><a href="../models/models.html">Models</a></li>
			<li><a href="javascript:;">After-Sales</a></li>
			<li><a href="javascript:;">What`s News</a></li>
			<li><a href="javascript:;">Test Drive</a></li>
			<li><a href="javascript:;">Rentals</a></li>
		</ul>
	</div>    
  </header>
</div>
<script>
	var $gnb = $('.gnb');
	var url = window.location.href;
	if(url.indexOf('buy-online') >= 0){
		//console.log(url.indexOf('buy-online'))
		$gnb.find('li:eq(0)').addClass('is-active');
	}else if(url.indexOf('models') >= 0){
		$gnb.find('li:eq(1)').addClass('is-active');
	}
</script>