<!-- [Start] Paging Area -->
<div class="paging">
  <button class="first-prev" aria-label="처음으로 이동" type="button"></button>
  <button class="prev" aria-label="이전 페이지" type="button"></button>
  <div class="mobile-page">
    <span class="now-page" aria-label="현재 페이지">1</span>
    <span class="all-page" aria-label="총 페이지">19</span>
  </div>
  <div class="pc-page">
    <button type="button">1</button>
    <button type="button">2</button>
    <!-- 선택된 버튼 class="selected"로 제어 -->
    <button type="button" class="selected">3</button>
    <button type="button">4</button>
    <button type="button">5</button>
  </div>
  <button class="next" aria-label="다음 페이지" type="button"></button>
  <button class="last-next" aria-label="끝으로 이동" type="button"></button>
</div>
<!-- [End] Paging Area -->