@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  body,
  html {
  }

  
  .guideBg {
    width: 100%;
    height: 100%;
    z-index:998;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
  }

  .guideBg div {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    text-align: center;
  }
  .guideBg div img {
    margin-top: 20px;
  }
  .guideBg div p {font-family: 'Nanum Gothic Coding', monospace;}
  .guideBg div p:nth-child(2) {
    margin-top: 20px;
  }
  .guideBg div p:nth-child(3) {
    margin-top: 5px;
    font-weight: 100;
    font-size: 14px;
  }
  .guideBg div button {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    font-size: 12px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    color: #fff;
  }
  .guideBg div button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
  }


  #section1_bg {
    width: 100%;
    height: 974px;
    background: url('../../assets/images/section1_bg.jpg') center 0 no-repeat;
    position: fixed;
    z-index: -1;
  }

  #section1 {
    width: 100%;
    height: 974px;
    position: relative;
  }

  #section1_text {
    width: 700px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    text-align: center;
  }

  #section1_text h1 {
    font-size: 63px;
    letter-spacing: 3px;
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
  }

  #section1_text h5 {
    font-size: 13px;
    position: absolute;
    top: 77px;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    font-weight: 300;
    letter-spacing: 3px;
  }

  #section1_mouse {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    display: none;
  }

  #section1_mouse div:nth-child(1) {
    width: 24px;
    height: 45px;
    border-radius: 15px;
    border: 1.5px solid #fff;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    position: absolute;
  }

  #section1_mouse div:nth-child(2) {
    width: 6px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
  }

  #section1_mouse p {
    width: 80px;
    height: 20px;
    color: #fff;
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0;
    margin: auto;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-weight: 100;
  }

  #menu {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    position: relative;
    z-index: 99;
  }

  #menu_wrap {
    width: 1250px;
    height: 50px;
    margin: auto;
  }

  #menu_wrap h5 {
    width: 100px;
    height: 50px;
    ;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #5f6669;
  }

  #menu_wrap ul {
    width: 400px;
    height: 50px;
    float: right;
  }

  #menu_wrap ul li {
    width: 100px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    color: #c6c6c6;
  }

  #menu_wrap ul li span {
    cursor: pointer;
  }

  #menu_wrap ul li span:hover {
    color: #5f6669;
  }



  #section2 {
    width: 100%;
    height: 1700px;
    background-color: #f8f8f8;
  }

  #section2_wrap {
    width: 1250px;
    height: 1700px;
    margin: auto;
    position: relative;
  }

  #section2_header {
    width: 1250px;
    height: 300px;
    position: relative;
  }

  #section2_header h2 {
    width: 1250px;
    height: 50px;
    text-align: center;
    color: #5f6669;
    font-size: 40px;
    position: absolute;
    top: 100px;
  }

  #section2_header div {
    width: 40px;
    height: 1px;
    background-color: #5f6669;
    position: absolute;
    top: 170px;
    right: 0;
    left: 0;
    margin: auto;
  }

  #section2_header h5 {
    width: 1250px;
    height: 40px;
    text-align: center;
    color: #5f6669;
    font-size: 15px;
    position: absolute;
    top: 210px;
    font-weight: 300;
  }

  #section2_header h5 span {
    font-weight: 500;
  }

  #section2_wrap ul {
    width: 1250px;
    height: 260px;
    position: relative;
    margin-bottom: 40px;
  }

  #section2_wrap ul li {
    width: 282.5px;
    height: 250px;
    box-shadow: 0px 4px 9px #dedede;
    position: absolute;
    top: 15px;
    opacity: 0;
    cursor: pointer;
    transition: box-shadow 0.5s;
    overflow: hidden;
  }

  #section2_wrap ul li img {
    width: 282.5px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    ;
    z-index: 97;
  }

  #section2_wrap ul li div {
    width: 282.5px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 98;
    opacity: 0;
  }

  #section2_wrap ul li div h5 {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 280px;
    height: 50px;
    color: #373737;
    z-index: 99;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
  }

  #section2_wrap ul li:nth-child(1) {
    left: 0px;
  }

  #section2_wrap ul li:nth-child(2) {
    left: 322.5px;
  }

  #section2_wrap ul li:nth-child(3) {
    left: 645px;
  }

  #section2_wrap ul li:nth-child(4) {
    left: 967.5px;
  }

  /*box-shadow 오른쪽이동, 아래이동, 흐림정도, 그림자색상 box-shadow:0px 4px 10px #dadada;*/


  #section2_work1 li:nth-child(1)>div>h5 {
    font-size: 18px;
  }
  #section2_work1 li:nth-child(4)>div>h5 {
    font-size: 18px;
  }

  #section2_wrap .visite_p {
    width: 60px;
    height: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    line-height: 20px;
    text-align: center;
    border: 1px solid #373737;
    color: #373737;
    font-size: 12px;
  }

  #section2_wrap .visite_p:hover {
    background-color: #373737;
    color: #fff;
  }

  .responsive {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 55px;
    bottom: 0;
    margin: auto;
    border: none;
  }

  .responsive_m {
    background: url('../../assets/images/icon1.png') center;
    top: 55px;
    right: 0;
    left: -70px;
    bottom: 0;
    margin: auto;
  }

  .responsive_m:hover {
    background: #373737 url('../../assets/images/icon1_2.png') center;
  }

  #section2_work2 .responsive_m {
    top: 55px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  .responsive_t {
    background: url('../../assets/images/icon2.png') center;
    top: 55px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  .responsive_t:hover {
    background: #373737 url('../../assets/images/icon2_2.png') center;
  }

  .responsive_p {
    background: url('../../assets/images/icon3.png') center;
    top: 55px;
    right: 0;
    left: 70px;
    bottom: 0;
    margin: auto;
  }

  .responsive_p:hover {
    background: #373737 url('../../assets/images/icon3_2.png') center;
  }



  #section2_next {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #5f6669;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
  }

  #section3 {
    width: 100%;
    height: 922px;
    background-color: #fff;
  }

  #section3_wrap {
    width: 1250px;
    height: 922px;
    margin: auto;
    position: relative;
  }

  #section3_header {
    width: 1250px;
    height: 300px;
    position: relative;
  }

  #section3_header h2 {
    width: 1250px;
    height: 50px;
    text-align: center;
    color: #77939f;
    font-size: 40px;
    position: absolute;
    top: 100px;
  }

  #section3_header div {
    width: 260px;
    height: 260px;
    border-radius: 200px;
    position: absolute;
    right: 0;
    left: 0;
    top: 190px;
    margin: auto;
    background-color: #f6f6f6;
    overflow: hidden;
  }

  #section3_header div img {
    width: 260px;
    height: 260px;
  }

  #section3_ex {
    width: 900px;
    height: 200px;
    position: absolute;
    top: 470px;
    right: 0;
    left: 0;
    margin: auto;
  }

  #section3_ex_left {
    width: 435px;
    height: 200px;
    position: absolute;
    left: 0;
  }

  #section3_ex_left p {
    width: 435px;
    height: 30px;
    font-size: 14px;
    top: 52px;
    position: absolute;
    line-height: 30px;
    font-weight: 300;
  }

  #section3_ex_left h4 {
    width: 435px;
    height: 40px;
    font-size: 19px;
    top: 75px;
    position: absolute;
    line-height: 40px;
  }

  #section3_ex_left h5 {
    width: 435px;
    height: 80px;
    font-size: 13px;
    top: 130px;
    position: absolute;
    line-height: 20px;
    font-weight: 500;
  }

  #section3_ex_right {
    width: 435px;
    height: 200px;
    position: absolute;
    right: 0;
  }

  #sectopm3_ex_skill {
    width: 435px;
    height: 165px;
    top: 40px;
    position: absolute;
  }

  #sectopm3_ex_skill>div {
    width: 435px;
    height: 40px;
  }

  #sectopm3_ex_skill>div>div:nth-child(1) {
    width: 435px;
    height: 20px;
    line-height: 20px;
  }

  #sectopm3_ex_skill>div>div:nth-child(1) h5 {
    float: left;
    font-weight: 500;
  }

  #sectopm3_ex_skill>div>div:nth-child(1) p {
    font-size: 13px;
    float: right;
  }

  #sectopm3_ex_skill>div>div:nth-child(2) {
    width: 435px;
    height: 5px;
    margin-top: 8px;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
  }

  #sectopm3_ex_skill>div>div:nth-child(2) div {
    width: 0%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #77939f;
  }

  #section3_next {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #77939f;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
  }
  /*contact*/

  #section4 {
    width: 100%;
    height: 700px;
    background-color: #f8f8f8;
  }

  #section4_wrap {
    width: 1250px;
    height: 700px;
    margin: auto;
    position: relative;
  }

  #section4_header {
    width: 1250px;
    height: 300px;
    position: relative;
  }

  #section4_header h2 {
    width: 1250px;
    height: 50px;
    text-align: center;
    color: #5f6669;
    font-size: 40px;
    position: absolute;
    top: 100px;
  }

  #section4_text {
    width: 720px;
    height: 80px;
    position: absolute;
    right: 0;
    left: 0;
    top: 270px;
    margin: auto;
  }

  #section4_text li {
    width: 240px;
    height: 80px;
    float: left;
  }

  #section4_text li img {
    width: 45px;
    height: 45px;
    float: left;
  }

  #section4_text li div {
    width: 195px;
    height: 45px;
    float: left;
  }

  #section4_text li div h5 {
    width: 185px;
    height: 26px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 30px;
    letter-spacing: 2px;
  }

  #section4_text li div p {
    width: 185px;
    height: 19px;
    font-size: 13px;
    line-height: 15px;
    padding-left: 10px;
    font-weight: 300;
  }

  #section4_mail {
    width: 720px;
    height: 155px;
    position: absolute;
    right: 0;
    left: 0;
    top: 400px;
    margin: auto;
  }

  #section4_mail div:nth-child(1) {
    width: 360px;
    height: 90px;
    float: left;
  }

  #section4_mail div:nth-child(1) input {
    width: 320px;
    height: 40px;
    border: 1px solid #b0b0b0;
    padding-left: 20px;
    background-color: #f8f8f8;
  }

  #section4_mail div:nth-child(1) input:nth-child(1) {
    margin-bottom: 5px;
  }

  #section4_mail div:nth-child(2) {
    width: 360px;
    height: 90px;
    float: right;
  }

  #section4_mail div:nth-child(2) input {
    width: 320px;
    height: 87px;
    border: 1px solid #b0b0b0;
    padding-left: 20px;
    background-color: #f8f8f8;
    line-height: 10px;
  }

  #section4_send {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #6a6a6a;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0;
    margin: auto;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }

  #section4_send:hover {
    background-color: #464646;
    color: #fff;
  }
  /*section4_mail 클릭했을 때 뜨는 안내팝업*/

  #section4_mail_pop_wrap {
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
  }

  #section4_mail_pop {
    width: 400px;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid #464646
  }

  #section4_mail_pop h3 {
    width: 400px;
    height: 90px;
    top: 10px;
    text-align: center;
    line-height: 100px;
    color: #464646;
    font-weight: 500;
    font-size: 17px;
  }

  #section4_mail_pop p {
    width: 80px;
    height: 25px;
    line-height: 25px;
    margin: auto;
    border: 1px solid #2d2d2d;
    cursor: pointer;
    font-size: 11px;
    color: #2d2d2d;
  }

  #section4_mail_pop p:hover {
    background-color: #2d2d2d;
    color: #fff;
  }
  /*footer*/

  #section5 {
    width: 100%;
    height: 225px;
    background-color: #303030;
  }

  #section5_wrap {
    width: 1250px;
    height: 210px;
    margin: auto;
    position: relative;
  }

  #section5_wrap h3 {
    width: 46px;
    height: 21px;
    color: #c6c6c6;
    position: absolute;
    font-size: 20px;
    top: -15px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
  }

  #section5_wrap p {
    width: 600px;
    height: 50px;
    color: #797979;
    position: absolute;
    font-size: 11.5px;
    top: 67px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }

  #scroll_bt {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 1px solid #373737;
    background: url('../../assets/images/arrow1.png') center center;
    display: none;
  }