
.pictureView,
.galleryview {}
/* .pv_gallery .container-fluid{padding-right:5px;padding-left:5px} */
.viewchange .resultitem {
    vertical-align: top;
    display: block;
    text-align: center;
    margin: 10px 12px 0;
    position: relative;
    -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

.viewchange .resulttitle {
    margin-top: 0;
}

.viewchange .resulttitle a {
    display: block;
    text-align: left;
}

.viewchange .resultitem .resultbox,
.viewchange .resultitem .resultbox .resultdecs {
    display: block;
    width: auto;
    margin: 0;
}

.viewchange .resultitem .box {
    vertical-align: top;
    display: block;
    border: solid 1px #d9d9d9;
    text-align: center;
    overflow: hidden;
    background: transparent url() no-repeat 50%;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.viewchange .resultitem>.box>a.clickevent {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto;
}

.img-responsive {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.viewchange .resultitem>p.resulttitle {
    padding: 4px 0;
}




.galleryview .resultitem,
.galleryview .resultitem .box {
    width: 15em;
    padding: 0;
}

.galleryview .resultitem .box {
    height: 15em;
    line-height: 14em;
    background-image: none;
}

.thumbnails .resultitem .content,
.galleryview .resultitem .content,
.galleryview .resultitem .scopeName,
.thumbnails .resultitem .scopeName {
    display: none;
}

.picflex {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.picflex:after {
    content: '';
    flex-grow: 1;
    display: inline-block;
    min-width: 50%;
}

.picflex .resultitem {
    margin: 5px;
    position: static;
    width: auto;
    border: 0;
    height: 180px;
    min-width: 85px;
    flex-grow: 1;
    /* max-width:320px; */
}

.picflex .resultitem .box {
    border: none;
    width: 100%;
    height: 180px;
    line-height: normal;

}



.picflex .resultitem.open:after {
    content: "";
    font-size: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 16px 16px 16px;
    border-color: transparent transparent #1f2731 transparent;
    top: -3px;
    position: relative;
}

.picflex .resultitem .box>i {
    display: block;
}

.picflex .resultitem .box img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    left: 50%;
    vertical-align: bottom;
}

.picflex .resultitem .box .iconlinks {
    overflow: hidden;
    position: absolute;
    height: 0px;
    top: 180px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    transition: ease-in-out 0.2s;
}

.picflex .resultitem .box:hover .iconlinks {
    transition: ease-in-out 0.2s;
    height: 40px;
    padding: 10px 0;
    top: 140px;
}

.picflex .resultitem .box .iconlinks .icon-sprite {
    display: inline-block;
    padding: 0 4px;
}

.picflex .resultitem .box .iconlinks .icon-sprite i.glyphicon {
    font-size: 20px;
}

.picflex .icon-sprite {
    background: transparent none;
    color: #fff;
    text-indent: 0;
    width: auto;
    height: auto;
}

.picflex .icon-sprite:hover,
.picflex .icon-sprite.cart-add {
    color: #2b0;
}

.picflex .icon-sprite.cart-add:hover {
    color: #d01323;
}

.picflex .detailview {
    display: none;
    background: #1f2731;
    position: absolute;
    left: 0;
    right: 0;
    margin-top:29px;
    overflow: auto;
    z-index:500;

}

.picflex .resultitem.open .detailview {

}

.picflex .resulttitle {
    text-align: left;
    line-height: 45px;
    font-weight: bold;
    border-bottom: 1px solid #ACACAC !important;
    margin-bottom: 15px;
}

.picflex .resulttitle span.product {
    padding-right: 10px;
    border-right: 1px solid #fff;
    color: #e4e4e4;
    font-weight: normal;
    font-size: 13px;
}

.picflex .resulttitle span.productid {
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    font-size: 13px;
}


.picflex .resultitem:first-child .detailview .resulttitle .controllers a.left-arrow,
.picflex .resultitem:last-child .detailview .resulttitle .controllers a.right-arrow {
    display: none;
}

.picflex .detailview ul.image-links {
    margin: 0;
    padding: 0;
    padding: 14px 0 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.picflex .detailview ul.image-links li a {
    font-size: 13px;
    padding: 0;
    text-decoration: none;
}

.picflex .detailview ul.image-links li.addToOrder a:after {
    content: attr(title);
}

.picflex .detailview>div {
    border: none;
}
.detailview > .grid{padding:5rem .5rem;}
.detailview > .grid > .flexWrap{position: relative;}
.detailview > .grid > .flexWrap > .left{border-right:1px solid #131b26;position: relative;vertical-align:middle;text-align: center;display:flex;justify-content:center;align-items:center;/*width:65.887%*/}

.pvWrap{min-width:84.1rem;position:absolute;top:0;right:0;bottom:0;left:0;}
.pvWrap > iframe{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%}
.detailview > .grid > .flexWrap > .right{padding:2rem;text-align: left;position:relative;}
.detailview > .grid > .flexWrap > .right{display: flex;max-width:calc(100% - 740px);
flex-direction: row;
justify-content: center;
align-items: center;}
.detailview .detailClose{background:url(../images/models/pv_close.png) no-repeat;width:4rem;height:4rem;background-size: contain;position:absolute;top:0;right:0}

@media screen and (min-width:768px) {
    .picflex:after {
        content: '';
        flex-grow: 1;
        display: inline-block;
        min-width: 55%;
    }
}

@media screen and (min-width:992px) {
    .picflex:after {
        content: '';
        flex-grow: 1;
        display: inline-block;
        min-width: 70%;
    }
    .picflex .detailview .thumbMeta .metacolmn {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 25px;
        -moz-column-gap: 25px;
        column-gap: 25px;
        column-fill: auto;
        margin: 0;
        min-height: 375px;
    }

}
@media (max-width:768px) {
  .picflex .resultitem.open{height:580px}
  .detailview > .grid > .flexWrap > .left{padding:20px 13px 20px 0 ;width:60%;height:auto}
  .detailview > .grid > .flexWrap > .right{width:40%;max-width: none;}
  .detailview > .grid > .flexWrap > .left > img{max-width:100%;}
  .detailview > .grid{padding:3rem 2rem}
}
@media (max-width: 1024px) and (min-width: 769px){
  .picflex .resultitem.open{height:710px}
  .detailview > .grid > .flexWrap > .left{padding:20px 13px 20px 0 ;width:603px;height:400px}
  .detailview > .grid > .flexWrap > .left > img{max-width:100%;max-height:360px}
  .detailview > .grid{padding:4rem .5rem}
}


@media (min-width: 1025px) {
  .detailview > .grid > .flexWrap > .left > img{max-width:100%;max-height:100%;}
  .detailview > .grid > .flexWrap > .left{height:460px;width:790px;padding:20px 20px 20px 0  ;text-align: center}
  .detailview > .grid{max-width:1280px}
  .picflex .resultitem.open{height:760px}
}
@media (min-width: 1120px) {
  .picflex .resultitem.open{height:780px}
}

@media (min-width: 1200px) {
  /* .picflex .resultitem.open{height:800px} */
  .picflex .resultitem.open {
      height: 800px;
  }

}
@media (max-width: 640px) {
  .more.pv_gallery .resultitem:nth-child(n+8){display:none}
  .pv_gallery{zoom:.6111;}
  .detailview > .grid{padding:4.5rem 0 1rem}
  .detailview .flexWrap{display:block}
  .detailview > .grid > .flexWrap > .left{width:100%;padding:0}
  .detailview > .grid > .flexWrap > .right{width:100%;}
  .detailview .detailClose{width:3rem;height:3rem;top:-3.5rem;right:1.2rem}
  .detailview > .grid > .flexWrap > .left > img{width:100%;height:auto}
  .picflex .resultitem.open{height:820px}
  .picflex .detailview{height:590px}
}
