@charset "UTF-8";
/* ======================================================================*/
/* [Font] 웹폰트 설정
/* ======================================================================*/
@font-face { font-family: "HyundaiSansText-Regular"; src: url("../fonts/HyundaiSansText-Regular.eot"); src: url("../fonts/HyundaiSansText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HyundaiSansText-Regular.woff2") format("woff2"), url("../fonts/HyundaiSansText-Regular.woff") format("woff"), url("../fonts/HyundaiSansText-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HyundaiSansText-Medium"; src: url("../fonts/HyundaiSansText-Medium.eot"); src: url("../fonts/HyundaiSansText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HyundaiSansText-Medium.woff2") format("woff2"), url("../fonts/HyundaiSansText-Medium.woff") format("woff"), url("../fonts/HyundaiSansText-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HyundaiSansHead-Regular"; src: url("../fonts/HyundaiSansHead-Regular.eot"); src: url("../fonts/HyundaiSansHead-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HyundaiSansHead-Regular.woff2") format("woff2"), url("../fonts/HyundaiSansHead-Regular.woff") format("woff"), url("../fonts/HyundaiSansHead-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "HyundaiSansHead-Medium"; src: url("../fonts/HyundaiSansHead-Medium.eot"); src: url("../fonts/HyundaiSansHead-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HyundaiSansHead-Medium.woff2") format("woff2"), url("../fonts/HyundaiSansHead-Medium.woff") format("woff"), url("../fonts/HyundaiSansHead-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/*# sourceMappingURL=map/hos-sg-webfonts.css.map */
