@charset "UTF-8";
/* ====================================================================== */
/* [ Version      ] hos-sg-common.css v1.0.0 © xeogen.com
/* [ Author       ] 정인영
/* [ Inquiry      ] geulrara.design@gmail.com
/* [ Date Updated ] 2018.06.19
/* ====================================================================== */
/* ====================================================================== */
/* [Reset CSS] normalize.css v3.0.2 */
/* ====================================================================== */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe { margin: 0; padding: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }

html * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

img { vertical-align: top; border: 0; }

fieldset { border: 0; }

ul, ol, li { list-style: none; }

hr { display: none; border: 0; }

pre { white-space: pre-wrap; }

legend, caption { display: none; clear: both; }

a { color: inherit; cursor: pointer; }

a:link { text-decoration: none; }

a:hover, a:focus, a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; word-break: keep-all; }

em, i, address, cite { font-style: normal; font-weight: normal; }

input, textarea, select, button, table { font-size: inherit; font-family: inherit; *font-size: inherit; border: 0; background-color: transparent; }

button, select { cursor: pointer; }

textarea, input, select { -webkit-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: 0; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }

textarea { resize: none; }

table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

th, td { border-collapse: collapse; }

/* ====================================================================== */
/* [Reset CSS] Base Style */
/* ====================================================================== */
select { -webkit-appearance: none; -ms-appearance: none; -moz-appearance: none; appearance: none; box-sizing: border-box; appearance: none; }

progress[value] { appearance: none; -moz-appearance: none; -webkit-appearance: none; border: none; background-size: auto; }

progress[value][role][aria-valuenow] { appearance: none; -moz-appearance: none; -webkit-appearance: none; border: none; background-size: auto; }

progress[value][role][aria-valuenow]::after { background-image: none; }

progress[value][role][aria-valuenow]::before { display: table; }

progress[value][role][aria-valuenow] strong { display: none; }

progress[value][role][aria-valuenow]::-webkit-progress-value, progress[value][role][aria-valuenow]::-webkit-progress-inner-element { display: table; }

progress[value][role][aria-valuenow]::-webkit-progress-bar { display: table-cell; }

progress[value][role][aria-valuenow]::-moz-progress-bar, progress[value][role][aria-valuenow]::-webkit-progress-value { display: table; }

textarea { color: inherit; }

textarea:focus::-webkit-input-placeholder { color: transparent; }

textarea:focus:-moz-placeholder { color: transparent; }

textarea:focus::-moz-placeholder { color: transparent; }

textarea:focus:-ms-input-placeholder { color: transparent; }

input[type="reset"], input[type="button"], input[type="submit"] { line-height: normal !important; cursor: pointer; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: 0; }

input:checked[type="checkbox"] { background-color: #fff; -webkit-appearance: checkbox; }

input { color: inherit; }

input::-webkit-input-placeholder { color: inherit; }

input::-moz-placeholder { color: inherit; }

input:-ms-input-placeholder { color: inherit !important; }

input:-moz-placeholder { color: inherit; }

input:focus { border: 0; }

input:focus::-webkit-input-placeholder { color: transparent; }

input:focus:-moz-placeholder { color: transparent; }

input:focus::-moz-placeholder { color: transparent; }

input:focus:-ms-input-placeholder { color: transparent; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0px 1000px white inset; }

input[type="date"]::-webkit-clear-button { display: none; }

input[type="date"]::-webkit-inner-spin-button { display: none; }

input[type="date"]::-webkit-calendar-picker-indicator { color: #343434; background: #fff; }

input[type="date"] { appearance: none; -webkit-appearance: none; display: inline-block !important; visibility: visible !important; }

input[type="date"], input:focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
  html * { color: #000; background: #fff; } }

.popup-tab .tab-inner, .wheels-view-360-exterior .popup-tab .tab-inner, .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list, .wheels-view-360-exterior .interiorchip-list, .wheels-video .player-area, .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner { *zoom: 1; }

.popup-tab .tab-inner::before, .wheels-view-360-exterior .popup-tab .tab-inner::before, .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list::before, .wheels-view-360-exterior .interiorchip-list::before, .wheels-video .player-area::before, .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner::before, .popup-tab .tab-inner::after, .wheels-view-360-exterior .popup-tab .tab-inner::after, .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list::after, .wheels-view-360-exterior .interiorchip-list::after, .wheels-video .player-area::after, .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner::after { content: ""; display: block; }

.popup-tab .tab-inner::after, .wheels-view-360-exterior .popup-tab .tab-inner::after, .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list::after, .wheels-view-360-exterior .interiorchip-list::after, .wheels-video .player-area::after, .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner::after { clear: both; }

.grid { min-width: 320px; max-width: 100%; margin-left: auto; margin-right: auto; }

.grid:after { content: " "; display: block; clear: both; }

@media (min-width: 580px) { .grid { max-width: 100%; margin-left: auto; margin-right: auto; }
  .grid:after { content: " "; display: block; clear: both; } }

@media (min-width: 860px) { .grid { max-width: 100%; margin-left: auto; margin-right: auto; }
  .grid:after { content: " "; display: block; clear: both; } }

@media (min-width: 1024px) { .grid { max-width: 100%; margin-left: auto; margin-right: auto; }
  .grid:after { content: " "; display: block; clear: both; } }

@media (min-width: 1240px) { .grid { max-width: 1240px; margin-left: auto; margin-right: auto; }
  .grid:after { content: " "; display: block; clear: both; } }

html { font-size: 10px; }

html body { font-family: HyundaiSansText-Regular, sans-serif; font-size: 16px; font-size: 1.6rem; line-height: 1.5; color: #000; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { body { -webkit-font-smoothing: antialiased; } }

h1, h2, h3, h4, h5 { font-family: HyundaiSansHead-Medium, sans-serif; }

h1 { line-height: 1.2; }

h2, h3, h4, h5 { line-height: 1.3; }

@media (min-width: 860px) { h4, h5 { line-height: 1.5; } }

p, small { line-height: 1.5; }

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 24px; }

h4 { font-size: 20px; }

h5 { font-size: 18px; }

p { font-size: 16px; }

p strong { font-family: HyundaiSansText-Medium, sans-serif; }

small { display: inline-block; font-size: 14px; }

small strong { font-family: HyundaiSansText-Medium, sans-serif; }

/* ====================================================================== */
/* [GNB] Top Menu
/* ====================================================================== */
.l-header-wrap { width: 100%; }

.l-header { width: 100%; padding: 15px 20px 13px 20px; border-bottom: 1px solid #e2e3e6; }

.l-header:after { content: ''; display: block; clear: both; }

.l-header .ci { float: left; width: 153px; height: 22px; background: url(../svg/ci-m.svg) no-repeat; background-size: cover; }

.l-header .util-menu { float: right; }

.l-header .gnb, .l-header .util-menu a { display: none; }

.l-header .util-menu { font-size: 0; }

.l-header .util-menu a, .l-header .util-menu button { float: left; }

.l-header .util-menu .btn-cart { display: block; position: relative; width: 22px; height: 22px; background: url(../svg/cart.svg) no-repeat; }

.l-header .util-menu .btn-cart span { position: absolute; right: -7px; top: -7px; width: 17px; height: 17px; text-align: center; line-height: 17px; border-radius: 50%; color: #fff; background-color: #e63312; font-size: 12px; }

.l-header .util-menu .btn-cart + .btn-sidemenu { display: inline-block; width: 22px; height: 16px; margin-left: 30px; background: url(../svg/menu.svg) no-repeat; }

@media screen and (min-width: 1024px) { .l-header { width: 100%; padding: 24px 20px 23px 20px; }
  .l-header .ci { width: 308px; height: 23px; background: url(../svg/ci.svg) no-repeat; background-size: cover; }
  .l-header .util-menu a { display: block; margin-top: 1px; }
  .l-header .util-menu a + a { margin-left: 14px; }
  .l-header .util-menu .btn-login { width: 18px; height: 20px; background: url(../svg/login.svg) no-repeat; background-size: cover; }
  .l-header .util-menu .btn-mypage { width: 18px; height: 20px; background: url(../svg/mypage.svg) no-repeat; background-size: cover; }
  .l-header .util-menu .btn-cart + .btn-sidemenu { margin-left: 68px; } }

@media screen and (min-width: 1280px) { .l-header { max-width: 1280px; width: 100%; margin: 0 auto; box-sizing: border-box; }
  .l-header .gnb { display: block; font-size: 0; text-align: center; }
  .l-header .gnb li { display: inline-block; position: relative; font-size: 17px; line-height: 23px; font-family: "HyundaiSansHead-Medium"; color: #555; }
  .l-header .gnb li.is-active:after { content: ''; position: absolute; top: 43px; left: 0; width: 0; height: 4px; background-color: #e63312; transition: width .5s .5s; }
  .l-header .gnb li.is-active { color: #000; }
  .l-header .gnb li.is-active:after { width: 100%; }
  .l-header .gnb li + li { margin-left: 50px; }
  .l-header .util-menu .btn-cart + .btn-sidemenu { display: none; } }

/* ====================================================================== */
/* [Footer] Copyright & Site Map
/* ====================================================================== */
.footer { position: relative; font-family: HyundaiSansHead-Regular, sans-serif; max-width: 100%; margin-left: auto; margin-right: auto; background: #f1f2f5; font-size: 1.4rem; }

.footer:after { content: " "; display: block; clear: both; }

.footer .btn-sitemap, .footer .footer-sns, .footer .btn-top { display: none; }

.footer .sitemap-area { display: none; overflow: hidden; position: absolute; left: 0; bottom: 100%; width: 100%; height: 0; border-bottom: 1px solid #f1f2f5; background-color: #f1f2f5; font-size: 1.5rem; transition: all .4s; }

.footer .sitemap-area.is-active { height: auto; border-bottom: 1px solid #e3e4e7; }

.footer .footer-bottom { padding-top: 17px; padding-bottom: 18px; }

.footer .footer-bottom .grid { position: relative; }

.footer .footer-bottom .footer-util-link > div { text-align: center; line-height: 2.4rem; }

.footer .footer-bottom .footer-util-link > div > a { position: relative; display: inline-block; padding: 0 10px; }

.footer .footer-bottom .footer-util-link > div > a:after { content: ''; position: absolute; right: 0; top: 3px; bottom: 3px; width: 1px; height: 11px; background-color: #d2d2d2; }

.footer .footer-bottom .footer-util-link > div > a:last-child:after { content: none; }

.footer .footer-bottom .copyright { margin-top: 13px; text-align: center; font-family: HyundaiSansText-Regular, sans-serif; font-size: 1.4rem; }

@media (min-width: 860px) { .footer .sitemap-area { display: block; }
  .footer .sitemap { display: flex; padding-top: 26px; padding-bottom: 24px; *zoom: 1; }
  .footer .sitemap::before, .footer .sitemap::after { content: ""; display: block; }
  .footer .sitemap::after { clear: both; }
  .footer .sitemap > li { flex: 1; }
  .footer .sitemap > li .tit { display: block; margin-bottom: 20px; font-size: 1.8rem; }
  .footer .sitemap > li li { line-height: 2.4rem; }
  .footer .footer-bottom .footer-util-link { *zoom: 1; }
  .footer .footer-bottom .footer-util-link::before, .footer .footer-bottom .footer-util-link::after { content: ""; display: block; }
  .footer .footer-bottom .footer-util-link::after { clear: both; }
  .footer .footer-bottom .footer-util-link > div { float: left; }
  .footer .footer-bottom .footer-util-link > div > a { padding-left: 13px; padding-right: 13px; }
  .footer .footer-bottom .footer-util-link > div > a:after { height: 14px; }
  .footer .footer-bottom .footer-util-link > div:first-child a:last-child:after { content: ''; }
  .footer .footer-bottom .footer-util-link .btn-sitemap { position: relative; display: inline-block; margin-right: 10px; }
  .footer .footer-bottom .footer-util-link .btn-sitemap:after { content: '\E027'; display: inline-block; margin-left: 12px; font-family: 'iconfont'; transform: rotate(180deg); }
  .footer .footer-bottom .footer-util-link .btn-sitemap.is-active:after { transform: rotate(0deg); }
  .footer .footer-bottom .copyright { text-align: left; font-size: 1.5rem; }
  .footer .footer-bottom .footer-sns { display: block; position: absolute; right: 15px; top: 5px; }
  .footer .footer-bottom .footer-sns .tit { float: left; margin-right: 20px; line-height: 3.6rem; color: #666; }
  .footer .footer-bottom .footer-sns a { float: left; font-size: 3.6rem; }
  .footer .footer-bottom .footer-sns a + a { margin-left: 7px; } }

@media (min-width: 1240px) { .footer .sitemap > li { width: 15.73034%; float: left; margin-right: 1.1236%; } }

/* ====================================================================== */
/* [Common] Layout Common */
/* ====================================================================== */
.sub-title { padding-bottom: 11px; border-bottom: 2px solid #222; }

@media (min-width: 860px) { .sub-title { padding-bottom: 17px; } }

/* ====================================================================== */
/* [Common] 레이아웃 */
/* ====================================================================== */
.container { padding-top: 30px; padding-bottom: 20px; min-height: 800px; }

@media (min-width: 580px) { .container { padding-top: 60px; padding-bottom: 102px; } }

.wrap { padding-left: 20px; padding-right: 20px; }

@media (min-width: 1024px) and (max-width: 1239px) { .wrap { padding-left: 24px; padding-right: 24px; } }

.popup-tab .tab-inner { position: relative; }

.popup-tab .tab-inner.col-3 li { width: 32%; margin-right: 2%; margin-left: 0; }

.popup-tab .tab-inner.col-3 li:last-child { width: 32%; margin-left: 0; margin-right: 0; }

.popup-tab .tab-inner.col-3 li button { display: table; width: 100%; margin: 0; }

.popup-tab .tab-inner.col-3 li button span { display: table-cell; width: 10%; line-height: 1.2; vertical-align: middle; }

.popup-tab .tab-inner::before { content: ''; position: absolute; bottom: 0; left: 0; right: 0; z-index: 10; height: 1px; background-color: #222; }

.popup-tab .tab-inner li { position: relative; width: 47.36842%; float: left; margin-right: 5.26316%; }

.popup-tab .tab-inner li:last-child { width: 47.36842%; float: right; margin-right: 0; }

.popup-tab .tab-inner li button { display: block; position: relative; width: 100%; float: left; margin-left: 0; margin-right: 0; text-align: center; }

.popup-tab .tab-inner li button span { display: block; height: 45px; border: 1px solid #e2e3e6; border-bottom: none; line-height: 45px; color: #666; font-family: HyundaiSansHead-Regular, sans-serif; }

.popup-tab .tab-inner li.is-active button { z-index: 11; background-color: #fff; }

.popup-tab .tab-inner li.is-active button span { color: #000; font-family: HyundaiSansHead-Medium, sans-serif; border-color: #222; }

.popup-tab .tab-inner li.is-active::before { content: ''; position: absolute; bottom: -1px; left: 0; right: 0; height: 1px; background-color: #fff; }

@media (min-width: 860px) { .popup-tab .tab-inner { position: relative; }
  .popup-tab .tab-inner.col-3 li { width: 32%; margin-right: 2%; }
  .popup-tab .tab-inner.col-3 li:last-child { width: 32%; }
  .popup-tab .tab-inner.col-3 li button { display: block; }
  .popup-tab .tab-inner.col-3 li button span { display: block; width: 100%; line-height: 45px; }
  .popup-tab .tab-inner li { width: 406px; margin: 0 8px 0 0; }
  .popup-tab .tab-inner li button span { height: 50px; font-size: 18px; }
  .popup-tab .tab-inner li:last-child { float: left; width: 406px; margin: 0; }
  .popup-tab .tab-inner::after { content: ''; display: block; clear: both; } }

.content-panel { display: none; }

.content-panel.is-active { display: block; }

.popup-tab02 { margin-bottom: 20px; }

.popup-tab02 .tab-menu-select { display: block; padding: 10px; border: 1px solid #dcdcdc; background: url("../../assets/svg/select-arrow.svg") right 10px top 50% no-repeat; background-size: 13px auto; }

.popup-tab02 .tab-inner { display: none; border: 1px solid #dcdcdc; }

.popup-tab02 .tab-inner.is-show { display: block; }

.popup-tab02 .tab-inner li { display: block; padding: 10px; }

@media (min-width: 860px) { .popup-tab02 { margin-bottom: 0; }
  .popup-tab02 .tab-menu-select { display: none; }
  .popup-tab02 .tab-inner { display: table; width: 100%; border: 0; font-family: HyundaiSansHead-Regular, sans-serif; }
  .popup-tab02 .tab-inner li { display: table-cell; padding: 0; border-bottom: 2px solid #dadbdc; text-align: center; }
  .popup-tab02 .tab-inner li.is-active { font-family: HyundaiSansHead-Medium, sans-serif; border-color: #222; }
  .popup-tab02 .tab-inner li button { display: block; width: 100%; }
  .popup-tab02 .tab-inner li button span { display: block; padding: 7px 20px; } }

.popup-wheels-all-spec-specifications .tab-panel-group .popup-content-list { border-top: 1px solid #222; border-bottom: 1px solid #222; }

.popup-wheels-all-spec-specifications .tab-panel-group .popup-content-list li { display: table; width: 100%; padding: 13px 20px; }

.popup-wheels-all-spec-specifications .tab-panel-group .popup-content-list li + li { border-top: 1px solid #e2e3e6; }

.popup-wheels-all-spec-specifications .tab-panel-group .popup-content-list li .list-tit { display: table-cell; padding-right: 10px; font-weight: 400; }

.popup-wheels-all-spec-specifications .tab-panel-group .popup-content-list li .list-txt { display: table-cell; vertical-align: middle; text-align: right; font-family: HyundaiSansText-Medium, sans-serif; }

.popup-wheels-all-spec-specifications .tab-panel-group .spec-row .popup-content-list li { display: block; }

.popup-wheels-all-spec-specifications .tab-panel-group .spec-row .popup-content-list li .list-txt { display: block; }

.popup-wheels-all-spec-specifications .tab-panel-group .spec-row .popup-content-list li .list-tit { display: block; }

.popup-wheels-all-spec-specifications .tab-panel-group .wheels-all-spec-dimension .unit { float: right; margin-top: 13px; font-size: 14px; font-family: HyundaiSansText-Medium, sans-serif; }

.popup-wheels-all-spec-specifications .tab-panel-group .wheels-all-spec-dimension img { max-width: 100%; }

@media (min-width: 860px) { .popup-wheels-all-spec-specifications .tab-panel-group .popup-content-list { border-top: 0; }
  .popup-wheels-all-spec-specifications .tab-panel-group .spec-row .popup-content-list li { display: table; padding: 13px 20px; }
  .popup-wheels-all-spec-specifications .tab-panel-group .spec-row .popup-content-list li .list-tit { display: table-cell; vertical-align: middle; }
  .popup-wheels-all-spec-specifications .tab-panel-group .spec-row .popup-content-list li .list-txt { display: table-cell; width: 500px; vertical-align: middle; } }

.popup-content-title { margin: 0 0 10px; font-size: 20px; }

.sub-text { color: #888; }

.trim-option-check { color: #888; }

.trim-option-check:after { content: ''; display: inline-block; width: 10px; height: 10px; border-radius: 10px; background-color: #222; }

.trim-option-check.none:after { content: '-'; width: auto; height: auto; background-color: transparent; }

.popup-configure-color-notice .popup-content-inner { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e2e3e6; }

.popup-configure-color-notice .pop-btnset-area a { width: 47.36842%; float: left; margin-right: 5.26316%; }

.popup-configure-color-notice .pop-btnset-area a.btn-m-cancel { float: right; margin-right: 0; }

.popup-configure-color-notice .pop-btnset-area a:last-child { margin-top: 8px; width: 100%; float: left; margin-left: 0; margin-right: 0; }

@media (min-width: 580px) { .popup-configure-color-notice .popup-content-inner { padding-bottom: 30px; margin-bottom: 30px; } }

@media (min-width: 860px) { .popup-configure-color-notice .pop-btnset-area a { width: 32.20339%; float: left; margin-right: 1.69492%; }
  .popup-configure-color-notice .pop-btnset-area a.btn-m-cancel { float: left; }
  .popup-configure-color-notice .pop-btnset-area a:last-child { margin-top: 0; width: 32.20339%; float: left; margin-right: 1.69492%; float: right; margin-right: 0; } }

.popup-coe-finance-change-a-car .pop-btnset-area { margin-top: 20px; }

.popup-coe-finance-change-a-car .pop-btnset-area a { width: 47.36842%; float: left; margin-right: 5.26316%; }

.popup-coe-finance-change-a-car .pop-btnset-area a.btn-m-saving { float: right; margin-right: 0; }

.popup-coe-finance-change-a-car .pop-btnset-area a:last-child { margin-top: 8px; width: 100%; float: left; margin-left: 0; margin-right: 0; }

@media (min-width: 860px) { .popup-coe-finance-change-a-car .pop-btnset-area { margin-top: 30px; }
  .popup-coe-finance-change-a-car .pop-btnset-area a { width: 32.20339%; float: left; margin-right: 1.69492%; }
  .popup-coe-finance-change-a-car .pop-btnset-area a.btn-m-saving { float: left; }
  .popup-coe-finance-change-a-car .pop-btnset-area a:last-child { margin-top: 0; width: 32.20339%; float: left; margin-right: 1.69492%; float: right; margin-right: 0; } }

.popup-summary-options .summary-options-list { margin-bottom: 10px; border: 1px solid #dedede; }

.popup-summary-options .summary-options-list.is-on { border: 2px solid #222; }

.popup-summary-options .summary-options-list.is-on dt { font-family: HyundaiSansHead-Medium, sans-serif; }

.popup-summary-options .summary-options-list.is-on dd { color: #e63312; }

.popup-summary-options .summary-options-list a { display: table; width: 100%; height: 200px; padding: 0 16px; }

.popup-summary-options .summary-options-list a:last-child { margin-bottom: 0; }

.popup-summary-options .summary-options-list a .summary-options-img { display: table-cell; padding-right: 15px; text-align: right; vertical-align: middle; }

.popup-summary-options .summary-options-list a dl { display: table-cell; vertical-align: middle; }

.popup-summary-options .summary-options-list a dl dt { margin-bottom: 10px; font-family: HyundaiSansHead-Regular, sans-serif; }

.popup-summary-options .summary-options-list a dl dd { font-family: HyundaiSansHead-Medium, sans-serif; }

.popup-summary-options .pop-btnset-area { margin-top: 20px; }

.popup-summary-options .pop-btnset-area a { width: 47.36842%; float: left; margin-right: 5.26316%; }

.popup-summary-options .pop-btnset-area a:last-child { float: right; margin-right: 0; }

@media (min-width: 860px) { .popup-summary-options .summary-options-inner { *zoom: 1; }
  .popup-summary-options .summary-options-inner::before, .popup-summary-options .summary-options-inner::after { content: ""; display: block; }
  .popup-summary-options .summary-options-inner::after { clear: both; }
  .popup-summary-options .summary-options-list { float: left; width: 400px; margin-right: 20px; margin-bottom: 20px; }
  .popup-summary-options .summary-options-list:nth-child(even) { margin-right: 0; }
  .popup-summary-options .summary-options-list:nth-last-child(-n+2) { margin-bottom: 0; }
  .popup-summary-options .pop-btnset-area { margin-top: 30px; font-size: 0; }
  .popup-summary-options .pop-btnset-area a { float: none; width: 190px; margin-right: 20px; font-size: 16px; }
  .popup-summary-options .pop-btnset-area a:last-child { float: none; } }

.popup-summary-sales-person-change .sales-person-change-txt { padding-bottom: 10px; font-family: HyundaiSansHead-Medium, sans-serif; border-bottom: 1px solid #222; }

.popup-summary-sales-person-change .sales-person-change-txt span { display: block; color: #e63312; }

.popup-summary-sales-person-change .sales-person-change-list .list-title { display: none; }

.popup-summary-sales-person-change .sales-person-change-list .list-content { border-bottom: 1px solid #222; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li { position: relative; padding-top: 20px; padding-right: 84px; padding-bottom: 20px; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li + li { border-top: 1px solid #e2e3e6; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li span { display: block; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-name { font-family: HyundaiSansText-Medium, sans-serif; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-check { position: absolute; top: 15px; right: 0; color: #888; font-family: HyundaiSansHead-Medium, sans-serif; text-transform: uppercase; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-check:before { content: ''; display: inline-block; width: 10px; height: 10px; margin-right: 6px; border-radius: 10px; background-color: #888; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-check.on { color: #e63312; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-check.on:before { background-color: #e63312; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-select { position: absolute; bottom: 20px; right: 0; }

.popup-summary-sales-person-change .sales-person-change-list .list-content li .btn-select-gray { width: 74px; height: 34px; line-height: 34px; }

@media (min-width: 860px) { .popup-summary-sales-person-change .sales-person-change-txt { border-bottom: 0; }
  .popup-summary-sales-person-change .sales-person-change-txt span { display: inline-block; }
  .popup-summary-sales-person-change .sales-person-change-list { text-align: center; }
  .popup-summary-sales-person-change .sales-person-change-list .list-title { display: table; width: 100%; border-bottom: 1px solid #e2e3e6; font-family: HyundaiSansHead-Medium, sans-serif; background: #f1f2f5; }
  .popup-summary-sales-person-change .sales-person-change-list .list-title li { display: table-cell; height: 50px; vertical-align: middle; }
  .popup-summary-sales-person-change .sales-person-change-list .list-title li:nth-child(1) { width: 127px; }
  .popup-summary-sales-person-change .sales-person-change-list .list-title li:nth-child(3) { width: 148px; }
  .popup-summary-sales-person-change .sales-person-change-list .list-title li:nth-child(4) { width: 140px; }
  .popup-summary-sales-person-change .sales-person-change-list .list-title li:nth-child(5) { width: 150px; }
  .popup-summary-sales-person-change .sales-person-change-list .list-title li strong { font-weight: 400; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li { display: table; width: 100%; padding: 8px 0; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li span { display: table-cell; padding: 0 10px; word-break: break-all; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-name { width: 127px; font-family: HyundaiSansText-Regular, sans-serif; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-phone { width: 148px; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-check, .popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-select { position: static; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-check { width: 140px; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li .sales-person-select { width: 150px; }
  .popup-summary-sales-person-change .sales-person-change-list .list-content li .btn-select-gray { width: 90px; } }

.popup-order-package-summary-model .tab-panel-group { padding-top: 20px; }

.popup-order-package-summary-model [class$="-orange"] { color: #e63312; }

.popup-order-package-summary-model dl { margin-bottom: 10px; padding: 20px; background: #f1f2f5; }

.popup-order-package-summary-model dl dt { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #dadbdc; font-size: 18px; font-family: HyundaiSansHead-Medium, sans-serif; }

.popup-order-package-summary-model dl dt .discount { float: right; text-align: right; color: #e63312; }

.popup-order-package-summary-model dl dd { position: relative; padding-left: 10px; padding-bottom: 5px; }

.popup-order-package-summary-model dl dd:last-child { padding-bottom: 0; }

.popup-order-package-summary-model dl dd.order-package-tit { padding-left: 0; font-size: 18px; font-family: HyundaiSansHead-Medium, sans-serif; }

.popup-order-package-summary-model dl dd.order-package-tit:before { content: none; }

.popup-order-package-summary-model dl dd:before { content: ''; position: absolute; top: 10px; left: 0; display: block; width: 4px; height: 4px; background-color: #000; border-radius: 4px; }

.popup-order-package-summary-model dl dd .included span { float: right; }

.popup-order-package-summary-model dl dd .order-package-list { margin-left: -10px; padding-top: 5px; }

.popup-order-package-summary-model dl dd .order-package-list li { position: relative; padding-left: 10px; padding-bottom: 5px; }

.popup-order-package-summary-model dl dd .order-package-list li:before { content: '-'; position: absolute; top: 0; left: 0; }

.popup-order-package-summary-model dl dd .order-package-list li:last-child { padding-bottom: 0; }

.popup-order-package-summary-model dl dd .order-package-list .order-package-list-tit { font-weight: 400; }

.popup-order-package-summary-model dl dd [class^="order-package-list-txt"], .popup-order-package-summary-model dl dd [class^="order-package-bold"] { text-align: right; font-family: HyundaiSansText-Medium, sans-serif; }

.popup-order-package-summary-model .exterior-img { text-align: center; }

.popup-order-package-summary-model .exterior-img img { max-width: 100%; }

.popup-order-package-summary-model .summary-model-payment-info { padding: 16px 0; font-size: 18px; font-family: HyundaiSansText-Medium, sans-serif; background-color: #222; color: #fff; text-align: center; }

.popup-order-package-summary-model .summary-model-payment-info .payment-monthly { font-size: 22px; }

.popup-order-package-summary-model .summary-model-payment-info .payment-monthly span { color: #e63312; }

@media (min-width: 860px) { .popup-order-package-summary-model.col-s { height: calc(800px - 60px); }
  .popup-order-package-summary-model.col-s .popup-content { height: calc(800px - 120px); }
  .popup-order-package-summary-model .order-package-list li { *zoom: 1; }
  .popup-order-package-summary-model .order-package-list li::before, .popup-order-package-summary-model .order-package-list li::after { content: ""; display: block; }
  .popup-order-package-summary-model .order-package-list li::after { clear: both; }
  .popup-order-package-summary-model [class^="order-package-list-txt"], .popup-order-package-summary-model [class^="order-package-bold"] { float: right; }
  .popup-order-package-summary-model .payment-monthly { font-size: 24px; }
  .popup-order-package-summary-model .discount-box dd .order-package-bold { float: none; } }

.popup-summary-finance .select-info { float: none; width: 100%; margin-right: 0; margin-bottom: 20px; }

.popup-summary-finance .pop-btnset-area { margin-top: 20px; }

.popup-summary-finance .pop-btnset-area a { width: 47.36842%; float: left; margin-right: 5.26316%; }

.popup-summary-finance .pop-btnset-area a:last-child { float: right; margin-right: 0; }

@media (min-width: 860px) { .popup-summary-finance .select-info { margin-bottom: 30px; }
  .popup-summary-finance .pop-btnset-area { margin-top: 30px; font-size: 0; }
  .popup-summary-finance .pop-btnset-area a { float: none; width: 190px; margin-right: 20px; font-size: 16px; }
  .popup-summary-finance .pop-btnset-area a:last-child { float: none; } }

.popup-summary-color .pop-btnset-area { margin-top: 20px; }

.popup-summary-color .pop-btnset-area a { width: 47.36842%; float: left; margin-right: 5.26316%; }

.popup-summary-color .pop-btnset-area a:last-child { float: right; margin-right: 0; }

@media (min-width: 860px) { .popup-summary-color .pop-btnset-area { margin-top: 30px; font-size: 0; }
  .popup-summary-color .pop-btnset-area a { float: none; width: 190px; margin-right: 20px; font-size: 16px; }
  .popup-summary-color .pop-btnset-area a:last-child { float: none; } }

.wheels-view-360-exterior .popup-content-title { margin: 0 0 10px; font-size: 20px; }

.wheels-view-360-exterior .popup-content .content-panel { display: none; }

.wheels-view-360-exterior .popup-content .content-panel.is-active { display: block; }

.wheels-view-360-exterior .popup-tab .tab-inner { position: relative; }

.wheels-view-360-exterior .popup-tab .tab-inner::before { content: ''; position: absolute; bottom: 0; left: 0; right: 0; z-index: 10; height: 1px; background-color: #222; }

.wheels-view-360-exterior .popup-tab .tab-inner li { position: relative; width: 47.36842%; float: left; margin-right: 5.26316%; }

.wheels-view-360-exterior .popup-tab .tab-inner li:last-child { width: 47.36842%; float: right; margin-right: 0; }

.wheels-view-360-exterior .popup-tab .tab-inner li button { display: block; position: relative; width: 100%; float: left; margin-left: 0; margin-right: 0; text-align: center; }

.wheels-view-360-exterior .popup-tab .tab-inner li button span { display: block; height: 45px; border: 1px solid #e2e3e6; border-bottom: none; line-height: 45px; color: #666; font-family: HyundaiSansHead-Regular, sans-serif; }

.wheels-view-360-exterior .popup-tab .tab-inner li.is-active button { z-index: 11; background-color: #fff; }

.wheels-view-360-exterior .popup-tab .tab-inner li.is-active button span { color: #000; font-family: HyundaiSansHead-Medium, sans-serif; border-color: #222; }

.wheels-view-360-exterior .popup-tab .tab-inner li.is-active::before { content: ''; position: absolute; bottom: -1px; left: 0; right: 0; height: 1px; background-color: #fff; }

.wheels-view-360-exterior .vr360-wrap { position: relative; }

.wheels-view-360-exterior .vr360-wrap .vr-car-wrap { margin: 30px 0 0; }

.wheels-view-360-exterior .vr360-wrap .vr-car-wrap .inner { position: relative; z-index: -1; padding-top: 55%; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none; }

.wheels-view-360-exterior .vr360-wrap .vr-car-wrap .inner .sequence { overflow: hidden; visibility: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.wheels-view-360-exterior .vr360-wrap .vr-car-wrap .inner .sequence img { position: absolute; top: 0; left: 0; width: 100%; height: auto; }

.wheels-view-360-exterior .vr360-wrap .vr-car-wrap .inner .sequence.on { visibility: visible; }

.wheels-view-360-exterior .vr360-wrap .vr-car-wrap .a11y-hidden { overflow: hidden; position: absolute; top: -9999px; width: 1px; height: 1px; font-size: 1px; line-height: 1px; text-indent: -9999px; clip: rect(1px, 1px, 1px, 1px); }

.wheels-view-360-exterior .vr360-wrap .btn-vr360 { overflow: hidden; position: absolute; top: 50%; left: 50%; width: 50px; height: 50px; margin: -45px 0 0 -25px; background-color: transparent; background-image: url(../../assets/images/icon/ico-vr360-ico-x1.png); background-size: 50px 50px; background-repeat: no-repeat; }

.wheels-view-360-exterior .vr360-wrap .btn-vr360 span { overflow: hidden; position: absolute; top: -9999px; text-indent: -9999px; color: #000; }

.wheels-view-360-exterior .vr360-wrap .progress { position: absolute; top: 0; left: 0; width: 100%; height: 2px; }

.wheels-view-360-exterior .vr360-wrap .progress .bar { position: absolute; top: 0; left: 0; height: 2px; background: #e63312; }

.wheels-view-360-exterior .colorchip-list-wrap { position: relative; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner { overflow: hidden; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list { display: block; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li { float: left; width: 33.33%; margin: 0 0 17px; text-align: center; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li button .color-circle { display: block; position: relative; width: 60px; height: 60px; margin: 0 auto 6px; border-radius: 50%; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li button .color-circle .color-txt { font-size: 14px; color: #000; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li button .color-circle::before { content: ''; display: none; position: absolute; top: 50%; left: 50%; width: 26px; height: 18px; margin: -9px 0 0 -13px; background-image: url(../images/icon/ico-vr360-color-chk.png); }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li button .color-txt { display: block; font-size: 14px; line-height: 21px; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li.is-active .color-circle::after { content: ''; position: absolute; top: 50%; left: 50%; z-index: 20; width: 15px; height: 7px; margin: -7px 0 0 -8px; border-left: 4px solid #fff; border-bottom: 4px solid #fff; transform: rotate(-45deg); }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li.is-active .polar-white .color-circle::after { border-left: 4px solid #666; border-bottom: 4px solid #666; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li .fiery-red .color-circle { background-color: #d11212; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li .iron-grey .color-circle { background-color: #69737e; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li .marina-blue .color-circle { background-color: #4477af; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li .phantom-black .color-circle { background-color: #232425; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li .platinum-silver .color-circle { background-color: #bcc0c4; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li .polar-white .color-circle { border: 1px solid #e8e9eb; background-color: #fff; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li.is-active button .color-circle::before { display: block; }

.wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-prev, .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-next { display: none; position: absolute; top: 50%; width: 40px; height: 40px; }

.wheels-view-360-exterior .panorama-wrap { position: relative; margin: 20px 0 16px; padding-top: 55%; }

.wheels-view-360-exterior .panorama-wrap #panorama { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.wheels-view-360-exterior .panorama-wrap #panorama .pnlm-controls-container { display: none; }

.wheels-view-360-exterior .content-panel-tit { display: block; margin: 0 0 30px; font-size: 18px; line-height: 22px; }

.wheels-view-360-exterior .interiorchip-list { display: block; }

.wheels-view-360-exterior .interiorchip-list li { float: left; width: 120px; text-align: center; }



.wheels-view-360-exterior .interiorchip-list li button .color-circle { display: block; position: relative; width: 60px; height: 60px; margin: 0 auto; border-radius: 50%; background-color: gray; }

.wheels-view-360-exterior .interiorchip-list li button .color-circle .color-txt { font-size: 14px; color: #000; }

.wheels-view-360-exterior .interiorchip-list li button .color-circle::before { content: ''; display: none; position: absolute; top: 50%; left: 50%; width: 26px; height: 18px; margin: -9px 0 0 -13px; background-image: url(../images/icon/ico-vr360-color-chk.png); }

.wheels-view-360-exterior .interiorchip-list li button .color-circle { margin-bottom: 6px; }

.wheels-view-360-exterior .interiorchip-list li button .color-txt { display: block; font-size: 14px; line-height: 21px; }

.wheels-view-360-exterior .interiorchip-list li.is-active button .interior-circle::before { display: block; }

.wheels-video .player-area { position: relative; }

.wheels-video .player-area .player { display: block; position: relative; margin: 0 0 14px; padding-top: 40%; }

.wheels-video .player-area .player iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.wheels-video .player-area .play-info .play-title { display: block; margin: 0 0 4px; font-size: 20px; }

.wheels-video .player-area .play-info .player-desc { font-size: 18px; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner { display: block; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner button { display: block; width: 100%; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner button span { display: block; position: relative; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li { width: 47.36842%; float: left; margin-right: 5.26316%; margin-top: 10px; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li:nth-child(2n) { width: 47.36842%; float: right; margin-right: 0; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li.is-active .img-wrap::before { content: ''; position: absolute; top: 50%; left: 50%; z-index: 10; width: 38px; height: 38px; margin: -19px 0 0 -19px; background-color: rgba(255, 255, 255, 0.8); border-radius: 50%; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li.is-active .img-wrap::after { content: ''; position: absolute; top: 50%; left: 50%; z-index: 20; width: 15px; height: 7px; margin: -7px 0 0 -8px; border-left: 4px solid #e63312; border-bottom: 4px solid #e63312; transform: rotate(-45deg); }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li img { display: block; width: 100%; margin: 0 0 16px; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li strong { display: block; font-size: 14px; font-family: HyundaiSansHead-Regular, sans-serif; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li p { padding: 0 0 15px; font-size: 14px; font-family: HyundaiSansHead-Regular, sans-serif; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li.is-active strong { font-family: HyundaiSansHead-Medium, sans-serif; }

.wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li.is-active p { font-family: HyundaiSansHead-Medium, sans-serif; }

.wheels-video .thumbnail-area .swiper-button-prev, .wheels-video .thumbnail-area .swiper-button-next { display: none; }

.wheels-video .thumbnail-area .btn-thumbnail-area { display: none; }

.wheels-video .dimmed { display: none; }

.wheels-video .thumbnail-area-btn-our { display: none; }

@media (min-width: 860px) { .popup.wheels-view-360-exterior { height: 650px; }
  .popup.wheels-view-360-exterior .popup-content { height: 590px; }
  .wheels-view-360-exterior .popup-tab .tab-inner { position: relative; }
  .wheels-view-360-exterior .popup-tab .tab-inner li { width: 406px; margin: 0 8px 0 0; }
  .wheels-view-360-exterior .popup-tab .tab-inner li button span { height: 50px; font-size: 18px; }
  .wheels-view-360-exterior .popup-tab .tab-inner li:last-child { float: left; width: 406px; margin: 0; }
  .wheels-view-360-exterior .popup-tab .tab-inner::after { content: ''; display: block; clear: both; }
  .wheels-view-360-exterior .vr360-wrap .vr-car-wrap { margin: 0; }
  .wheels-view-360-exterior .vr360-wrap .vr-car-wrap .inner { height: 350px; padding: 0; }
  .wheels-view-360-exterior .vr360-wrap .btn-vr360 { width: 100px; height: 100px; margin: -50px 0 0 -50px; background-size: 100px 100px; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner { margin: 0 46px 0 55px; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list { display: flex; margin: 0; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li { width: 120px; margin: 0; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-list-inner .colorchip-list li .color-txt { display: block; font-size: 14px; line-height: 21px; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-prev, .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-next { display: block; z-index: 20; margin-top: -20px; background-color: rgba(102, 102, 102, 0.7); }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-prev { left: 0; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-prev span { display: block; overflow: hidden; text-indent: -9999px; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-prev::before { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: -5px 0 0 -9px; background-color: #fff; transform: rotate(-45deg); }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-prev::after { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: 4px 0 0 -9px; background-color: #fff; transform: rotate(45deg); }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-next { right: 0; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-next span { display: block; overflow: hidden; text-indent: -9999px; }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-next::before { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: -5px 0 0 -7px; background-color: #fff; transform: rotate(45deg); }
  .wheels-view-360-exterior .colorchip-list-wrap .colorchip-btn-next::after { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: 4px 0 0 -7px; background-color: #fff; transform: rotate(-45deg); }
  .wheels-view-360-exterior .panorama-wrap { height: 300px; padding-top: 0; }
  .wheels-view-360-exterior .panorama-wrap #panorama { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  .wheels-view-360-exterior .mCSB_scrollTools { display: none !important; }
  .wheels-video { height: 632px; }
  .wheels-video .popup-content { height: 572px; padding: 20px; }
  .wheels-video .player-area .player { height: 440px; margin: 0 0 23px; padding: 0; }
  .wheels-video .thumbnail-area { position: absolute; bottom: -20px; left: 0; z-index: 100; width: 100%; padding: 20px 0 15px; background-color: #fff; }
  .wheels-video .thumbnail-area .thumbnail-wrap { overflow: hidden; margin: 0 50px; }
  .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner { display: flex; }
  .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li { float: left; width: 156px; margin: 0 12px; }
  .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li:nth-child(2n) { float: left; width: 156px; margin: 0 12px; }
  .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li button span { display: block; }
  .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li img { width: 156px; height: 88px; margin: 0 0 12px; }
  .wheels-video .thumbnail-area .thumbnail-wrap .thumbnail-inner li p { padding: 0; }
  .wheels-video .thumbnail-area .swiper-button-prev, .wheels-video .thumbnail-area .swiper-button-next { display: block; position: absolute; top: 45px; width: 40px; height: 40px; margin: 0; background-color: #4c4c4c; background-image: none; }
  .wheels-video .thumbnail-area .swiper-button-prev { left: 0; }
  .wheels-video .thumbnail-area .swiper-button-prev::before { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: -5px 0 0 -9px; background-color: #fff; transform: rotate(-45deg); }
  .wheels-video .thumbnail-area .swiper-button-prev::after { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: 4px 0 0 -9px; background-color: #fff; transform: rotate(45deg); }
  .wheels-video .thumbnail-area .swiper-button-next { right: 0; }
  .wheels-video .thumbnail-area .swiper-button-next::before { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: -5px 0 0 -7px; background-color: #fff; transform: rotate(45deg); }
  .wheels-video .thumbnail-area .swiper-button-next::after { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 2px; margin: 4px 0 0 -7px; background-color: #fff; transform: rotate(-45deg); }
  .wheels-video .thumbnail-area .btn-thumbnail-area { display: block; position: absolute; top: -26px; left: 50%; width: 260px; height: 26px; margin: 0 0 0 -130px; background-color: #fff; }
  .wheels-video .thumbnail-area .btn-thumbnail-area span { display: block; overflow: hidden; position: relative; text-indent: -9999px; }
  .wheels-video .thumbnail-area .btn-thumbnail-area::before { content: ''; position: absolute; top: 10px; left: 50%; display: inline-block; width: 0; height: 0; border-style: solid; border-width: 6px 6px 0 6px; border-color: #666 transparent transparent transparent; }
  .wheels-video .dimmed { display: block; position: absolute; top: 60px; right: 0; left: 0; z-index: 10; height: 384px; background-color: rgba(0, 0, 0, 0.8); }
  .wheels-video .dimmed p { padding: 228px 0 0; color: #fff; font-family: HyundaiSansHead-Regular, sans-serif; text-align: center; }
  .wheels-video .dimmed p .color-r { font-size: 18px; color: #e63312; }
  .wheels-video .thumbnail-area-btn-our { position: absolute; bottom: 0; left: 50%; width: 260px; height: 26px; margin: 0 0 0 -130px; background-color: #666; }
  .wheels-video .thumbnail-area-btn-our span { display: block; overflow: hidden; position: relative; text-indent: -9999px; }
  .wheels-video .thumbnail-area-btn-our::before { content: ''; position: absolute; top: 10px; left: 50%; display: inline-block; width: 0; height: 0; border-style: solid; border-width: 6px 6px 0 6px; border-color: #fff transparent transparent transparent; }
  .wheels-video .mCSB_scrollTools { display: none !important; }
  .wheels-video.is-ready .thumbnail-area { display: none; }
  .wheels-video.is-ready .dimmed { display: none; }
  .wheels-video.is-ready .thumbnail-area-btn-our { display: block; } }

/*# sourceMappingURL=map/hos-sg-common.css.map */
