@charset "UTF-8";

  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body {
    background-color: #000;
    overflow: hidden;
  }

  body,
  html {
    height: 100%;
  }

  button {
    cursor: pointer;
  }
  .guideBg {
    width: 100%;
    height: 100%;
    z-index:998;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
  }

  .guideBg div {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    text-align: center;
  }
  .guideBg div img {
    margin-top: 20px;
  }
  .guideBg div p {font-family: 'Nanum Gothic Coding', monospace;}
  .guideBg div p:nth-child(2) {
    margin-top: 20px;
  }
  .guideBg div p:nth-child(3) {
    margin-top: 5px;
    font-weight: 100;
    font-size: 14px;
  }
  .guideBg div button {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    font-size: 12px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    color: #fff;
  }
  .guideBg div button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
  }

  #video_bg {
    width: 2000px;
    position: fixed;
    top: -200px;
    z-index: -2;
  }

  #video_bg video {
    width: 100%;
  }

  #wrap {}

  #wrap_bg {
    width: 14430px;
    height: 955px;
    position: absolute;
    left: 0px;
    top: 150px;
    z-index: -1;
  }

  #wrap_bg img {
    width: 1500px;
    float: left;
  }

  #wrap_bg img:nth-child(1) {
    margin-top: -172px;
  }

  #wrap_bg img:last-child {
    width: 890px;
  }

  #black_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
  }

  #wrap_content {
    z-index: 997;
    position: fixed;
  }
  /*header 시작*/

  header {
    width: 1920px;
    height: 300px;
    position: fixed;
    top: 0;
    margin: auto;
    right: 0;
    left: 0;
  }

  header #logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 0 0 50px;
    width: 200px;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999;
  }

  header #logo img {
    width: 100%;
  }

  header #logo P {
    position: absolute;
    top: 65px;
    left: 45px;
    color: #fff;
    font-size: 12px;
  }
  /*    header #menu {width:50px; height:30px; position:absolute; top:40px; right:30px; cursor:pointer; z-index:999999999999999999999999999999999999999999999999999999999999999999;}*/
  /*    header #menu li {border:1px solid #fff; border-radius:50px; width:8px; height:8px; float:left; margin: 0 3px;  transition:0.3s; }*/
  /*header 끝*/
  /*section1 시작*/

  #section1 {
    width: 1920px;
    height: 1080px;
    position: relative;
    font-family: 'Roboto', sans-serif;
  }

  #section1_text {
    position: absolute;
    top: 340px;
    left: 0px;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    height: 430px;
    width: 1020px;
    z-index: 11;
    display: none;
  }

  #section1_text img {
    opacity: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }

  #section1_text p {
    top: -13px;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 28px;
    opacity: 0;
  }

  #section1_text h1 {
    font-size: 80px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    display: none;
    font-weight: 900;
  }

  #section1_text h5 {
    font-weight: 100;
    font-size: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 170px;
    opacity: 0;
  }
  /*section1 끝*/
  /*section1_button 시작*/

  #button {
    width: 215px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    position: relative;
    margin: 370px auto;
    cursor: pointer;
    perspective: 2000px;
    opacity: 0;
    font-family: 'Quantico', sans-serif;
    z-index: 999999999999;
  }

  #button:hover div:nth-child(1) {
    transform: rotateX(0deg);
  }

  #button:hover div:nth-child(2) {
    transform: rotateX(-90deg);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
  }

  #button div {
    width: 215px;
    height: 45px;
    transition: 0.3s;
    position: absolute;
    font-size: 13px;
  }

  #button div:nth-child(1) {
    color: #fff;
    border: 1px solid #fff;
    transform: rotateX(90deg);
    transform-origin: 50% 50% -24px;
    font-weight: 600;
  }

  #button div:nth-child(2) {
    color: #fff;
    border: 1px solid #fff;
    transform: rotateX(0deg);
    transform-origin: 50% 50% -24px;
  }
  /*section1_button끝*/
  /*    section2 시작*/

  #section2 {
    color: #fff;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0px;
    text-align: center;
    height: 1000px;
    width: 1620px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    display: none;
  }

  #section2_text {
    width: 1000px;
    height: 250px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 160px;
    margin: auto;
    opacity: 0;
  }

  #section2_text h2 {
    font-size: 60px;
    font-weight: 100;
    opacity: 0;
    position: absolute;
    margin: auto;
    right: -50px;
    left: 0;
    font-weight: 700;
  }

  #section2_text p {
    margin-top: 50px;
    font-weight: 100;
    font-size: 15px;
    opacity: 0;
    margin: auto;
    margin-top: 100px;
    right: -30px;
    left: 0;
    position: absolute;
    font-weight: 100;
    letter-spacing: 0.5px;
  }


  #section2_img_wrap0 {
    width: 0px;
    height: 380px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 270px;
    overflow: hidden;
    opacity: 0;
    z-index: 999;
  }

  #section2_img_wrap {
    width: 880px;
    height: 380px;
    margin: auto;
    opacity: 1;
    overflow: hidden;
    z-index: 997;
  }

  .section2_img {
    width: 280px;
    height: 380px;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }

  .section2_img:nth-child(1) {
    opacity: 1;
    margin-right: 20px;
  }

  .section2_img:nth-child(2) {
    opacity: 1;
    margin-right: 20px;
  }

  .section2_img:nth-child(3) {
    opacity: 1;
  }

  .section2_img #section2_img_text {
    width: 280px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 1;
    transition: 0.5s;
    z-index: 99;
    ont-family: 'Roboto', sans-serif;
  }

  .section2_img #section2_img_text h5 {
    font-size: 26px;
    font-weight: 100;
    position: absolute;
    bottom: 200px;
    right: 0;
    left: 0;
    margin: auto;
    font-weight: 300;
    opacity: 0.3;
  }

  .section2_img #section2_img_text p {
    width: 210px;
    font-size: 13px;
    position: absolute;
    font-weight: 100;
    bottom: 150px;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
  }


  .section2_img #bk_bg {
    width: 280px;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
  }

  .section2_img:hover #bk_bg {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .section2_img #line {
    opacity: 0;
  }

  .section2_img #line div:nth-child(1) {
    width: 240px;
    height: 340px;
    position: absolute;
    top: 20px;
    right: -480px;
    border-top: 0.5px solid #fff;
    z-index: 999;
  }

  .section2_img #line div:nth-child(2) {
    width: 240px;
    height: 340px;
    position: absolute;
    top: -680px;
    left: 20px;
    border-left: 0.5px solid #fff;
    z-index: 999;
  }

  .section2_img #line div:nth-child(3) {
    width: 240px;
    height: 340px;
    position: absolute;
    top: 20px;
    left: -480px;
    border-bottom: 0.5px solid #fff;
    z-index: 999;
  }

  .section2_img #line div:nth-child(4) {
    width: 240px;
    height: 340px;
    position: absolute;
    bottom: -680px;
    right: 20px;
    border-right: 0.5px solid #fff;
    z-index: 999;
  }

  .section2_img #line div:nth-child(5) {
    width: 240px;
    height: 340px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: 0.5px solid #fff;
    z-index: 999;
  }

  .section2_img #line div:nth-child(6) {
    width: 240px;
    height: 340px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-left: 0.5px solid #fff;
    z-index: 999;
  }

  .section2_img #line div:nth-child(7) {
    width: 240px;
    height: 340px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-bottom: 0.5px solid #fff;
    z-index: 999;
  }

  .section2_img #line div:nth-child(8) {
    width: 240px;
    height: 340px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-right: 0.5px solid #fff;
    z-index: 999;
  }
  /*    section2 끝*/
  /*section3 시작*/

  #section3 {
    width: 1920px;
    height: 1080px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    opacity: 1;
    display: none;
  }

  #section3_wrap {
    width: 1620px;
    height: 1080px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 1;
  }



  #section3_slide_wrap {
    width: 1345px;
    height: 413px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 160px;
    opacity: 1;
    z-index: 999999999;
    opacity: 0;
  }


  #slide_left {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 0px;
    left: -34px;
    bottom: 0;
    margin: auto;
    overflow: hidden;
  }

  #slide_left_img_wrap {
    width: 3500px;
    height: 250px;
    position: absolute;
    left: 0px;
  }

  #slide_left_img_wrap img {
    width: 250px;
    height: 250px;
    float: left;
  }

  #slide_right {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 20px;
    right: -34px;
    bottom: 0;
    margin: auto;
    overflow: hidden;
  }

  #slide_right_img_wrap {
    width: 3500px;
    height: 250px;
    position: absolute;
    left: 0;
  }

  #slide_right_img_wrap img {
    width: 250px;
    height: 250px;
    float: left;
  }

  #slide_select {
    position: absolute;
    width: 413px;
    height: 413px;
    right: 0;
    left: 0;
    margin: auto;
  }

  #slide_select #slide_select_line {
    width: 413px;
    height: 413px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #slide_select #slide_select_line img {
    position: absolute;
    top: 0;
    left: 0;
  }

  #slide_select #slide_select_line img:nth-child(4) {
    display: none;
  }

  #slide_select #slide_select_line img:nth-child(3) {
    width: 413px;
    height: 413px;
    cursor: pointer;
    display: none;
  }

  #slide_select #slide_select_line img:nth-child(5) {
    width: 37px;
    height: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
    cursor: pointer;
    z-index: 9999999999999999999999999999999;
  }

  #slide_select #slide_select_line img:nth-child(6) {
    width: 37px;
    height: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 373px;
    margin: auto;
    cursor: pointer;
    z-index: 9999999999999999999999999999999;
  }

  #slide_select #slide_select_light {
    width: 413px;
    height: 413px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #slide_select #slide_select_light img {
    position: absolute;
    top: 0;
    left: 0;
  }

  #slide_select #slide_select_light #add_light {
    position: absolute;
    top: 0;
    left: 0;
    width: 413px;
    height: 413px;
    border-radius: 900px;
  }

  #slide_select #slide_select_light #add_light div {
    position: absolute;
    width: 295px;
    height: 295px;
    left: 0;
    right: 0;
    border-radius: 900px;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.6);
    opacity: 0;
  }
  /*select_slide 묶음*/

  #slide_select #slide_select_img_wrap {
    width: 413px;
    height: 413px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #slide_select #slide_select_img_wrap>div {
    width: 413px;
    height: 413px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .slide_select_text {
    position: absolute;
    width: 280px;
    height: 80px;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    opacity: 1;
    color: #fff;
  }

  .slide_select_text h5 {
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  }

  .slide_select_text p {
    font-size: 12px;
    font-weight: 300;
  }
  /*select1 별자리 */

  #select1 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
  }

  #select1 div img {
    width: 100%;
    height: 100%;
  }

  #select1 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select1 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select1 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    bottom: 170px;
    left: 80px;
  }

  #select1 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    bottom: 145px;
    left: 90px;
  }

  #select1 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    bottom: 122px;
    left: 143px;
  }

  #select1 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    bottom: 100px;
    right: 139px;
  }

  #select1 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    bottom: 125px;
    right: 133px;
  }

  #select1 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 172px;
    right: 109.5px;
  }

  #select1 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 133px;
    right: 97px;
  }

  #select1 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 108px;
    right: 94px;
  }
  /*select2 별자리 */

  #select2 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select2 div img {
    width: 100%;
    height: 100%;
  }

  #select2 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select2 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select2 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    bottom: 118px;
    left: 97px;
  }

  #select2 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    bottom: 149px;
    left: 110px;
  }

  #select2 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    bottom: 158px;
    left: 119px;
  }

  #select2 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 181px;
    left: 110.5px;
  }

  #select2 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 175px;
    left: 74px;
  }

  #select2 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 114px;
    left: 135px;
  }

  #select2 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 131px;
    left: 159px;
  }

  #select2 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 132px;
    left: 191px;
  }

  #select2 div:nth-child(11) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 230px;
    left: 189.5px;
  }

  #select2 div:nth-child(12) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 240px;
    right: 77px;
  }
  /*select3 별자리 */

  #select3 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select3 div img {
    width: 100%;
    height: 100%;
  }

  #select3 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select3 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select3 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 124px;
    left: 103.5px;
  }

  #select3 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 153px;
    left: 120px;
  }

  #select3 div:nth-child(5) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    top: 167.5px;
    left: 133px;
  }

  #select3 div:nth-child(6) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    top: 205px;
    left: 128px;
  }

  #select3 div:nth-child(7) {
    position: absolute;
    width: 34px;
    height: 34px;
    opacity: 0;
    bottom: 108px;
    left: 129px;
  }

  #select3 div:nth-child(8) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    bottom: 166px;
    left: 178px;
  }

  #select3 div:nth-child(9) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    top: 178px;
    right: 141px;
  }

  #select3 div:nth-child(10) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    top: 170px;
    right: 118px;
  }

  #select3 div:nth-child(11) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    top: 155px;
    right: 96px;
  }

  #select3 div:nth-child(12) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    top: 160px;
    right: 87px;
  }

  #select3 div:nth-child(13) {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
    top: 186px;
    right: 111px;
  }
  /*select4 별자리 */

  #select4 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select4 div img {
    width: 100%;
    height: 100%;
  }

  #select4 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select4 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select4 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 119px;
    left: 100px;
  }

  #select4 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 183px;
    right: 155px;
  }

  #select4 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 247px;
    right: 112px;
  }

  #select4 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 268px;
    right: 105px;
  }
  /*select5 별자리 */

  #select5 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select5 div img {
    width: 100%;
    height: 100%;
  }

  #select5 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select5 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select5 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 116px;
    left: 102px;
  }

  #select5 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 164px;
    left: 80px;
  }

  #select5 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 156px;
    left: 165px;
  }

  #select5 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 203px;
    left: 190px;
  }

  #select5 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 205px;
    left: 201px;
  }

  #select5 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 224px;
    right: 147px;
  }

  #select5 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 248px;
    right: 169px;
  }

  #select5 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 267px;
    right: 155px;
  }

  #select5 div:nth-child(11) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 221px;
    right: 100px;
  }

  #select5 div:nth-child(12) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 240px;
    right: 92px;
  }

  #select5 div:nth-child(13) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 250px;
    right: 84px;
  }
  /*select6 별자리 */

  #select6 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select6 div img {
    width: 100%;
    height: 100%;
  }

  #select6 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select6 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select6 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 130px;
    left: 111px;
  }

  #select6 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 170px;
    left: 95px;
  }

  #select6 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 95px;
    left: 189px;
  }

  #select6 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 136.5px;
    left: 161px;
  }

  #select6 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 165px;
    left: 137px;
  }

  #select6 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 177.5px;
    left: 116.7px;
  }

  #select6 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 203px;
    left: 104px;
  }

  #select6 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 219px;
    left: 162px;
  }

  #select6 div:nth-child(11) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 170px;
    right: 152px;
  }

  #select6 div:nth-child(12) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 220px;
    right: 180px;
  }

  #select6 div:nth-child(13) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 265px;
    right: 204px;
  }

  #select6 div:nth-child(14) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 180px;
    right: 100px;
  }

  #select6 div:nth-child(15) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 205px;
    right: 107px;
  }

  #select6 div:nth-child(16) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 241px;
    right: 115px;
  }

  #select6 div:nth-child(17) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 282px;
    right: 123px;
  }

  #select6 div:nth-child(18) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 171px;
    right: 81px;
  }
  /*select7 별자리 */

  #select7 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select7 div img {
    width: 100%;
    height: 100%;
  }

  #select7 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select7 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select7 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 244px;
    left: 75px;
  }

  #select7 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 190px;
    left: 170px;
  }

  #select7 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 222px;
    left: 166px;
  }

  #select7 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 182px;
    left: 201px;
  }

  #select7 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 220px;
    left: 204px;
  }

  #select7 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 119px;
    right: 71px;
  }

  #select7 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 253px;
    right: 90px;
  }
  /*select8 별자리 */

  #select8 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select8 div img {
    width: 100%;
    height: 100%;
  }

  #select8 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select8 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select8 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 228px;
    left: 65px;
  }

  #select8 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 180px;
    left: 125.5px;
  }

  #select8 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 221px;
    left: 130px;
  }

  #select8 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 176.7px;
    left: 226px;
  }

  #select8 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 142.5px;
    left: 231px;
  }

  #select8 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 114px;
    right: 111px;
  }

  #select8 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 130px;
    right: 96px;
  }

  #select8 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 196px;
    right: 130px;
  }

  #select8 div:nth-child(11) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 235px;
    right: 124px;
  }

  #select8 div:nth-child(12) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 232px;
    right: 64px;
  }

  #select8 div:nth-child(13) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 249px;
    right: 76px;
  }
  /*select9 별자리 */

  #select9 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select9 div img {
    width: 100%;
    height: 100%;
  }

  #select9 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select9 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select9 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 194px;
    left: 66px;
  }

  #select9 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 234px;
    left: 76px;
  }

  #select9 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 188px;
    left: 126px;
  }

  #select9 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 231.8px;
    left: 112px;
  }

  #select9 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 255px;
    left: 120px;
  }

  #select9 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 196.5px;
    left: 165px;
  }

  #select9 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 127px;
    left: 200.5px;
  }

  #select9 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 168.5px;
    left: 213px;
  }

  #select9 div:nth-child(11) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 220px;
    left: 200px;
  }

  #select9 div:nth-child(12) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 250px;
    left: 184px;
  }

  #select9 div:nth-child(13) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 191.5px;
    left: 236px;
  }

  #select9 div:nth-child(14) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 185px;
    right: 113px;
  }

  #select9 div:nth-child(15) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 166px;
    right: 74.8px;
  }

  #select9 div:nth-child(16) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 140px;
    right: 71px;
  }

  #select9 div:nth-child(17) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 130px;
    right: 100px;
  }
  /*select10 별자리    */

  #select10 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select10 div img {
    width: 100%;
    height: 100%;
  }

  #select10 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select10 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select10 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 162px;
    left: 84px;
  }

  #select10 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 150px;
    left: 116px;
  }

  #select10 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 146.5px;
    left: 154px;
  }

  #select10 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 230px;
    left: 210px;
  }

  #select10 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 88px;
    left: 230px;
  }

  #select10 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 199px;
    right: 90px;
  }

  #select10 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 302px;
    right: 158px;
  }
  /*select11 별자리    */

  #select11 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select11 div img {
    width: 100%;
    height: 100%;
  }

  #select11 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select11 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select11 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 244px;
    left: 96px;
  }

  #select11 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 242.5px;
    left: 122.8px;
  }

  #select11 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 253px;
    left: 134px;
  }

  #select11 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 260px;
    left: 110px;
  }

  #select11 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 275px;
    left: 106px;
  }

  #select11 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 286px;
    left: 125px;
  }

  #select11 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 289px;
    left: 160px;
  }

  #select11 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 283px;
    left: 182.5px;
  }

  #select11 div:nth-child(11) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 242px;
    left: 189px;
  }

  #select11 div:nth-child(12) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 215px;
    left: 183px;
  }

  #select11 div:nth-child(13) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 145px;
    left: 216.5px;
  }

  #select11 div:nth-child(14) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 135px;
    left: 227px;
  }

  #select11 div:nth-child(15) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 131px;
    left: 240px;
  }

  #select11 div:nth-child(16) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 90px;
    left: 260px;
  }

  #select11 div:nth-child(17) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 108px;
    left: 273px;
  }

  #select11 div:nth-child(18) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 128px;
    left: 274px;
  }

  #select11 div:nth-child(19) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 145px;
    left: 281px;
  }
  /*select12 별자리    */

  #select12 {
    width: 413px;
    height: 413px;
    position: relative;
    top: 0;
    left: 0;
    display: none;
  }

  #select12 div img {
    width: 100%;
    height: 100%;
  }

  #select12 div:nth-child(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select12 div:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #select12 div:nth-child(3) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 178px;
    left: 88px;
  }

  #select12 div:nth-child(4) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 151px;
    left: 128px;
  }

  #select12 div:nth-child(5) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 282px;
    left: 118px;
  }

  #select12 div:nth-child(6) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 151px;
    left: 165px;
  }

  #select12 div:nth-child(7) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 261px;
    left: 165px;
  }

  #select12 div:nth-child(8) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 296.5px;
    left: 167px;
  }

  #select12 div:nth-child(9) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 97px;
    left: 148px;
  }

  #select12 div:nth-child(10) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 119px;
    left: 168.5px;
  }

  #select12 div:nth-child(11) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 124px;
    left: 181px;
  }

  #select12 div:nth-child(12) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 116px;
    left: 195px;
  }

  #select12 div:nth-child(13) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 153px;
    left: 198px;
  }

  #select12 div:nth-child(14) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 165px;
    left: 178px;
  }

  #select12 div:nth-child(15) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 180px;
    left: 185px;
  }

  #select12 div:nth-child(16) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 158px;
    left: 215px;
  }

  #select12 div:nth-child(17) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 146px;
    left: 240px;
  }

  #select12 div:nth-child(18) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 115px;
    left: 263px;
  }

  #select12 div:nth-child(19) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 178px;
    left: 252px;
  }

  #select12 div:nth-child(20) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 210px;
    left: 245px;
  }

  #select12 div:nth-child(21) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 228px;
    left: 255px;
  }

  #select12 div:nth-child(22) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 183px;
    left: 278px;
  }

  #select12 div:nth-child(23) {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 1;
    top: 164px;
    left: 305px;
  }




  #section3_text_bt {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    position: absolute;
    bottom: 475px;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
    cursor: pointer;
    display: none;
  }

  #section3_text_bt div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color: #fff;
  }

  #section3_text_box {
    width: 1330px;
    height: 290px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 630px;
  }

  #section3_text1 {
    width: 1200px;
    height: 90px;
    position: absolute;
    top: 10px;
    margin: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
  }

  #section3_text1 h2 {
    width: 1200px;
    height: 50px;
    line-height: 80px;
    color: #fff;
    font-weight: 300;
    font-size: 36px;
  }

  #section3_text1 p {
    width: 1200px;
    height: 40px;
    line-height: 48px;
    color: #fff;
    font-weight: 100;
    font-size: 13px;
  }

  #section3_text2 {
    width: 1200px;
    height: 180px;
    margin: auto;
    position: absolute;
    bottom: -10px;
    opacity: 0;
  }

  #section3_text2 p {
    margin-top: 20px;
    color: #fff;
    font-weight: 100;
    font-size: 17px;
    word-spacing: 1px;
    line-height: 25px;
  }
  /*section3 끝*/
  /*section4 시작*/

  #section4_bl_bg {
    width: 1920px;
    height: 1080px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
  }

  #section4 {
    width: 1920px;
    height: 1080px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    opacity: 1;
    display: none;
  }

  #section4_header {
    width: 560px;
    height: 1080px;
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 50px;
    opacity: 0;
  }

  #section4_header h5 {
    position: absolute;
    bottom: 300px;
    text-align: center;
    width: 560px;
  }

  #section4_first_wrap {
    width: 1200px;
    height: 920px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    z-index: 11;
  }

  #section4_first_wrap>div {
    width: 232px;
    height: 0%;
    box-sizing: border-box;
    border-left: 0.5px solid #dbdbdb;
    color: #fff;
    position: absolute;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
  }

  #section4_first_wrap>div img {
    position: absolute;
    width: 232px;
    top: 0;
    left: 0;
    height: 920px;
    opacity: 0;
  }
  /*    이미지 크기 w232*/

  #section4_first_wrap>div>div {
    width: 320px;
    height: 100px;
    position: absolute;
    left: -150px;
    opacity: 1;
    z-index: 999966;
  }

  #section4_first_wrap>div>div h5 {
    font-size: 66px;
  }

  #section4_first_wrap>div>div p {
    font-size: 13.8px;
  }

  #section4_first_text1 {
    top: 0;
    left: 252px;
  }

  #section4_first_text2 {
    bottom: 0;
    left: 485px;
  }

  #section4_first_text3 {
    top: 0;
    left: 717px;
  }

  #section4_first_text4 {
    bottom: 0;
    left: 948px;
  }

  #section4_first_text1 div {
    opacity: 0;
  }

  #section4_first_text1 div {
    top: 260px;
  }

  #section4_first_text2 div {
    top: 380px;
  }

  #section4_first_text3 div {
    top: 480px;
  }

  #section4_first_text4 div {
    top: 580px;
  }
  /*section4 second*/

  #section4_second1_wrap {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }

  #section4_second2_wrap {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }

  #section4_second3_wrap {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }

  #section4_second4_wrap {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }
  /*section4 second1*/

  #section4_second1_box {
    width: 1820px;
    height: 850px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 180px;
    margin: auto;
  }

  #section4_second1_left {
    width: 450px;
    height: 850px;
    float: left;
    margin-right: 25px;
    border-left: 4px solid #c1ffff;
    border-top: 4px solid #c1ffff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    opacity: 0;
    top: 0;
    left: 80px;
    padding: 10px 0 0 10px;
  }

  #section4_second1_left img {
    opacity: 0.8;
    width: 440px;
    height: 850px;
  }

  #section4_second1_left div {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 200px;
    left: 50px;
    color: #fff;
    opacity: 0;
  }

  #section4_second1_left div h5 {
    font-size: 80px;
  }

  #section4_second1_left div p {
    font-size: 30px;
  }

  #section4_second1_right {
    width: 1320px;
    height: 850px;
    float: left;
    position: relative;
    z-index: 9999999999999999;
  }

  #section4_second1_right img {
    position: absolute;
    left: -80px;
  }

  .section4_second_close_bt {
    width: 31px;
    height: 31px;
    background-color: red;
    position: absolute;
    top: 0;
    right: -30px;
    background: url('../../4page/close_bt.png') 0 0 no-repeat;
    cursor: pointer;
  }

  #section4_second1_right_1 {
    width: 480px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second1_right_1 img {
    width: 420px;
    height: 230px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 50px;
    margin: auto;
    opacity: 0;
  }

  #section4_second1_right_1 div:nth-child(2) {
    width: 420px;
    height: 500px;
    position: absolute;
    top: 380px;
    right: 0;
    left: 50px;
    margin: auto;
    color: #fff;
    opacity: 0;
  }

  #section4_second1_right_1 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second1_right_1 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second1_right_1 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second1_right_1 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #c1ffff;
    border-bottom: 1px solid #c1ffff;
    text-align: center;
    line-height: 25px;
    color: #c1ffff;
    cursor: pointer;
  }

  #section4_second1_right_2 {
    width: 840px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second1_right_2 img {
    width: 365px;
    height: 570px;
    background-color: blue;
    position: absolute;
    top: 260px;
    left: 60px;
    opacity: 0;
  }

  #section4_second1_right_2 div:nth-child(2) {
    width: 430px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 130px;
    left: 320px;
    color: #fff;
    padding: 40px 50px;
    opacity: 0;
  }

  #section4_second1_right_2 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second1_right_2 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second1_right_2 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second1_right_2 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #c1ffff;
    border-bottom: 1px solid #c1ffff;
    text-align: center;
    line-height: 25px;
    color: #c1ffff;
    cursor: pointer;
  }
  /*section4 second2*/

  #section4_second2_box {
    width: 1820px;
    height: 850px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 180px;
    margin: auto;
  }

  #section4_second2_left {
    width: 450px;
    height: 850px;
    float: left;
    margin-right: 25px;
    border-left: 4px solid #e6bafa;
    border-top: 4px solid #e6bafa;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    opacity: 0;
    top: 0;
    left: 80px;
    padding: 10px 0 0 10px;
  }

  #section4_second2_left img {
    opacity: 0.8;
    width: 440px;
    height: 850px;
  }

  #section4_second2_left div {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 200px;
    left: 50px;
    color: #fff;
    opacity: 0;
  }

  #section4_second2_left div h5 {
    font-size: 80px;
  }

  #section4_second2_left div p {
    font-size: 30px;
  }

  #section4_second2_right {
    width: 1320px;
    height: 850px;
    float: left;
    position: relative;
    z-index: 9999999999999999;
  }

  #section4_second2_right img {
    position: absolute;
    left: -80px;
  }

  #section4_second2_right_1 {
    width: 480px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second2_right_1 img {
    width: 575px;
    height: 347px;
    position: absolute;
    top: 440px;
    right: 0;
    left: 50px;
    margin: auto;
    opacity: 0;
  }

  #section4_second2_right_1 div:nth-child(2) {
    width: 420px;
    height: 500px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 50px;
    margin: auto;
    color: #fff;
    opacity: 0;
  }

  #section4_second2_right_1 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second2_right_1 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second2_right_1 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second2_right_1 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #f3cdf0;
    border-bottom: 1px solid #f3cdf0;
    text-align: center;
    line-height: 25px;
    color: #f3cdf0;
    cursor: pointer;
  }

  #section4_second2_right_2 {
    width: 840px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second2_right_2 img {
    width: 577px;
    height: 348px;
    background-color: blue;
    position: absolute;
    top: 120px;
    left: 100px;
    opacity: 0;
  }

  #section4_second2_right_2 div:nth-child(2) {
    width: 430px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 410px;
    left: 320px;
    color: #fff;
    padding: 40px 50px;
    opacity: 0;
  }

  #section4_second2_right_2 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second2_right_2 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second2_right_2 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second2_right_2 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #f3cdf0;
    border-bottom: 1px solid #f3cdf0;
    text-align: center;
    line-height: 25px;
    color: #f3cdf0;
    cursor: pointer;
  }
  /*section4 second3*/

  #section4_second3_box {
    width: 1820px;
    height: 850px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 180px;
    margin: auto;
  }

  #section4_second3_left {
    width: 450px;
    height: 850px;
    float: left;
    margin-right: 25px;
    border-left: 4px solid #c1ffff;
    border-top: 4px solid #c1ffff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    opacity: 0;
    top: 0;
    left: 80px;
    padding: 10px 0 0 10px;
  }

  #section4_second3_left img {
    opacity: 0.8;
    width: 440px;
    height: 850px;
  }

  #section4_second3_left div {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 200px;
    left: 50px;
    color: #fff;
    opacity: 0;
  }

  #section4_second3_left div h5 {
    font-size: 80px;
  }

  #section4_second3_left div p {
    font-size: 30px;
  }

  #section4_second3_right {
    width: 1320px;
    height: 850px;
    float: left;
    position: relative;
    z-index: 9999999999999999;
  }

  #section4_second3_right img {
    position: absolute;
    left: -80px;
  }

  #section4_second3_right_1 {
    width: 480px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second3_right_1 img {
    width: 529px;
    height: 349px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 50px;
    margin: auto;
    opacity: 0;
  }

  #section4_second3_right_1 div:nth-child(2) {
    width: 420px;
    height: 500px;
    position: absolute;
    top: 380px;
    right: 0;
    left: 50px;
    margin: auto;
    color: #fff;
    opacity: 0;
  }

  #section4_second3_right_1 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second3_right_1 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second3_right_1 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second3_right_1 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #c1ffff;
    border-bottom: 1px solid #c1ffff;
    text-align: center;
    line-height: 25px;
    color: #c1ffff;
    cursor: pointer;
  }

  #section4_second3_right_2 {
    width: 840px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second3_right_2 img {
    width: 408px;
    height: 526px;
    background-color: blue;
    position: absolute;
    top: 260px;
    left: 60px;
    opacity: 0;
  }

  #section4_second3_right_2 div:nth-child(2) {
    width: 430px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 130px;
    left: 320px;
    color: #fff;
    padding: 40px 50px;
    opacity: 0;
  }

  #section4_second3_right_2 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second3_right_2 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second3_right_2 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second3_right_2 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #c1ffff;
    border-bottom: 1px solid #c1ffff;
    text-align: center;
    line-height: 25px;
    color: #c1ffff;
    cursor: pointer;
  }
  /*section4 second4*/

  #section4_second4_box {
    width: 1820px;
    height: 850px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 180px;
    margin: auto;
  }

  #section4_second4_left {
    width: 450px;
    height: 850px;
    float: left;
    margin-right: 25px;
    border-left: 4px solid #f3cdf0;
    border-top: 4px solid #f3cdf0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    opacity: 0;
    top: 0;
    left: 80px;
    padding: 10px 0 0 10px;
  }

  #section4_second4_left img {
    opacity: 0.8;
    width: 440px;
    height: 850px;
  }

  #section4_second4_left div {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 200px;
    left: 50px;
    color: #fff;
    opacity: 0;
  }

  #section4_second4_left div h5 {
    font-size: 80px;
  }

  #section4_second4_left div p {
    font-size: 30px;
  }

  #section4_second4_right {
    width: 1320px;
    height: 850px;
    float: left;
    position: relative;
    z-index: 9999999999999999;
  }

  #section4_second4_right img {
    position: absolute;
    left: -80px;
  }

  #section4_second4_right_1 {
    width: 480px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second4_right_1 img {
    width: 576px;
    height: 366px;
    position: absolute;
    top: 460px;
    right: 0;
    left: 50px;
    margin: auto;
    opacity: 0;
  }

  #section4_second4_right_1 div:nth-child(2) {
    width: 420px;
    height: 500px;
    position: absolute;
    top: 100px;
    right: 0;
    left: 50px;
    margin: auto;
    color: #fff;
    opacity: 0;
  }

  #section4_second4_right_1 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second4_right_1 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second4_right_1 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second4_right_1 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #f3cdf0;
    border-bottom: 1px solid #f3cdf0;
    text-align: center;
    line-height: 25px;
    color: #f3cdf0;
    cursor: pointer;
  }

  #section4_second4_right_2 {
    width: 840px;
    height: 850px;
    float: left;
    position: relative;
  }

  #section4_second4_right_2 img {
    width: 419px;
    height: 620px;
    background-color: blue;
    position: absolute;
    top: 70px;
    left: 200px;
    opacity: 0;
  }

  #section4_second4_right_2 div:nth-child(2) {
    width: 430px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 390px;
    left: 320px;
    color: #fff;
    padding: 40px 50px;
    opacity: 0;
  }

  #section4_second4_right_2 div:nth-child(2) h3 {
    font-weight: 100;
    font-size: 13px;
  }

  #section4_second4_right_2 div:nth-child(2) h4 {
    font-size: 33px;
  }

  #section4_second4_right_2 div:nth-child(2) h5 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
  }

  #section4_second4_right_2 div:nth-child(2) p {
    width: 80px;
    font-weight: 100;
    height: 25px;
    font-size: 14px;
    margin-top: 30px;
    border-top: 1px solid #f3cdf0;
    border-bottom: 1px solid #f3cdf0;
    text-align: center;
    line-height: 25px;
    color: #f3cdf0;
    cursor: pointer;
  }
  /*section4 끝*/
  /*section5 시작*/

  #section5 {
    width: 1920px;
    height: 3100px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  #section5_wrap {
    width: 1280px;
    height: 700px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    margin-top: 100px;
    z-index: 12;
  }

  #section5_header {
    width: 1280px;
    height: 700px;
    text-align: center;
    position: relative;
    opacity: 0;
  }

  #section5_header p {
    color: #d76942;
    position: relative;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 100;
  }
  /*t 240*/

  #section5_header h2 {
    font-size: 61px;
    top: 260px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    font-weight: 700;
    letter-spacing: 2px;
  }
  /*t 260*/

  #section5_header h5 {
    font-size: 12px;
    top: 380px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    font-weight: 100;
    line-height: 20px;
  }

  #section5_header #mouse {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
  }

  #section5_header #mouse div:nth-child(1) {
    width: 24px;
    height: 45px;
    border-radius: 15px;
    border: 1px solid #fff;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    position: absolute;
  }

  #section5_header #mouse div:nth-child(2) {
    width: 6px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
  }

  #section5_header #mouse p {
    width: 80px;
    height: 20px;
    color: #fff;
    position: absolute;
    top: 60px;
    left: px;
    right: 0;
    margin: auto;
    font-size: 12px;
  }


  #section5_1 {
    width: 1350px;
    height: 600px;
    position: relative;
    left: -70px;
  }

  #section5_1_img {
    width: 430px;
    height: 290px;
    position: absolute;
    position: absolute;
    top: 110px;
    left: 270px;
  }

  #section5_1_img img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  #section5_1_img img:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 998;
  }

  #section5_1_text {
    width: 500px;
    height: 290px;
    position: absolute;
    top: 140px;
    left: 640px;
    z-index: 1000;
  }

  #section5_1_text h3 {
    position: absolute;
    top: 25px;
    font-weight: 300;
    font-size: 20px;
    color: #ffb21c;
    left: 0;
  }

  #section5_1_text h4 {
    position: absolute;
    top: 53px;
    line-height: 35px;
    font-size: 37px;
    font-weight: 900;
    color: #fff;
    left: 0;
    letter-spacing: 0px;
  }

  #section5_1_text h5 {
    position: absolute;
    top: 140px;
    font-weight: 15px;
    font-weight: 100;
    left: 60px;
  }

  #section5_1_text p {
    position: absolute;
    top: 240px;
    left: 30px;
    width: 155px;
    height: 42px;
    text-align: center;
    font-size: 11px;
    line-height: 42px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
  }

  #section5_2 {
    width: 1350px;
    height: 600px;
    position: relative;
    left: -70px;
  }

  #section5_2_img {
    width: 430px;
    height: 290px;
    position: absolute;
    position: absolute;
    top: 110px;
    right: 270px;
  }

  #section5_2_img img:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }

  #section5_2_img img:nth-child(2) {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 998;
  }

  #section5_2_text {
    width: 500px;
    height: 290px;
    position: absolute;
    top: 140px;
    right: 640px;
    z-index: 1000;
    text-align: right;
  }

  #section5_2_text h3 {
    position: absolute;
    top: 25px;
    font-weight: 300;
    font-size: 20px;
    color: #ffb21c;
    right: 0;
  }

  #section5_2_text h4 {
    position: absolute;
    top: 53px;
    line-height: 35px;
    font-size: 37px;
    font-weight: 900;
    color: #fff;
    right: 0;
    letter-spacing: 0px;
  }

  #section5_2_text h5 {
    position: absolute;
    top: 140px;
    font-weight: 15px;
    font-weight: 100;
    right: 60px;
  }

  #section5_2_text p {
    position: absolute;
    top: 240px;
    right: 30px;
    width: 155px;
    height: 42px;
    text-align: center;
    font-size: 11px;
    line-height: 42px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
  }

  #section5_3 {
    width: 1350px;
    height: 600px;
    position: relative;
    left: -70px;
  }

  #section5_3_img {
    width: 430px;
    height: 290px;
    position: absolute;
    position: absolute;
    top: 110px;
    left: 340px;
  }

  #section5_3_img img:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 999;
  }

  #section5_3_img img:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 998;
  }

  #section5_3_text {
    width: 500px;
    height: 290px;
    position: absolute;
    top: 140px;
    right: 240px;
    z-index: 1000;
    text-align: left;
  }

  #section5_3_text h3 {
    position: absolute;
    top: 45px;
    font-weight: 300;
    font-size: 20px;
    color: #ffb21c;
    left: 0;
  }

  #section5_3_text h4 {
    position: absolute;
    top: 73px;
    line-height: 35px;
    font-size: 37px;
    font-weight: 900;
    color: #fff;
    left: 0;
    letter-spacing: 0px;
  }

  #section5_3_text h5 {
    position: absolute;
    top: 160px;
    font-weight: 15px;
    font-weight: 100;
    left: 0px;
  }

  #section5_3_text p {
    position: absolute;
    top: 260px;
    left: 0px;
    width: 155px;
    height: 42px;
    text-align: center;
    font-size: 11px;
    line-height: 42px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
  }

  #section5_4 {
    width: 1350px;
    height: 600px;
    position: relative;
    left: -70px;
  }

  #section5_4_img {
    width: 430px;
    height: 290px;
    position: absolute;
    position: absolute;
    top: 110px;
    right: 340px;
  }

  #section5_4_img img:nth-child(1) {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 999;
  }

  #section5_4_img img:nth-child(2) {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 998;
  }

  #section5_4_text {
    width: 500px;
    height: 290px;
    position: absolute;
    top: 140px;
    left: 240px;
    z-index: 1000;
    text-align: right;
  }

  #section5_4_text h3 {
    position: absolute;
    top: 45px;
    font-weight: 300;
    font-size: 20px;
    color: #ffb21c;
    right: 0;
  }

  #section5_4_text h4 {
    position: absolute;
    top: 73px;
    line-height: 35px;
    font-size: 37px;
    font-weight: 900;
    color: #fff;
    right: 0;
    letter-spacing: 0px;
  }

  #section5_4_text h5 {
    position: absolute;
    top: 160px;
    font-weight: 15px;
    font-weight: 100;
    right: 0px;
  }

  #section5_4_text p {
    position: absolute;
    top: 260px;
    right: 0px;
    width: 155px;
    height: 42px;
    text-align: center;
    font-size: 11px;
    line-height: 42px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
  }
  /*section5 끝 */
  /*section6 시작*/

  #section6 {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  #section6_wrap {
    width: 1200px;
    height: 800px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }

  #section6_line {}

  #section6_line div:nth-child(1) {
    width: 700px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    transform: rotate(45deg);
    position: absolute;
    top: 626.7px;
    left: -313px;
    transform-origin: top right;
    z-index: 999;
  }

  #section6_line div:nth-child(2) {
    width: 700px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    transform: rotate(45deg);
    position: absolute;
    top: 800px;
    left: 74px;
    transform-origin: top right;
    z-index: 999;
  }

  #section6_line div:nth-child(3) {
    width: 700px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    transform: rotate(45deg);
    position: absolute;
    top: 626.2px;
    left: 115px;
    transform-origin: top right;
    z-index: 999;
  }

  #section6_line div:nth-child(4) {
    width: 900px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    transform: rotate(45deg);
    position: absolute;
    top: 770.2px;
    left: 273px;
    transform-origin: top right;
    z-index: 999;
  }

  #section6_line div:nth-child(5) {
    width: 900px;
    height: 1px;
    background-color: #fff;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    transform: rotate(45deg);
    position: absolute;
    top: 940.5px;
    left: 658px;
    transform-origin: top right;
    z-index: 999;
  }

  #section6_poly {
    width: 850px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    bottom: 0;
    z-index: 13;
  }

  #section6_poly>div {
    width: 150px;
    height: 150px;
    position: absolute;
    border: 1px solid #fff;
    transform: rotate(45deg);
    color: #fff;
  }

  #section6_poly>div:nth-child(1) {
    top: 162px;
    left: 0;
    right: 643px;
    margin: auto;
    border-right: none;
    border-bottom: none;
    border-top: none;
  }

  #section6_poly>div:nth-child(1)>div {
    width: 130px;
    height: 130px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 1px solid #fff;
    transform-origin: center center;
  }

  #section6_poly>div:nth-child(1)>div>p {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 48px;
    right: 0px;
    left: 0px;
    margin: auto;
    transform: rotate(-45deg);
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #fff;
    font-size: 18px;
  }

  #section6_poly>div:nth-child(2) {
    top: 270px;
    left: 0;
    margin: auto;
    right: 427.5px;
    border-top: none;
    overflow: hidden;
    border-bottom: none;
    cursor: pointer;
  }

  #section6_poly>div:nth-child(2)>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
    z-index: 332;
  }

  #section6_poly>div:nth-child(2)>div {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: #000;
    z-index: 333;
    opacity: 0.5;
  }

  #section6_poly>div:nth-child(2)>p {
    position: absolute;
    color: #fff;
    z-index: 334;
    transform: rotate(-45deg);
    top: 65px;
    left: 60px;
    opacity: 1;
    font-size: 13px;
    opacity: 0.5;
  }



  #section6_poly>div:nth-child(3) {
    top: 161.5px;
    left: 0;
    right: 214px;
    margin: auto;
    border-right: none;
    border-bottom: none;
    border-top: none;
  }

  #section6_poly>div:nth-child(3)>p {
    width: 150px;
    height: 100px;
    transform: rotate(-45deg);
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 45px;
    right: -35px;
    left: 0px;
    margin: auto;
    font-weight: 100;
  }

  #section6_poly>div:nth-child(4) {
    top: 270px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: none;
    border-bottom: none;
    border-top: none;
  }

  #section6_poly>div:nth-child(4)>div {
    width: 130px;
    height: 130px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 1px solid #fff;
  }

  #section6_poly>div:nth-child(4)>div>p {
    width: 150px;
    height: 40px;
    position: absolute;
    top: 48px;
    right: 0px;
    left: -10px;
    margin: auto;
    transform: rotate(-45deg);
    text-align: center;
    line-height: 40px;
    font-size: 18px;
  }

  #section6_poly>div:nth-child(4)>div>div {
    width: 80px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    right: 35px;
    left: 0;
    top: 50px;
    transform: rotate(-45deg);
    margin: auto;
  }

  #section6_poly>div:nth-child(5) {
    top: 162px;
    left: 0;
    right: -214px;
    margin: auto;
    border-right: none;
    overflow: hidden;
    border-bottom: none;
    border-top: none;
    cursor: pointer;
  }

  #section6_poly>div:nth-child(5)>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
    z-index: 332;
  }

  #section6_poly>div:nth-child(5)>div {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: #000;
    z-index: 333;
    opacity: 0.5;
  }

  #section6_poly>div:nth-child(5)>p {
    position: absolute;
    color: #fff;
    z-index: 334;
    transform: rotate(-45deg);
    top: 65px;
    left: 60px;
    opacity: 1;
    font-size: 13px;
    opacity: 0.5;
  }

  #section6_poly>div:nth-child(6) {
    top: 269px;
    left: 0;
    right: -428.8px;
    margin: auto;
    border-top: none;
    border-bottom: none;
  }

  #section6_poly>div:nth-child(6)>p {
    width: 150px;
    height: 100px;
    transform: rotate(-45deg);
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: -20px;
    left: 0px;
    margin: auto;
    font-weight: 100;
  }

  #section6_poly>div:nth-child(7) {
    top: 161px;
    left: 0;
    right: -643px;
    margin: auto;
    border-bottom: none;
    border-top: none;
  }

  #section6_poly>div:nth-child(7)>div {
    width: 130px;
    height: 130px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: 1px solid #fff;
    transform-origin: center center;
  }

  #section6_poly>div:nth-child(7)>div>p {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 48px;
    right: 0px;
    left: 0px;
    margin: auto;
    transform: rotate(-45deg);
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #fff;
    font-size: 18px;
  }



  #section6_popbg {
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }

  #section6_pop_1 {
    width: 1000px;
    height: 370px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -150px;
    bottom: 0;
    z-index: 1;
  }

  #section6_pop_1>div:nth-child(1) {
    width: 1000px;
    height: 370px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    border: 0.1px solid #299dba;
    z-index: 3;
  }

  #section6_pop_1>div:nth-child(2) {
    width: 1000px;
    height: 370px;
    background-color: #0a1b2e;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 2;
  }


  #section6_pop_2 {
    width: 1000px;
    height: 370px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -150px;
    bottom: 0;
    z-index: 10;
  }

  #section6_pop_left {
    width: 550px;
    height: 370px;
    float: left;
    position: relative;
  }

  #section6_pop_left>div:nth-child(1) {
    width: 470px;
    height: 295px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 26px;
    background-color: #07d5e7;
    opacity: 1;
  }

  #section6_pop_video {
    width: 495px;
    height: 280px;
    position: absolute;
    top: 0.5px;
    bottom: 0;
    margin: auto;
    background-color: red;
    opacity: 1;
    left: 13px;
    overflow: hidden;
  }

  #section6_video_wrap {
    width: 1980px;
    height: 280px;
    background-color: red;
    position: absolute;
    left: 0;
  }

  #section6_video_wrap img {
    width: 495px;
    height: 280px;
    float: left;
  }

  #section6_pop_video_bg {
    width: 495px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  #section6_pop_video ul {
    width: 495px;
    height: 44px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
  }

  #section6_pop_video ul li {
    width: 40px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  #section6_pop_video ul li img {
    width: 100%;
  }

  #section6_pop_video ul li:nth-child(1) {
    float: left;
  }

  #section6_pop_video ul li:nth-child(2) {
    float: right;
  }

  #section6_pop_video p {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 4;
  }


  #section6_pop_right {
    width: 450px;
    height: 370px;
    float: left;
    position: relative;
  }

  #section6_pop_right ul {
    width: 437px;
    height: 295px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  #section6_pop_right ul li {
    width: 437px;
    height: 90px;
    position: relative;
    cursor: pointer;
    margin-bottom: 12.5px;
  }

  #section6_pop_right ul li:nth-child(2) {
    margin-bottom: 0px;
  }

  #section6_pop_right>ul>li>div:nth-child(1) {
    width: 437px;
    height: 90px;
    background-color: #07d5e7;
    position: absolute;
    opacity: 0;
  }
  /*선택했을 때 배경색상()*지금은 op:0 ->선택했을때 op:0.15/*/

  #section6_pop_right>ul>li>div:nth-child(2) {
    width: 437px;
    height: 90px;
    box-sizing: border-box;
    position: relative;
  }

  #section6_pop_right>ul>li>div:nth-child(2)>div:nth-child(1) {
    width: 80px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(31, 47, 62, 0.7);
  }
  /*선택했을 때 배경색상()*지금은 rgba(31,47,62,0.7) -> 선택했을때 rgba(31,47,62,0)/*/

  #section6_pop_right>ul>li>div:nth-child(2)>div:nth-child(1) img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #section6_pop_right>ul>li>div:nth-child(2)>div:nth-child(2) {
    color: #fff;
    width: 340px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 24px;
  }

  #section6_pop_right>ul>li>div:nth-child(2)>div:nth-child(2) h5 {
    font-size: 17px;
    position: absolute;
    top: 5px;
    letter-spacing: 1px;
  }

  #section6_pop_right>ul>li>div:nth-child(2)>div:nth-child(2) p {
    font-size: 13px;
    position: absolute;
    bottom: 5px;
    font-weight: 100;
    color: #d9d9d9;
  }


  #section6_pop_right ul li:nth-child(1)>#pop_right_select1 {
    opacity: 0.15;
  }
  /*선택했을 때 배경색상*/

  #section6_pop_right ul li:nth-child(1)>#section6_pop_right_content1>#right_play_bt1 {
    background-color: rgba(31, 47, 62, 0);
  }

  #section6_pop_right ul li:nth-child(2) {
    margin-bottom: 12.5px;
  }


  #section6_pop_right>ul>li:nth-child(3)>.section6_pop_right_content>.right_video_text h5 {
    top: 15px;
  }

  #section6_pop_right>ul>li:nth-child(3)>.section6_pop_right_content>.right_video_text p {
    bottom: 17px;
  }

  #section6_pop_close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    border: 1px solid #49d6e9;
    opacity: 0.5;
  }

  #section6_pop_close div:nth-child(1) {
    width: 15px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
    transform-origin: 50% 50%;
  }

  #section6_pop_close div:nth-child(2) {
    width: 15px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
  }
  /*section6 첫번째 영상 https://www.youtube.com/watch?v=izYiDDt6d8s*/
  /*section6 두번째 영상 https://www.youtube.com/watch?v=Vdb9IndsSXk*/
  /*section6 세번째 영상 https://www.youtube.com/watch?v=ypR0y7GVMAQ*/
  /*-------------------------------------------------두번째 팝업--------------------------------------*/

  #section6_popbg_2 {
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  #section6_pop_1_2 {
    width: 1000px;
    height: 370px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -150px;
    bottom: 0;
    z-index: 10;
  }

  #section6_pop_1_2>div:nth-child(1) {
    width: 1000px;
    height: 370px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    border: 0.1px solid #299dba;
    z-index: 3;
  }

  #section6_pop_1_2>div:nth-child(2) {
    width: 1000px;
    height: 370px;
    background-color: #0a1b2e;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 2;
  }

  #section6_pop_2_2 {
    width: 1000px;
    height: 370px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: -150px;
    bottom: 0;
    z-index: 10;
  }

  #section6_pop_2_2_wrap {
    width: 940px;
    height: 310px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #section6_pop_left_2 {
    width: 310px;
    height: 310px;
    float: left;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }

  #section6_pop_left_2 div {
    width: 309px;
    height: 309px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(7, 213, 231, 0.2);
    background: url('../../6page/6page_sum_1/1.jpg');
    background-size: cover;
  }

  #section6_pop_left_2 h5 {
    position: absolute;
    width: 210px;
    height: 22px;
    font-size: 20px;
    color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    line-height: 20px;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
  }

  #section6_pop_right_2 {
    width: 600px;
    height: 310px;
    float: left;
  }

  #section6_pop_right_2 table {
    width: 600px;
    height: 310px;
  }
  /*border:1px solid rgba(41,157,186,0.4);*/

  #section6_pop_right_2 table tr td {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: red;
  }

  #section6_pop_right_2 table tr:nth-child(1) td:nth-child(1) div {
    display: none;
  }

  #section6_pop_right_2 table tr td div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  #section6_pop_right_2 table tr td img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }


  #section6_pop_close_2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    border: 1px solid #49d6e9;
    opacity: 0.5;
    z-index: 9999999999;
  }

  #section6_pop_close_2 div:nth-child(1) {
    width: 15px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
    transform-origin: 50% 50%;
  }

  #section6_pop_close_2 div:nth-child(2) {
    width: 15px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
  }
  /*section6 끝*/
  /*section7 시작*/

  #section7 {
    display: none;
    background-color: blue;
    z-index: 99;
  }

  #section7_wrap {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    position: absolute;
  }

  #section7_text {
    width: 600px;
    height: 200px;
    position: absolute;
    bottom: 270px;
    right: 400px;
    text-align: right;
  }

  #section7_text p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 0;
    z-index: 999;
  }

  #section7_text h2 {
    font-size: 60px;
    color: #fff;
    line-height: 60px;
    position: absolute;
    top: 35px;
    right: 0;
    display: none;
    z-index: 999;
  }

  #section7_spot_click div {
    z-index: 999;
    display: none;
  }

  #section7_spot_click div:nth-child(1) {
    width: 100px;
    height: 20px;
    top: 280px;
    left: 228px;
    position: absolute;
    color: #d2fcff;
    font-size: 12px;
  }

  #section7_spot_click div:nth-child(2) {
    width: 130px;
    height: 20px;
    top: 310px;
    left: 558px;
    position: absolute;
    color: #d2fcff;
    font-size: 12px;
  }

  #section7_spot_click div:nth-child(3) {
    width: 100px;
    height: 20px;
    top: 140px;
    left: 828px;
    position: absolute;
    color: #d2fcff;
    font-size: 12px;
  }

  #section7_spot_click div:nth-child(4) {
    width: 130px;
    height: 20px;
    top: 160px;
    left: 1158px;
    position: absolute;
    color: #d2fcff;
    font-size: 12px;
  }



  #section7_spot {
    position: absolute;
    display: none;
  }

  #section7_spot>div {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 999;
  }

  #section7_spot #spot1 {
    top: 240px;
    left: 220px;
    opacity: 1;
  }

  #section7_spot #spot2 {
    top: 270px;
    left: 550px;
    opacity: 1;
  }

  #section7_spot #spot3 {
    top: 100px;
    left: 820px;
    opacity: 1;
  }

  #section7_spot #spot4 {
    top: 120px;
    left: 1150px;
    opacity: 1;
  }


  #section7_spot>div div:nth-child(1) {
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0.1;
  }

  #section7_spot>div div:nth-child(2) {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0.1;
    filter: blur(6px);
  }
  /*section7 pop1 장소*/

  #section7_place {
    width: 1185px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid rgba(68, 189, 210, 0.5);
    display: none;
    z-index: 999;
  }

  #section7_place_ex img {
    width: 1185px;
    height: 460px;
    position: absolute;
    top: 5px;
    left: 0;
    opacity: 0;
  }

  #section7_place_spot_wrap {
    width: 1185px;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #section7_place_spot_wrap>div {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
  }

  #section7_place_spot1 {
    top: 100px;
    left: 375px;
    opacity: 0;
  }

  #section7_place_spot2 {
    top: 100px;
    left: 280px;
    opacity: 0;
  }

  #section7_place_spot3 {
    top: 105px;
    left: 665px;
    opacity: 0;
  }

  #section7_place_spot4 {
    top: 90px;
    left: 815px;
    opacity: 0;
  }

  #section7_place_spot_wrap>div div:nth-child(1) {
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #56bdd2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  #section7_place_spot_wrap>div div:nth-child(2) {
    width: 26px;
    height: 26px;
    border-radius: 30px;
    border: 1px solid #56bdd2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
    opacity: 0.5;
  }

  #section7_place_spot_wrap>div div:nth-child(3) {
    width: 29px;
    height: 29px;
    border-radius: 30px;
    background-color: #56bdd2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0.1;
    filter: blur(3px);
  }
  /*top+33 / left-10*/

  #section7_place_spot_ex div {
    opacity: 0;
  }

  #section7_place_spot_ex {
    color: #56bdd2;
    font-size: 11.5px;
    font-family: 'Quantico', sans-serif;
  }

  #section7_place_spot_ex div:nth-child(1) {
    position: absolute;
    top: 133px;
    left: 370px;
  }

  #section7_place_spot_ex div:nth-child(2) {
    position: absolute;
    top: 133px;
    left: 270px;
  }

  #section7_place_spot_ex div:nth-child(3) {
    position: absolute;
    top: 138px;
    left: 660px;
  }

  #section7_place_spot_ex div:nth-child(4) {
    position: absolute;
    top: 123px;
    left: 805px;
  }

  #section7_place>h5 {
    position: absolute;
    color: #fff;
    font-size: 12px;
    width: 800px;
    height: 50px;
    top: 260px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-weight: 100;
    opacity: 0;
  }
  /*top 260px*/

  #section7_place>p {
    position: absolute;
    color: #56bdd2;
    width: 48px;
    height: 20px;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    border-bottom: 1px solid #56bdd2;
    text-align: center;
    display: none;
  }

  #section7_palce_close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
    opacity: 0.5;
  }

  #section7_palce_close div:nth-child(1) {
    width: 25px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
    transform-origin: 50% 50%;
  }

  #section7_palce_close div:nth-child(2) {
    width: 25px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
  }
  /*section7 pop2 조건*/

  #section7_conditions {
    width: 1185px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid rgba(68, 189, 210, 0.5);
    display: none;
    z-index: 999;
  }

  #section7_conditions_line div:nth-child(1) {
    width: 10px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 340px;
    border-right: 1px solid rgba(73, 214, 233, 0.5);
  }

  #section7_conditions_line div:nth-child(2) {
    width: 10px;
    height: 321px;
    position: absolute;
    bottom: 0;
    left: 340px;
    border-right: 1px solid rgba(73, 214, 233, 0.5);
  }

  #section7_conditions_line div:nth-child(3) {
    width: 34px;
    height: 34px;
    transform: rotate(45deg);
    border-right: 1px solid rgba(73, 214, 233, 0.7);
    border-top: 1px solid rgba(73, 214, 233, 0.7);
    position: absolute;
    top: 97px;
    left: 333px;
  }

  #section7_conditions_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 460px;
  }

  #section7_conditions_left div:nth-child(1) {
    width: 350px;
    height: 130px;
    position: relative;
    float: left;
  }

  #section7_conditions_left div:nth-child(1) h2 {
    width: 350px;
    height: 30px;
    bottom: 17px;
    position: absolute;
    color: #49d6e9;
    text-align: center;
    font-weight: 300;
    font-size: 21px;
  }

  #section7_conditions_left div:nth-child(2) {
    width: 350px;
    height: 280px;
    float: left;
    position: relative;
  }

  #section7_conditions_left div:nth-child(2) img {
    width: 270px;
    height: 280px;
    margin-left: 44px;
    position: absolute;
    top: -20px;
  }

  #section7_conditions_left div:nth-child(3) {
    width: 350px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 387px;
  }

  #section7_conditions_right {
    width: 835px;
    height: 460px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
  }

  #section7_conditions_right_wrap {
    width: 705px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  #section7_conditions_right_wrap>div {
    width: 206px;
    height: 290px;
    float: left;
    margin-right: 32px;
    line-height: 19px;
  }

  #section7_conditions_right_wrap>div:nth-child(3) {
    margin-right: 0px;
  }
  /*중간마진 33 */

  #section7_conditions_right_1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13.5px;
  }
  /*right1 윗부분*/

  #section7_conditions_right_1 div:nth-child(1) {
    width: 213px;
    height: 70px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
  }

  #section7_conditions_right_1 div:nth-child(1) span:nth-child(1) {
    width: 55px;
    height: 70px;
    font-size: 70px;
    position: absolute;
    top: 27px;
    left: 0;
    line-height: 0px;
  }

  #section7_conditions_right_1 div:nth-child(1) span:nth-child(2) {
    width: 148px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 15px;
  }
  /*right1 텍스트부분*/

  #section7_conditions_right_1 div:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #e1e1e1
  }
  /*right1 밑줄*/

  #section7_conditions_right_1_m div:nth-child(1) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    opacity: 0;
    position: absolute;
    bottom: 35px;
    left: 7px;
  }

  #section7_conditions_right_1_m div:nth-child(2) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    opacity: 0;
    position: absolute;
    bottom: 25px;
    left: 7px;
  }

  #section7_conditions_right_1_m div:nth-child(3) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    opacity: 0;
    position: absolute;
    bottom: 6px;
    left: 7px;
  }
  /*202 202 50*/

  #section7_conditions_right_2 {
    font-size: 13.5px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #e1e1e1;
    position: relative;
  }

  #section7_conditions_right_2_m div:nth-child(1) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    position: absolute;
    top: 2px;
    left: -3px;
    opacity: 0;
  }

  #section7_conditions_right_2_m div:nth-child(2) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    position: absolute;
    top: 22px;
    left: -3px;
    opacity: 0;
  }

  #section7_conditions_right_2_m div:nth-child(3) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    position: absolute;
    top: 40px;
    left: -3px;
    opacity: 0;
  }
  /*209 209 118*/

  #section7_conditions_right_3 {
    font-size: 13.5px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #e1e1e1;
    position: relative;
  }

  #section7_conditions_right_3_m div:nth-child(1) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    position: absolute;
    bottom: 83px;
    left: 483px;
    opacity: 0;
  }

  #section7_conditions_right_3_m div:nth-child(2) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    position: absolute;
    bottom: 65px;
    left: 483px;
    opacity: 0;
  }

  #section7_conditions_right_3_m div:nth-child(3) {
    width: 0px;
    height: 15px;
    background-color: #4ed8fe;
    position: absolute;
    bottom: 45px;
    left: 483px;
    opacity: 0;
  }
  /*209 209 209*/

  #section7_conditions_close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
    opacity: 0.5;
  }

  #section7_conditions_close div:nth-child(1) {
    width: 25px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
    transform-origin: 50% 50%;
  }

  #section7_conditions_close div:nth-child(2) {
    width: 25px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
  }
  /*section7 pop3 팁*/

  #section7_tips {
    width: 1185px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid rgba(68, 189, 210, 0.5);
    display: none;
    z-index: 999;
  }

  #section7_tips_wrap>h2 {
    width: 400px;
    height: 30px;
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    top: 50px;
    font-size: 20px;
    font-weight: 77;
  }

  #section7_tips_center {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    left: 20px;
    bottom: 0;
    margin: auto;
    display: none;
  }

  #section7_tips_center img {
    position: absolute;
  }

  #section7_tips_center p {
    color: #fff;
    font-size: 15px;
  }

  #section7_tips_center p:nth-child(2) {
    position: absolute;
    top: 77px;
    left: 75px;
  }

  #section7_tips_center p:nth-child(3) {
    position: absolute;
    top: 200px;
    left: 78px;
  }

  #section7_tips_center p:nth-child(4) {
    position: absolute;
    top: 140px;
    left: 178px;
  }

  #section7_tip1 {
    width: 260px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: 13px;
    line-height: 18px;
    color: #10808f;
    font-weight: 100;
    opacity: 0;
  }

  #section7_tip1 span {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
  }

  #section7_tip2 {
    width: 260px;
    height: 300px;
    position: absolute;
    top: 260px;
    left: 70px;
    font-size: 13px;
    line-height: 18px;
    color: #10808f;
    font-weight: 100;
    opacity: 0;
  }

  #section7_tip2 div:nth-child(1) {
    margin-bottom: 10px;
  }

  #section7_tip2 span {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
  }

  #section7_tip3 {
    width: 260px;
    height: 300px;
    position: absolute;
    top: 140px;
    right: 60px;
    font-size: 13px;
    line-height: 18px;
    color: #10808f;
    font-weight: 100;
    opacity: 0;
  }

  #section7_tip3 div:nth-child(1) {
    margin-bottom: 10px;
  }

  #section7_tip3 span {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
  }

  #section7_tip_line {
    display: none;
  }

  #section7_tip_line img:nth-child(1) {
    width: 186px;
    height: 46px;
    position: absolute;
    top: 150px;
    left: 332px;
  }

  #section7_tip_line img:nth-child(2) {
    width: 186px;
    height: 46px;
    position: absolute;
    top: 340px;
    left: 332px;
  }

  #section7_tip_line img:nth-child(3) {
    width: 186px;
    height: 46px;
    position: absolute;
    top: 210px;
    right: 320px;
  }

  #section7_tips_close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
    opacity: 0.5;
  }

  #section7_tips_close div:nth-child(1) {
    width: 25px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
    transform-origin: 50% 50%;
  }

  #section7_tips_close div:nth-child(2) {
    width: 25px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #49d6e9;
    position: absolute;
    top: 15px;
    left: 7.5px;
  }
  /*section7 끝*/
  /*arrow 시작*/

  #arrow_wrap {
    width: 1600px;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
    z-index: 10;
  }

  #arrow_wrap #left {
    width: 110px;
    height: 80px;
    float: left;
    display: none;
  }

  #arrow_wrap #left img {
    float: left;
    cursor: pointer;
  }

  #arrow_wrap #left p {
    float: left;
    font-size: 13px;
    margin-top: 26px;
    cursor: pointer;
  }

  #arrow_wrap #right {
    width: 110px;
    height: 80px;
    float: right;
  }

  #arrow_wrap #right img {
    float: left;
    cursor: pointer;
  }

  #arrow_wrap #right p {
    float: left;
    font-size: 13px;
    margin-top: 26px;
    cursor: pointer;
  }
  /*arrow 끝*/
  /*footer 시작*/

  nav {
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999999999;
  }

  #nav_wrap {
    width: 1200px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: red;
  }

  #ex_text {
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1000px;
    height: 35px;
    border-bottom: 1px solid #fff;
  }

  #ex_text p {
    color: #fff;
    font-weight: 100;
    width: 480px;
    height: 22px;
    line-height: 22px;
    background-color: rgba(255, 255, 255, 0.10);
    margin: auto;
    text-align: center;
    font-size: 13px;
  }


  nav #slide_bt {
    width: 1000px;
    height: 16px;
    position: absolute;
    bottom: 50px;
    margin: auto;
    right: 0;
    left: 0;
  }

  nav #slide_bt li {
    width: 16px;
    height: 16px;
    margin: 0 50px;
    float: left;
    cursor: pointer;
    margin-top: 2px;
  }

  nav #slide_bt li:nth-child(1) {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 0px;
    margin-left: 145px;
  }




  nav #slide_now_text {
    width: 1000px;
    height: 20px;
    position: absolute;
    bottom: 18px;
    margin: auto;
    right: 0;
    left: 0px;
    line-height: 20px;
  }

  nav #slide_now_text li {
    float: left;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 100;
    font-size: 11px;
    text-align: center;
    opacity: 0;
    font-weight: 100;
  }

  nav #slide_now_text li:nth-child(1) {
    margin: 0 70px 0 140px;
    opacity: 1;
  }

  nav #slide_now_text li:nth-child(2) {
    margin: 0 23px;
    0 0
  }

  nav #slide_now_text li:nth-child(3) {
    margin: 0 66px;
    0 0
  }

  nav #slide_now_text li:nth-child(4) {
    margin: 0 19px;
    0 0
  }

  nav #slide_now_text li:nth-child(5) {
    margin: 0 68px;
    0 0
  }

  nav #slide_now_text li:nth-child(6) {
    margin: 0 20px;
    0 0
  }

  nav #slide_now_text li:nth-child(7) {
    margin: 0 75px;
    0 0
  }
  /*footer 끝*/
