<div class="popup" data-id="popup-test">
  <header class="popup-headline">
    <h4>Popup Title</h4>
    <button type="button" class="popup-close">Layer Popup Close</button>
  </header>
  <div class="popup-content scroll-y">
    <p>이 곳에 팝업 상세내용 작성하시면 됩니다.</p>
    <!-- [Start] 팝업 버튼 -->
    <div class="pop-btnset-area">
      <a role="button" class="btn-xs-popup-light-gray" href="#">저장</a>
      <a role="button" class="btn-xs-popup-light-gray popup-close" href="#">취소</a>
    </div>
    <!-- [End] 팝업 버튼 -->
  </div>
</div>